<?php
$this->layout = null;
$myTemplates = ['inputContainer' => '{{content}}'];
$this->Form->templates($myTemplates);
?>
<!DOCTYPE html>
<html lang ="pt_BR">
<head>
    <style>
        /* Loading Spinner */
        .spinner{margin:0;width:70px;height:18px;margin:-35px 0 0 -9px;position:absolute;top:50%;left:50%;text-align:center}.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}
    </style>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Admin - Recuperar a senha</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?= WEBROOT_URL ?>assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?= WEBROOT_URL ?>assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?= WEBROOT_URL ?>assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="<?= WEBROOT_URL ?>assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="<?= WEBROOT_URL ?>assets/images/icons/favicon.png">

    <link rel="stylesheet" type="text/css" href="<?= WEBROOT_URL ?>assets-minified/admin-all-demo.css">

    <!-- JS Core -->
    <script type="text/javascript" src="<?= WEBROOT_URL ?>assets-minified/js-core.js"></script>

    <script type="text/javascript">
        $(window).load(function(){
            setTimeout(function() {
                $('#loading').fadeOut( 400, "linear" );
            }, 300);
        });
    </script>

</head>
<body>
<div id="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<style type="text/css">
    html,body {
        height: 100%;
        background: #fff;
        overflow: hidden;
        background: url("<?= WEBROOT_URL ?>assets/image-resources/blurred-bg/BG_PROFESSOR.jpg") no-repeat center center;
        background-size: cover;
    }
</style>

<script type="text/javascript" src="<?= WEBROOT_URL ?>assets/widgets/wow/wow.js"></script>
<script type="text/javascript">
    /* WOW animations */
    wow = new WOW({
        animateClass: 'animated',
        offset: 100
    });
    wow.init();
</script>

<div class="center-vertical">
    <div class="center-content">

        <div class="col-md-3 center-margin">
            <?= $this->Form->create('Professor') ?>
            <div class="content-box wow bounceInDown modal-content">
                <h3 class="content-box-header content-box-header-alt bg-default">
                        <span class="icon-separator">
                            <i class="glyph-icon icon-cog"></i>
                        </span>
                        <span class="header-wrapper">
                            Recuperar acesso
                            <small>Crie uma nova senha</small>
                        </span>
                </h3>
                <?= $this->Flash->render() ?>
                <div class="content-box-wrapper">
                    <div class="form-group">
                        <div class="input-group">
                            <?= $this->Form->input('password', [
                                'div'           => false,
                                'value'         => '',
                                'label'         => false,
                                'placeholder'   => 'Nova Senha',
                                'class'         => 'validate[required,minSize[6]] form-control',
                            ]) ?>
                            <span class="input-group-addon bg-blue">
                                    <i class="glyph-icon icon-key"></i>
                                </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <?= $this->Form->input('confirm_new_password', [
                                'type'          => 'password',
                                'div'           => false,
                                'label'         => false,
                                'placeholder'   => 'Confirme a Nova Senha',
                                'class' => 'form-control validate[required,minSize[6],equals[password]]'
                            ]) ?>
                            <span class="input-group-addon bg-blue">
                                    <i class="glyph-icon icon-key"></i>
                                </span>
                        </div>
                    </div>

                    <?= $this->Form->button(__('Redefinir a senha'), ['class' => 'btn btn-success btn-block']); ?>
                </div>
            </div>
            <?= $this->Form->end() ?>
        </div>

    </div>
</div>

<!-- JS Demo -->
<script type="text/javascript" src="<?= WEBROOT_URL ?>assets-minified/admin-all-demo.js"></script>

</body>
</html>