<?= $this->layout = null; ?>
<?php
if(count($alunos) <= 0){

    echo '<option>Nenhum aluno encontrado nesta academia...</option>';

}else{

    echo '<option>Selecione um aluno...</option>';

    foreach($alunos as $key => $aluno){
        echo '<option value="'.$key.'">'.$aluno.'</option>';
    }
}

?>