<?php
$myTemplates = ['inputContainer' => '{{content}}'];
$this->Form->templates($myTemplates);
?>

<div class="content-box">
    <h3 class="content-box-header bg-default">
        <?= __('Actions') ?>
        <div class="header-buttons-separator">
            <a class="icon-separator toggle-button" href="#">
                <i class="glyph-icon icon-chevron-down icon-rotate-180"></i>
            </a>
        </div>
    </h3>
    <div class="content-box-wrapper hideee">
        <?= link_button_list(__('Listar Substâncias'), ['action' => 'index']); ?>
    </div>
</div>

<div class="categorias form">
    <?= $this->Form->create($substancia, ['class' => 'form-horizontal bordered-row']); ?>
    <fieldset>
        <legend><?= __('Editar Substância') ?></legend>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                <?= $this->Form->label('name') ?>
            </div>
            <div class="col-sm-6">
                <?= $this->Form->input('name', [
                    'label' => false,
                    'class' => 'form-control validate[required]'
                ]) ?>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">
                <?= $this->Form->label('unidade_medida') ?>
            </div>
            <div class="col-sm-6">
                <?= $this->Form->input('unidade_medida', [
                    'options' => [
                        'mcg'  => 'mcg',
                        'mg'   => 'mg',
                        'g'    => 'g',
                        'kg'   => 'kg',
                        'kcal' => 'kcal'
                    ],
                    'value' => $substancia->unidade_medida,
                    'label' => false,
                    'class' => 'form-control chosen-select validate[required]'
                ]) ?>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">
                <?= $this->Form->label('tipo') ?>
            </div>
            <div class="col-sm-6">
                <?= $this->Form->input('tipo', [
                    'options' => [
                        'tabela nutricional' => 'tabela nutricional',
                        'vitaminas e minerais' => 'vitaminas e minerais',
                        'aminograma'    => 'aminograma'
                    ],
                    'value' => $substancia->tipo,
                    'label' => false,
                    'class' => 'form-control chosen-select validate[required]'
                ]) ?>
            </div>
        </div>

        <div class="form-group text-center">
            <?= $this->Form->button('<i class="glyph-icon icon-check-square-o"></i><span> '.__('Submit').'</span>',
                ['class' => 'btn btn-alt btn-hoverrr btn-default', 'style' =>  'width: 9.5em;', 'escape' => false]); ?>
        </div>
    </fieldset>
    <?= $this->Form->end() ?>
</div>