body
    {
        background: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
	
.tm-white a {
	color: #fff;
}

/* start h1 group */
h1 { 
    margin-top: 0;
    margin-bottom: 25px; 
}
h1,
h2,
h3,
h4
    {
        font-weight: bold;
    }
/* end h1 group */
p 
    { 
        line-height: 1.3em;
        font-size: 18px;
        color: #828383;
        letter-spacing: 1.4px;
        font-family: 'Lato', sans-serif !important;
    }
/* img */
img
    {
        max-width: 100%;
        height: auto;
    }
/* img */

.separator img
    {
        max-width: 100%;
        height: auto;
        margin-bottom: 50px;
        text-align: right;
    }

/* overlay */
.overlay 
    {
       width: 100%;
       height: 100%;
       /*background: rgba(0, 0, 0, 0.4);*/
       padding-top: 10px;
       padding-bottom: 90px;
    }  
/* over lay */

/* start page container */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/* end page container */

/* start preloader */
.preloader
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        /*justify-content: center;*/
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-rotating-plane.sk-spinner 
    {
         width: 30px;
        height: 30px;
        background-color: #ffd41c;
         margin: 0 auto;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
     }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* end preloader */

/* start navigation */
.navbar-default
    {
        background: #fff;
        border: none;
        box-shadow: 0px 0px 8px 2px rgba(50, 50, 50, 0.5);
        margin: 0!important;
    }
.navbar-default .navbar-brand
    {
        color: #28a7e9;
        font-size: 30px;
        font-weight: bold;
        height: 70px;
        line-height: 35px;
    }
.navbar-default .nav li a
    {
        color: #666;
        font-size: 13px;
        font-weight: bold;
        height: 70px;
        line-height: 40px;
    }
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current
    {
        color: #28a7e9;
    }

.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 20px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #28a7e9;
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start home */       
#home
    {
    background: url('../img/bg-academias.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    margin-top: 80px;
    text-align: center;
    width: 100%;
    height: 500px;
    }
#home p
    {
        font-weight: 400;
        font-style: italic;
        line-height: 1.3em;
        letter-spacing: 1.4px;
    }
/*#home img
    {
        display: inline-block;
        margin-top: 30px;
        vertical-align: top;
    } */
#txt_topo
    {
        display: inline-block;
        vertical-align: top;
        left: 10px;
        position: absolute;
        margin-top: 10px;
        width: 90%;
        max-width: 550px;
    }
#computadores
    {   
        display: inline-block;
        vertical-align: bottom;
        margin-top: -245px;
        margin-left: 295px;
        
    }
#home2
    {
    background: url('../images/home-bg-sem-texto2.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    margin-top: 80px;
    text-align: center;
    width: 100%;
    height: 500px;
    }

/* end home */

/* start sobre */
#sobre
    {
        text-align: left;
    }
#sobre .fa
    {
        color: #28a7e9;
        font-size: 60px;
    }
#sobre h3
    {
        font-size: 20px;
    }
/* end sobre */

/* start mais vantagens*/

#titulo_vantagens{
    background-image: url("../images/mais_vantagens.jpg");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 0px;
    height: 200px;
}

.txt_titulos_vantagens {
    padding-top: 70px;
    text-align: left;
}

.fundo_vantagens1{
    display: inline-block;
    vertical-align: top;
    width: 480px;
    max-width: 480px;
    height: 230px;
    margin: -2px;
    background-image: url("../images/aluno_academia.jpg");
}

.fundo_vantagens2{
    display: inline-block;
    vertical-align: top;
    width: 480px;
    max-width: 480px;
    height: 230px;
    margin: -2px;
    background-image: url("../images/mais_completa.jpg");
}

.fundo_vantagens3{
    display: inline-block;
    vertical-align: top;
    width: 480px;
    max-width: 480px;
    height: 230px;
    margin: -2px;
    background-image: url("../images/fonte_recursos.jpg");
}


.fundo_vantagens4{
    display: inline-block;
    vertical-align: top;
    width: 480px;
    max-width: 480px;
    height: 230px;
    margin: -2px;
    background-image: url("../images/muito_mais.jpg");
}

.fundo_vantagens5{
    display: inline-block;
    vertical-align: top;
    width: 480px;
    max-width: 480px;
    height: 230px;
    margin: -2px;
    background-image: url("../images/aluno_academia2.jpg");
}

.fundo_vantagens6{
    display: inline-block;
    vertical-align: top;
    width: 480px;
    max-width: 480px;
    height: 230px;
    margin: -2px;
    background-image: url("../images/mais_completa2.jpg");
}

.fundo_vantagens7{
    display: inline-block;
    vertical-align: top;
    width: 480px;
    max-width: 480px;
    height: 230px;
    margin: -2px;
    background-image: url("../images/fonte_recursos2.jpg");
}
.fundo_vantagens8{
    display: inline-block;
    vertical-align: top;
    width: 480px;
    max-width: 480px;
    height: 230px;
    margin: -2px;
    background-image: url("../images/muito_mais2.jpg");
}
.eftspacing {
vertical-align: center;
font-family: 'Lato', sans-serif; /* ESTILO DA FONTE, PODE SER ALTERADO */
font-size: 11px; /* TAMANHO DA FONTE */
text-align: center;
letter-spacing: 1px;
padding-top: 75px;
color: #fff;
-webkit-transition-duration: .50s;
-webkit-transition: .50s all ease;
-moz-transition: .50s all ease;
-o-transition: .50s all ease;

}
.eftspacing:hover {
vertical-align: center;
font-family: 'Lato', sans-serif;
font-size: 14px; /* TAMANHO DA FONTE AO PASSAR O  MOUSE */
color : #blue;
text-align: center;
letter-spacing: 1px;
-webkit-transition-duration: .50s;
-moz-transform: scale(1.0);
-webkit-transform: scale(1.0);
-o-transform: scale(1.0);
}

.eftspacing strong{
font-size: 35px;
-webkit-transition-duration: .50s;
-webkit-transition: .50s all ease;
-moz-transition: .50s all ease;
-o-transition: .50s all ease;
}

.eftspacing:hover strong{
font-size: 45px;
-webkit-transition-duration: .50s;
-moz-transform: scale(1.0);
-webkit-transform: scale(1.0);
-o-transform: scale(1.0);
}


/* end mais vantagens*/

/* start divider */
#titulo_como_funciona{
    background-image: url("../images/como_funciona.jpg");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 0px;
    height: 200px;
    }
.txt_titulos_como_funciona {
    padding-top: 50px;
    text-align: left;
}
#divider
    {
        padding-bottom: 30px;
        text-align: center;
    }
#divider .fa
    {
        color: #28a7e9;
        font-size: 60px;
    }
#divider h3
    {
        font-size: 20px;
    }
/* end divider */

/* start funciona */
#funciona
    {
        text-align: center;
        padding-bottom: 30px;
    }
#funciona .fa
    {
        color: #28a7e9;
        font-size: 60px;
    }
#funciona h3
    {
        font-size: 20px;
    }
#txt_funciona
    {
        font-size: 12px;
    }
/* end funciona */

/* start video institucional */
#video
    {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
#video .fa
    {
        color: #28a7e9;
        font-size: 60px;
    }
#video h3
    {
        font-size: 20px;
    }
/* end video institucional */

/* start container*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* end container*/

/* start professor */
#titulo_professor_comissionado{
    background-image: url("../images/professor_comissionado.jpg");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 0px;
    height: 200px;
    }
.txt_titulos_professor_comissionado {
    padding-top: 50px;
    text-align: left;
}
#professor
    {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
    }
#professor .fa
    {
        color: #28a7e9;
        font-size: 60px;
    }
#professor h3
    {
        font-size: 20px;
    }
#img_professor{
    padding-top: 35px;
}
/* end professor */

/* start depoimentos */
#titulo_depoimentos{
    background-image: url("../img/like.png");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 0px;
    height: 200px;
    }
.txt_titulos_depoimentos {
    padding-top: 60px;
    text-align: left;
}
#depoimentos
    {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
#depoimentos .fa
    {
        color: #28a7e9;
        font-size: 60px;
    }
#depoimentos h3
    {
        font-size: 20px;
    }
/* end depoimentos */

/* start tenhalog */
#titulo_tenha_log{
    background-image: url("../images/tenha_log.jpg");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 0px;
    height: 200px;
    }
.txt_titulos_tenha_log {
    padding-top: 60px;
    text-align: left;
}
#tenhalog
    {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
    }
#tenhalog .fa
    {
        color: #28a7e9;
        font-size: 60px;
    }
#tenhalog h3
    {
        font-size: 20px;
    }
/* end tenhalog */

/* start quem sou */
#titulo_quem_sou{
    background-image: url("../images/quem_sou.jpg");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 0px;
    height: 200px;
    }
#titulo_quem_sou2{
    background-image: url("../images/quem_sou2.jpg");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 0px;
    height: 200px;
    }
.txt_titulos_quem_sou {
    padding-top: 38px;
    text-align: left;
}
#quemsou
    {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
    }
#quemsou .fa
    {
        color: #28a7e9;
        font-size: 60px;
    }
#quemsou h3
    {
        font-size: 20px;
    }

/* end quem sou */




/* start contact */
#contact
    {
        background-size: cover;
    }
#contact h2
    {
        padding-bottom: 10px;
    }
#contact address
    {
        padding-top: 20px;
    }
#contact address .fa
    {
        background: #28a7e9;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-top: 6px;
        margin-right: 10px;
    }
#contact .contact-form
    {
        padding-top: 40px;
    }
#contact .form-control
    {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        margin-bottom: 20px;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        background: #28a7e9;
        color: #fff;
        font-weight: bold;
        transition: all 0.3s ease;
    }
#contact input[type="submit"]:hover {
    background: #107DB6;
}
/* end contact */
/* start button*/

.botoes {
   border-top: 1px solid #5088c7;
   background: #5088c7;
   background: -webkit-gradient(linear, left top, left bottom, from(#5088c7), to(#5088c7));
   background: -webkit-linear-gradient(top, #5088c7, #5088c7);
   background: -moz-linear-gradient(top, #5088c7, #5088c7);
   background: -ms-linear-gradient(top, #5088c7, #5088c7);
   background: -o-linear-gradient(top, #5088c7, #5088c7);
   padding: 20px 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   color: #ffd51c;
   font-size: 24px;
   font-family: 'Lato', sans-serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 25px;
   width: 250px;
   }

   .botoes:focus {
    outline: none;
    -webkit-ouiline:none;
    -moz-outline: none;
    }
/*.button:hover {
   border-top-color: #5088c7;
   background: #5088c7;
   color: #ffd51c;
   }
.button:active {
   border-top-color: #2969ad;
   background: #2969ad;
   }
*/
/* end button*/

#cadastre-se{
    display: none;
}

#duvidas{
    display: none;
}
/* start footer */
footer
    {
        background: #fff;
        font-weight: 400;
        text-align: center;
        padding: 20px;
    }
/* end footer */

@media screen and ( max-width: 991px ) {
    .templatemo-box {
        margin-bottom: 30px;
    }
    #pricing .active {
        bottom: 0;
    }
    .pricing {
        margin-bottom: 20px;
    }
    #feature img, #download img {
        margin-top: 30px;
    }
    #feature1 img {
        margin-bottom: 30px;
    }
    #computadores{
        display: none;
    }
    #home{
        height: 425px;
    }
    #titulo_vantagens{
        background-image: url("../images/m_mais_vantagens.jpg");
        background-position: center;
        background-repeat: no-repeat;
        padding-right: 0px;
        height: 200px;
    }
    .txt_titulos_vantagens {
        padding-top: 5px;
        text-align: center;
    }
    #titulo_como_funciona{
        background-image: url("../images/m_como_funciona.jpg");
        background-position: center;
        background-repeat: no-repeat;
        padding-right: 0px;
        height: 200px;
    }
    .txt_titulos_como_funciona {
        padding-top: 10px;
        text-align: center;
        padding-bottom: 45px;
    }
    #titulo_professor_comissionado{
        background-image: url("../images/m_professor_comissionado.jpg");
        background-position: center;
        background-repeat: no-repeat;
        padding-right: 0px;
        height: 200px;
    }
    .txt_titulos_professor_comissionado {
        padding-top: 10px;
        text-align: center;
    }
    #titulo_depoimentos{
        background-image: url("../images/m_quem_ja_usou.jpg");
        background-position: center;
        background-repeat: no-repeat;
        padding-right: 0px;
        height: 200px;
    }
    .txt_titulos_depoimentos {
        padding-top: 10px;
        text-align: center;
    }
    #titulo_tenha_log{
        background-image: url("../images/m_tenha_log.jpg");
        background-position: center;
        background-repeat: no-repeat;
        padding-right: 0px;
        height: 200px;
    }
    .txt_titulos_tenha_log {
        padding-top: 10px;
        text-align: center;
    }
    #titulo_quem_sou{
        background-image: url("../images/m_quem_sou.jpg");
        background-position: center;
        background-repeat: no-repeat;
        padding-right: 0px;
        height: 200px;
    }
    #titulo_quem_sou2{
        background-image: url("../images/m_quem_sou2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        padding-right: 0px;
        height: 200px;
    }

    .txt_titulos_quem_sou {
    padding-top: 10px;
    text-align: center;
    }
    #img_professor{
    padding-top: 15px;
    }
    .menu-navbar
    {
        width: 480px;
    	float: right;
    }
    .navbar-default .nav li a
    {
        color: #666;
        font-size: 8px;
        font-weight: bold;
        height: 70px;
        line-height: 40px;
    }

}
@media screen and ( max-width: 767px ) {
    .navbar-default .nav li a {
        height: auto;
        line-height: 2em;
    }
    #feature, #pricing, #download {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    #contact .overlay {
        padding-top: 40px;
    }
    .eftspacing {
        vertical-align: center;
        font-family: ’04b_03′, Lato, sans-serif; /* ESTILO DA FONTE, PODE SER ALTERADO */
        font-size: 10px; /* TAMANHO DA FONTE */
        text-align: center;
        letter-spacing: 0px;
        padding-top: 40px;
        color: #fff;
    }
    .eftspacing strong{
        font-size: 25px;

    }
    .eftspacing:hover {
        vertical-align: center;
        font-family: ’04b_03′, Lato, sans-serif;  /* ESTILO DA FONTE, PODE SER ALTERADO */
        font-size: 10px; /* TAMANHO DA FONTE AO PASSAR O  MOUSE */
        text-align: center;
        letter-spacing: 0px;
    }
    

    .eftspacing:hover strong{
            font-size: 25px;
        }

    .fundo_vantagens1{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 162px;
        background-image: url("../images/aluno_academia.jpg");
    }

    .fundo_vantagens2{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 162px;
        background-image: url("../images/mais_completa.jpg");
    }

    .fundo_vantagens3{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 162px;
        background-image: url("../images/fonte_recursos.jpg");
    }


    .fundo_vantagens4{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 162px;
        margin: -2px;
        background-image: url("../images/muito_mais.jpg");
    }

    .fundo_vantagens5{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 162px;
        margin: -2px;
        background-image: url("../images/aluno_academia2.jpg");
    }

    .fundo_vantagens6{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 162px;
        margin: -2px;
        background-image: url("../images/mais_completa2.jpg");
    }

    .fundo_vantagens7{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 162px;
        margin: -2px;
        background-image: url("../images/fonte_recursos2.jpg");
    }

    .fundo_vantagens8{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 162px;
        margin: -2px;
        background-image: url("../images/muito_mais2.jpg");
    }

    #img_funciona{
        width: 100px;
    }

    .menu-navbar
    {
        display: none;
        width: 100%;

    }

}
/* start media 420 */
@media screen and ( max-width: 420px ){
    .pricing
        {
            padding-bottom: 40px;
        }
    #sobre p
    {
        font-weight: 400;
        line-height: 1.3em;
        letter-spacing: 1.4px;
        text-align: center;
    }
    
}
/* end media 420 */

.social-media
{
    width: 32px;
    height: 32px;
}
.social_icon
{
    display: inline-block;
    margin-top:7px;
    margin-left: 7px;
    margin-right: 7px;
}

.uppercase
{
    
    text-transform: uppercase;
}

.fa-index{
                color: #f4d637;
            }
            .logo_navbar{
                width: 170px;
            }
            .active-sobrenav{
                color: #f3d012!important;
            }
            .sobrenavbar{
              height: 25px;
              padding: 2px 30px;
              background-color: #5089cf;
            }
            .sobrenavbar span{
              font-size: 14px;
              font-family: Lato, sans-serif;
              font-weight: bold;
              color: #FFF;
              margin: 0 15px;
              cursor: pointer;
              text-transform: none;
            }
            .sobrenavbar span:hover{
              color: #f3d012;
            }
            .logo-login {
                width: 50%;
                height: auto;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .identificacao{
                font-family: Lato, sans-serif;
                color: #698cc3;
                font-size: 20px;
            }
            @media all and (max-width: 768px){
                .sobrenavbar{
                    display: none;
                }
            }

            @media only screen and (max-width: 736px) {
          .navzinhas span {
            display: none;
          }
          .navzinhas a{
           font-size: 7px;
           color: black;
          }
          .navzinhas img {
            width: 30px;
            padding-bottom: 5px
          }

        }

    .ye {
            color: #ffd41c;
          }

          ul  {
           font-family: Lato, sans-serif;
           font-size: 1.2em;
           list-style: none;
           padding: 0px;
           color: #828383;
          }

          .pd-22  {
           padding-top: 65px;
          }
table {
    width: 100%;
}

th {
    height: 2em;
    font-size: 2em;
    color: #ffd41c
}

td {
    height: 1.5em;
    font-size: 1.5em;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.calculadorazinha{
    height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid red;        
}

 .midia {
            background: #f4d637;
            color: white;
            font-family: Lato, sans-serif;
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .midias p{
            font-family: 'Lato', sans-serif;
            font-size: 25px;
        }

         #ts-certificate-modal-container #ts-certificate-modal {
            z-index: 10000;
        }
        #ts-certificate-modal-container #ts-certificate-overlay {
            z-index: 9999;
        }
        #trustvox-selo-site-sincero {
            cursor: pointer;
        }
        .exame-logo {
            fill: #c1161c;
            width: 100%;
            height: auto;
        }
        .alinhar-centro {
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            height: 120px;
            display: -webkit-flex;
            -webkit-justify-content: center;
            -webkit-align-items: center;
        }

        .fixo  {
            height: 500px;
        }

        span  {
            font-size: 1.3em;
            color: #f3d012;
            font-weight: bold;
            text-transform: uppercase;
        }
