body{
    overflow-y: auto;
}

/*.admin-content{
    overflow-y: auto;
    max-height: 1080px;
}*/

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.loading{
    display: none;
    background: rgba(255,255,255,0.95);
    z-index: 9999;
    position: fixed;
    float: inherit;
    width: 20%;
    height: 100%;
    margin: 35px 40% 0 40%;
    max-height: 100px;
    border-radius: 5px;
    border: 1px solid #FFF;
    box-shadow: -2px 2px 10px #BBB;
}

/** TEMA PERSONALIZADO CACIQUE DIGITAL **/
/*.bg-orange-cacique{
    background: #e35828;
}

.bg-blue-cacique{
    background: #172458;
}

.color-orange-cacique{
    color: #e35828 !important;
}

#page-sidebar.color-orange-cacique #sidebar-menu li a:hover {
    color: #e35828 !important;
}

#page-sidebar.color-orange-cacique#page-sidebar ul li a:hover .glyph-icon {
    color: #e35828 !important;
    opacity: .9;
    -moz-opacity: .9;
    filter: alpha(opacity:90)
}

#page-sidebar.color-orange-cacique #sidebar-menu li .sidebar-submenu ul li a:hover {
    border-color: #e35828 !important;
}

#page-sidebar.font-inverse #sidebar-menu li a:hover, #page-sidebar.font-inverse #sidebar-menu li.sfHover > a.sf-with-ul {
    border-color: rgba(227, 88, 40, 0.3) !important;
    !*color: rgba(255, 255, 255, .96)*!
}*/

#sidebar-menu li a {
    min-height: 30px;
    height: auto;
}

/** TEMA PERSONALIZADO LOGFITNESS **/
.bg-orange-cacique{
    background: #ffd41c;
}

.bg-blue-cacique{
    background: #5087C7;
}

.color-orange-cacique{
    color: #ffd41c !important;
}

#page-sidebar.color-orange-cacique #sidebar-menu li a:hover {
    color: #ffd41c !important;
}

#page-sidebar.color-orange-cacique#page-sidebar ul li a:hover .glyph-icon {
    color: #ffd41c !important;
    opacity: .9;
    -moz-opacity: .9;
    filter: alpha(opacity:90)
}

#page-sidebar.color-orange-cacique #sidebar-menu li .sidebar-submenu ul li a:hover {
    border-color: #ffd41c !important;
}

#page-sidebar.font-inverse #sidebar-menu li a:hover, #page-sidebar.font-inverse #sidebar-menu li.sfHover > a.sf-with-ul {
    border-color: #6e5814 !important;
    /*color: rgba(255, 255, 255, .96)*/
}
/***********************************************************************************************************************/


#header-logo img{
    max-height: 100%;
    max-width: 90%;
    margin-top: 5px;
}

.assine-pages-img{
    width: 100%;
    margin: -2px 0 -3px 0;
}

.hidden{
    display: none;
}

.assine-pages-preview-box{
    position: fixed;
    float: right;
    right: 0;
    top: 15px;
    width: 20%;
    z-index: 9;
    padding: 0;
    box-shadow: 0 0 10px;
}

.color-category{
    position: relative;
    color: #fff;
    text-shadow: #333 0 0 2px;
    font-weight: bold;
    background: transparent;
    width: auto;
    height: 28px;
    padding: 5px;
    border-radius: 4px;
}

.color-blue{
    color: #005698 !important;
}

.color-red{
    color: #ae2c2d !important;
}

.icons{
    text-align: center;
}

#page-sidebar{
    overflow-y: scroll;
}

#page-sidebar::-webkit-scrollbar{
    background-color: #626262;
    border-radius:2px;
    width: 6px;
}

#page-sidebar::-webkit-scrollbar:hover{
    background-color: #b2b2b2;
    border:1px solid #333333;
}
#page-sidebar::-webkit-scrollbar:active{
    background-color: #878787;
    border:1px solid #333333;
}

#page-sidebar.font-inverse#page-sidebar ul li a:hover .icons{
    color: rgba(255,255,255,1);
    opacity: .9;
    -moz-opacity: .9;
    filter: alpha(opacity:90);
}


#page-sidebar li a .icons {
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity:60);
    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    -o-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

#page-sidebar li a .icons, #page-sidebar li ul li a:before i {
    font-size: 18px;
    line-height: 35px;
    display: block;
    float: left;
    width: 30px;
    height: 36px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    opacity: .7;
    /*opacity: .3;*/
    -moz-opacity: .7;
    /*-moz-opacity: .3;*/
    filter: alpha(opacity:70);
    /*filter: alpha(opacity:30);*/
}



ul.ui-autocomplete{
    width: 400px;
    height: 150px;
    overflow-y: auto;
}

li.ui-menu-item {
    background-color: #fff;
    position: relative;
    float: left;
    width: 98%;
    line-height: 1.8em;
    border: 1px solid #CCC;
    font-size: 0.9em;
    color: #444;
    cursor: pointer;
    text-align: left;
}

li.ui-menu-item:hover {
    background-color: #ebebeb;
}

span.ui-helper-hidden-accessible{
    display: none;
}

.nav-hover, a.nav-hover{
    background: rgba(255,255,255,.05) !important;
    color: rgba(0,0,0,.96) !important;
}

.login-box .user-info span{
    color: #333;
}

#image_preview{
    max-height: 250px;
    max-width: 100%;
}

.index-image{
    max-height: 28px;
}

.foto-produto-preview{
    max-height: 48px;
    max-width: 100%;
}

.editor-toolbar{
    background: rgba(153, 153, 153, 0.34);
    border-radius: 5px 5px 0 0;
    margin: 0 !important;
    padding: 5px;
}

/*
#editor td{
    border: 1px dotted #333;
}*/

.input-table-number{
    width: 60%;
    float: right;
    text-align: right;
}