.claro-tv-parceiro-credenciado{
	background: #d83337;
	height: 54px;
	position: relative;
    min-width: 960px;

}

.barra-marca-claro-tv{
	width: 960px;
	position: relative;
	margin:0 auto;
}

.barra-marca-claro-tv .logo-da-claro-tv{
	float: left;
	padding: 0 20px 0 0;
}

.barra-marca-claro-tv .logo-da-claro-tv img{
	height: 2.2em;
	padding: 0.5em 0;
}

.logo-da-claro-tv span{
	display:none;
}

.barra-marca-claro-tv .logo-icone-claro-tv {
    float: left;
    width: 50px;
    height: 20px;
    display: block;
    padding-top: 14px;
}
.logo-icone-claro-tv span{
	display:none;
}

.logo-icone-claro-fixo{
	width: 18px;
	display: block;
	float: left;
	padding-top: 14px;
	height: 25px;	
}
.logo-icone-claro-fixo span{
	display:none;
}

.parceiroCredenciado{
	float: right;
	padding-top: 18px;
}
.parceiroCredenciado span{
	display:none;
}
