.calculadora{
    	height: 500px;
    }
    .imagem-calc{
    	display: flex;
    }
    .lucro{
	    height: 70px;
	    width: 100%;
	    text-align: center;
	    font-weight: 700;
    }
    .calculadora{
	    margin-top: 40px;
    }
    .calculadora p{
    	font-size: 16px;
    	font-family: nexa_boldregular;
		color: white;
		margin: 0 0 2px
    }
    .form-single{
    	margin: 3px;
    }
    .calculadora input[type="number"] {
    	font-family: nexa_boldregular;
		padding: 8px;
		border: solid 5px #c9c9c9;
		box-shadow: inset 0 0 0 1px #707070;
		transition: box-shadow 0.3s, border 0.3s;
	}
	.calculadora input[type="number"].focus {
		border: solid 5px #969696;
	}
	.formulario_log{
	    width: 100%;
	    border-radius: 10px;
	    padding: 20px;
	    background: rgba(238, 238, 238, 1.0);
	    overflow-x: auto;
	}
	.formulario_log p{
		font-family: nexa_boldregular;
	}
	.formulario_log h1, h2, h3, h4, h5, h6{
		font-family: nexa_boldregular;
		color: #5087C7;
	}
	.formulario_log label{
		font-family: nexa_boldregular
	}
	.formulario{
		margin: 5px 0;
	}
	.tem_prof{
		font-family: nexa_boldregular;
		color: white;
		margin: 0 5px;
	}
	.ganho_com_log{
		font-family: nexa_boldregular;
		color: green!important;
		font-size: 30px;
		padding-top: 25px
	}
	.topo{
		font-family: nexa_boldregular;
		color: white;
		margin-bottom: 25px;
	}
	.total-ganho{
		height: 75px;
	}
	.btn-calcular{
		width: 160px
	}
	.calc-total{
		float: left;
		width: 100%;
		height: 460px;
		padding: 0 5px;
		margin-bottom: 20px;
		background: url("../webroot/img/calculadora.png") no-repeat center center;
	}
	.valores{
       
	}
	@media all and (max-width: 1500px){
		.valores{
	        
		}
	}
	
	@media all and (max-width: 850px){
		.calc-total{
			float: left;
			width: 100%;
			padding: 0 5px;
			margin-bottom: 20px;
			background: url("../webroot/img/calculadora-mobile.png") no-repeat center center;
		}
	}
	@media all and (max-width: 450px){
		
    	.total-ganho{
			height: 70px;
		}
		.btn-calcular{
			width: 160px
		}
	}
</style>