.total-logo-academia{
	display: inline-block;
	width: 130px;
	float: left;
	margin-left: 5px;
}
.total-btn-voltar-loja{
	display: inline-block;
	width: 120px;
	float: left;
}
.logo-acad-paginas, .link-acad-paginas{
	display: inline-block;
	float: left;
	padding-left: 20px;
	cursor: pointer;
}
.logo-acad-paginas{
	width: 30%;
	text-align: center;
	height: 60px;
	margin-bottom: 5px;
}
.logo-acad-paginas h4{
	margin-top: 20px;
	color: rgba(80, 137, 207, 1.0);
}
.link-acad-paginas{
	margin-top: 25px;
	font-size: 10px;
}
.btn-imprimir-catalogo{
	background-color: rgba(80, 137, 207, 1.0);
	color: rgb(255,255,255);
	border: none;
	padding: 15px;
	cursor: pointer;
	border-radius: 5px;
}
.btn-voltar-loja{
	background-color: rgba(72, 159, 54, 1);
	color: rgb(255,255,255);
	border: none;
	padding: 15px;
	cursor: pointer;
	border-radius: 5px;
}
.btn-imprimir-catalogo:hover{
	background-color: rgba(60, 102, 152, 1);
}
.btn-voltar-loja:hover{
	background-color: rgba(55, 119, 42, 1);
}
.total-preview{
	padding: 30px 0 0 0;
}
.complementar-valor-catalogo{
	font-size: 11px;
}
.separador-vertical{
	margin-right: 5px;
    margin-left: 5px;
    border: 0;
    border-left: 2px solid #6e6e6e;
    width: 1%;
    height: 115px;
    float: left;
}
.preco{
	padding-top: 2px;
	width: 100%;
    display: inline-block;
    float: left;
}
.valor-produto-catalogo{
	font-size: 16px;
    font-weight: 700;
}
.sabores{
	font-size: 12px;
}
.dados-box-produto-catalogo{
	text-align: right;
	width: 54%;
	display: inline-block;
	float: left;
}
.dados-box-produto-catalogo p{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0px;
    line-height: 1.2;
}
.nome-catalogo{
	font-size: 12px;
    font-weight: 700;
    text-overflow: ellipsis;
}
.marca-catalogo{
	margin-top: 2px;
}
.marca-catalogo, .duracao-catalogo{
	font-size: 10px;
}
.objetivo-catalogo{
    font-size: 12px;
    padding: 0 10px 2px;
    color: rgb(255,255,255);
    display: inline;
}
.codigo-catalogo{
	font-size: 11px;
	color: #6e6e6e;
}
.codigo-imagem {
    width: 40%;
    display: inline-block;
    float: left;
}
.codigo-imagem img{
	margin-top: 5px;
    max-height: 225px;
    width: auto;
    max-width: 68px;
    max-height: 85px;
}
.logo-acad-preview{
	margin-bottom: 20px;
}
.logo-acad-preview img{
	max-height: 100px;
	width: auto;
}
.separacao-completa{
	background-image: url('../img/separacao-bg.png');
	width: 100%;
	height: 15px;
	background-repeat: repeat-x;
	margin-bottom: 3px;
	float: left;
}
.total-produtos-catalogo{
	margin-top: 25px;
}
.separacao-item{
	background-image: url('../img/separacao-bg.png');
	width: 100%;
    height: 20px;
    background-repeat: repeat-x;
    margin-top: 10px;
    position: absolute;
    float: left;
    bottom: 0;
}
.box-produto-catalogo{
	background-image: url('../img/separacao-bg-item.png');
	background-repeat: repeat-x;
	background-position: bottom;
	width: 45%;
    display: inline-block;
    padding: 5px 5px 0;
    float: left;
    height: 120px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;	
}
.check-catalogo{
	display: inline-block;
	min-width: 210px;
}
.logo-acad img{
	max-height: 100px;
	width: auto;
}
.catalogo h2{
	color: #5089cf;
	font-weight: 700;
}
.catalogo-config{
	box-shadow: 0px 0px 5px 2px #dbdbdb;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}
.catalogo-config h4{
	font-weight: 700;
}
.collapse-control:hover{
	font-weight: 700;
}
.collapse-content{
	display: none
}
.colapses-objetivos[aria-expanded=false] .fa-angle-down {
   display: none;
}
.colapses-objetivos[aria-expanded=true] .fa-angle-right {
   display: none;
}
.colapses-objetivos{
	cursor: pointer;
	font-weight: 700;
}
.colapses-objetivos:hover{
	color: #5089cf;
}
.btn-atualizar-subcategorias{
	background-color: rgb(80, 137, 207);
	color: rgb(255,255,255);
}
.btn-atualizar-subcategorias:hover{
	background-color: rgba(60, 102, 152, 1);
	color: rgb(255,255,255);
}
.subCategoria{
	display: none;
}
.logo-revista{
	max-height: 60px;
	width: auto;
}
.botao-exportar{
	padding: 25px 15px;
}
.catalogo-mobile{
	padding-top: 90px;
	width: 100%;
}
.total-produto-catalogo-mobile{
	width: 100%;
	padding: 5px;
	margin: 5px 0;
	float: left;
}
.foto-codigo{
	padding: 0 5px;
	width: 40%;
	display: inline-block;
	float: left;		
}
.foto-codigo img{
	max-height: 100px;
	max-width: 100px;
}
.codigo-mobile{
	margin-bottom: 10px;
}
.catalogo-mobile hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #dadada;
    width: 95%;
}
.infos-preco{
	padding: 0 5px;
	width: 58%;
	display: inline-block;
	float: left;
}
.infos-preco p{
	margin-bottom: 2px;
}
.logo-imprime{
	height: 50px;
}
.icone-entrega, .text-engrega{
	display: inline-block;
}
.text-engrega{

}
.entrega{
	display: none;
}
@media all and (max-width: 992px){
	.total-btn-voltar-loja{
		display: inline-block;
		width: 120px;
		float: right;
	}
	.entrega{
		display: block;
	}
	.btn-imprimir-catalogo{
		display: none;
	}
	.botao-exportar{
		padding-top: 15px!important;
		padding-bottom: 15px!important;
	    position: fixed;
	    width: 100%;
	    background-color: rgb(255,255,255);
	    box-shadow: 0px 0px 10px 0px;
	}
	.nome-catalogo {
	    font-size: 13px;
	    font-weight: 700;
	    width: 100%;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
}