.categorias {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.categorias-content {
    position: relative;
    top: 10%;
    height: 80%;
    left: 20%;
    width: 60%;
    border-radius: 15px;
    background: #f4d636;
    text-align: center;
    margin-top: 10px;
    overflow-x: auto;
}

.categorias-content::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.categorias-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.categorias-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.categorias-content::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(80,137,207,0.4); 
}


.categorias a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.categorias img{
    width: 100%
    }

.categorias a:hover, .categorias a:focus {
    color: #f1f1f1;
}

.categorias .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-width: 1024px) {
    .categorias-content {
    position: relative;
    top: 3%;
    height: 90%;
    left: 10%;
    width: 80%;
    border-radius: 25px;
    background: #f4d636;
    text-align: center;
    margin-top: 10px;
    }
}

@media screen and (max-width: 450px) {
  .categorias {overflow-y: auto;}
  .categorias a {font-size: 20px}
  .categorias .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .categorias-content {
    position: relative;
    top: 3%;
    height: 90%;
    left: 5%;
    width: 90%;
    border-radius: 25px;
    background: #f4d636;
    text-align: center;
    margin-top: 10px;
    }
}