.total-comparador{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 2500px;
	background-color: rgba(51,51,51,0.9);
	z-index: 100;	
}
.comparador-main{
	width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom: 15px;
    background-color: rgb(255,255,255);
    display: none;
    opacity: 0;
}
.comparador-main button{
    margin-bottom: 5px;
}
.comparador-content{
	width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 350px;
    white-space: nowrap;
    background-color: rgb(255,255,255);
    padding: 10px 5px 15px;
}
.comparador-item{
	display: inline-block;
    width: 200px;
    border: 2px solid;
    border-color: rgb(150,150,150);
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px;
    min-height: 340px; 
}
.btn-exclui-comparador{
    color: rgb(255,0,0);
    display: inline;
    position: relative;
    right: -170px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1
}
.comparador-item-foto{
	width: 100%;
	height: 120px;
	position: relative;
    top: -20px;
}
.comparador-item-dados{
	width: 100%;
    position: relative;
    height: auto;
}
.comparador-item-foto img {
	width: auto;
	height: 120px
}
.comparador-item-dados p{
	margin-bottom: 4px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.comparador-item-dados .nome{
	font-size: 16px;
	color: rgb(80,137,207);
	font-weight: 700;
}
.comprar-comparador{
    width: 48%;
    font-weight: 700;
    background-color: rgba(72, 159, 54, 1);
    color: rgb(255,255,255);
    margin: 2px auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.comprar-comparador:hover{
    background-color: rgba(55, 119, 42, 1);
    color: rgb(255,255,255);
}
.indica-btn{
    width: 48%;
    font-weight: 700;
    background-color: rgba(80, 137, 207, 1);
    color: rgb(255,255,255);
    max-width: 180px;
    margin: 2px auto;
}
.indica-btn:hover{
    background-color: rgba(60, 102, 152, 1);
	color: rgb(255,255,255);
}
.btn-comparar-completo{
	background-color: rgba(72, 159, 54, 1);
    color: rgb(255,255,255);
}
.btn-comparar-completo:hover{
	background-color: rgba(55, 119, 42, 1);
    color: rgb(255,255,255);
}
.compra-indica .btn:focus{
    color: rgb(255,255,255);
}
@media all and (max-width: 500px){
	.comparador-item{
    	width: 145px;
	}
	.btn-exclui-comparador{
	    right: -115px;
	}
	.comprar-comparador{
		width: 100%;
        display: block;
	}
    .indica-btn{
        width: 100%;
        display: block;
    }
}