.formulario{
    padding: 5px
}
.formulario-ebook{
        margin-bottom: 20px;
    }
.ebook {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.ebook-content {
    position: relative;
    padding: 15px;
    top: 10%;
    height: 80%;
    left: 20%;
    width: 60%;
    border-radius: 15px;
    background: white;
    text-align: center;
    margin-top: 10px;
    overflow-x: auto;
}

.ebook-content h2{
    color: #5087C7!important;
}

.ebook-content p{
    font-family: nexa_lightregular;
    font-size: 14px;
}

.ebook-content::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.ebook-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.ebook-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.ebook-content::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(80,137,207,0.4); 
}

.ebook a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.ebook img{
    width: 60%
    }

.ebook a:hover, .ebook a:focus {
    color: #f1f1f1;
}

.ebook .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.btn-download{
    height: 320px;
}
.btn-download a{
    padding: 40% 0;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
@media screen and (max-width: 1024px) {
    .ebook-content {
    position: relative;
    top: 3%;
    height: 90%;
    left: 10%;
    width: 80%;
    border-radius: 25px;
    background: white;
    text-align: center;
    margin-top: 10px;
    }
}
@media screen  and (max-width: 768px){
    .btn-download{
        height: 50px;
    }
    .btn-download a{
        padding: 10px 0;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
}
@media screen and (max-width: 450px) {
    .ebook {overflow-y: auto;}
    .ebook a {font-size: 20px}
    .ebook .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        z-index: 99;
  }
    .ebook-content {
        position: relative;
        top: 3%;
        height: 90%;
        left: 5%;
        width: 90%;
        border-radius: 25px;
        background: white;
        text-align: center;
        margin-top: 10px;
        padding: 5px
    }
}