body{
	height: 100%;
	position: relative;
	font-family: 'Lato', sans-serif!important;
	font-size: 14px;
	background-color: #eeeeee;
}
body a{
  text-decoration: none!important;
}
.item-bg {
	background-size: cover!important; 
	background-position: center center!important; 
}
.ver-perfil{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: rgba(80, 135, 199, 1.0);
}
.filtro{
	border-bottom: 1px solid #c7c7c7;
    min-height: 112px;
}
.btn-buscar-name{
	background-color: rgba(80, 137, 207, 1.0);
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	width: 100%;
}
.btn-buscar-name:hover{
	color: #fff;
}
.inner-filtro{
	padding-top: 20px;
}
.inner-busca{
	padding-top: 20px;
	padding-left: 6px;
	padding-right: 17px;
}
.filtro-select{
	margin-bottom: 10px;
	padding-left : 0;
	padding-right: 10px;
}
.btn-indique{
	padding: 0 10px 0 5px!important;
}
.details-js{
	width: 200px;
}
.details{
	width: 100%;
}
.description{
	padding: 2px 0px;
    /*min-height: 265px;*/
}
.description-top{
	margin-bottom: 5px;
	display: inline-flex;
}
.description-top .logo{
	height: 80px;
	display: inline-block;
}
.description-top .logo .logo-inner{
	display: flex;
    height: 80px;
}
.description-top .logo img{
    border: 2px solid #cccccc;
    border-radius: 4px;
    padding: 1px;
    width: auto;
    max-width: 110px;
    max-height: 78px;
    align-self: center;
}
.description-top .text-name{
	display: inline-block;
	padding-top: 15px;
    margin-left: 10px;
}
.description-top .text-name p{
	font-size: 16px;
	color: rgba(80, 135, 199, 1.0);
}
.description-top .text-name .fa{
	color: rgba(244, 214, 55, 1.0);
}
.baixonavbar{
	display: none;
}
.main-container{
	min-height: 300px;
}
.formulario-indicacao{
	margin-bottom: 15px;
}
#sucesso{
	display: none;
	margin-top: 10px;
	text-align: center!important;
	color: green;
}
.log-footer{
	width: 100%;
	display: inline-block;
	padding: 10px;
	background-color: #efefef
}
.log-footer .fa{
	font-size: 1.3em;
}
.filtro-mobile{
	display: none;
}
@media all and (min-width: 768px){
	.content-left{
    	position: fixed;
    	top: 55px;
    	width: 60%;
	}    
	.logo-logfitness{
		text-align: left;
		display: inline-block;
		float: left;
		width: 50%;
	}
	.logo-logfitness img{
		width: 210px;
	}
	.indicar{
	    display: inline-block;
	    height: 43px;
	    width: 69px;
	    float: right;
	}
	.indicar button{
		height: 43px;
	}
	.academias-lista{
		width: 60%;
    	top: 170px;
    	bottom: 0;
    	position: fixed;
    	overflow-y: scroll;
	}
	.academias-lista .thumbnail{
	    min-height: 490px;
	}
	.academias-lista .thumbnail a{
	    color: initial;
	}	
	.academias-lista .carousel-inner .item{
		height: 280px;
	}
	.academias-lista .carousel-inner .item img{
		height: 100%;
		align-self: center;
		margin: auto;
	}
	.content-logo{
	    width: 90px;
    	display: block;
    	float: left;
	}
	.content-logo img{
		display: inline-block;
	    position: relative;
		left: 20px;
		min-width: 60px;
		max-width: 80px;
		height: 60px;
	    box-shadow: 0px 0px 5px 2px rgba(80, 137, 207, 1.0);
		border-radius: 8px;
		top: -10px;
		background: white;
		padding: 1px;
	}
	.content-name{
		display: inline-block;
		padding-top: 2px; 
	}
	.description-bot{
		min-height: 50px;
	}
	.mapa{
	    width: 40%;
    	position: fixed;
    	right: 0;
    	padding: 0px;
    	bottom: 0px;
    	top: 55px;
	}
	#map {
        height: 100%;
	}
}
@media all and (min-width: 991px){
	.filtro{
		min-height: 80px;
	}
	.academias-lista{
		width: 60%;
    	top: 140px;
    	bottom: 0;
    	position: fixed;
    	overflow-y: scroll;
	}
}
@media all and (max-width: 767px){
	.inner-busca{
		padding-top: 5px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.div-btn{
		padding: 0;
	}
	#cidade{
		padding-right: 0px;
	}
	.btn-buscar-name{
		height: 34px;
		padding-top: 5px;
	}
	.btn-indique{
		display: none;
	}
	.academias-lista{
		width: 100%;
		padding-top: 15px;
	}
	.baixonavbar{
		display: block;
		position: fixed!important;
		bottom: 0;
		background-color: #5089cf;
		z-index: 1;
		height: 45px;
		padding: 2px;
	}
	.inner-filtro {
    	padding-top: 10px;
	}
	.baixonavbar .fa{
		color: white;
	}
	.btn-menu{
		position: relative;
		width: 36px;
		height: 41px;
		left: 50%;
		margin-left: -18px;
	}
	.btn-menu p{
		color: white;
		font-size: 13px;
		margin-top: -6px;
	}
	.log-footer{
		width: 100%;
		margin-bottom: 45px;
		display: inline-block;
		padding: 10px;
	}
	#img-banner-desk{
		display: none
	}
}
@media all and (max-width: 500px){
	.mapa{
		display: none;
	}
	.formulario-indicação{
		padding:  0;
	}
	.academias-lista .carousel-inner .item{
		height: 280px;
	}
	.academias-lista .carousel-inner .item img{
		align-self: center;
		margin: auto;
	}
	.description{
		min-height: 170px;
	}
}
@media all and (min-width: 1500px){
	.academias-lista .carousel-inner .item {
		height: 470px;
	}
	.academias-lista .carousel-inner .item img{

	}
}