body {
  font-family: font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #ffffff;
  color: #46484a; }

a {
  color: #59a0d7; 
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase }

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.8rem;
  font-weight: 500; }

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 500; }

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase; }

p {
  color: #696b6e;
  font-size: 1rem; }

.logo-navbar{
  width: 160px;
}
.descomplica {
  color: white;
  background-image: url(../img/landing-lojas/2.jpg);
  padding: 60px;
  background-size: cover;
  background-position: center center;
 }
.descomplica p {
  color: white;
  padding-top: 15px;
}

.multiplique {
  color: white;
  background-image: url('../img/landing-lojas/blue.jpg');
}

.multiplique h1 {
  color: white;

}


.home {
  width: 100%;
  height: 100%;
}

.mais p {
  padding-top: 80px;
}

.contato {
  padding-top: 105px;
  padding-bottom: 
}

.servicos {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.intro {
padding: 50px
}

.blue-bg {
  background-image: url(../img/landing-lojas/bg-azul.jpg);
  width: 100%;
  height: 410px;
  background-size: cover;
}


.blue-bg p {
  color: white
}

.blue-bg h1 {
  color: white
}

.padding {
  padding: 30px;
}

.multiplique {
  font-size: 1.5em;
}
.maiorzinho {
  font-size: 1em
}

.explique {
  padding-top: 50px
}

.img-intro {
  padding-bottom: 5px !important
}

@media only screen and (max-width: 500px) {
   .mobile-hide{ display: none !important; }
}


@media only screen and (max-width: 500px) {
   .computer { padding-top: 60px; }
}
