.links-footer{
  font-size: 13px;
  font-weight: 700;
  color: #5089cf;
}
.rodape{
  display: block;
  padding-left: 240px;
  padding-right: 240px;
}
.footer-total{
  margin-top: 30px;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 1.0);
  font-family: 'Open Sans', sans-serif!important;
}
.footer-total p{
  font-size: 12.8px;
}
.list-inline{
  padding: 2px 0;
}
.fa-footer{
    color: #5089cf;
}
.selos img{
  height: 60px;
  width: auto;
}
#trustvox-selo-site-sincero img{
  height: 40px;
}
.express-div{
  margin-bottom: 15px;
}
#logexpress-btn{
  display: none;
}
@media all and (max-width: 768px){
  .rodape{
      padding-left: 10px;
      padding-right: 10px;
    } 
}
@media all and (max-width: 450px){
  .footer-total{
  margin-bottom: 30px;
  }
}