.level-up {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.level-up-content {
    position: relative;
    top: 5%;
    height: auto;
    max-height: 85%;
    padding-top: 20px;
    left: 30%;
    width: 40%;
    border-radius: 25px;
    background: #4f88cf;
    text-align: center;
    margin-top: 10px;
    overflow-x: auto;
}

.level-up-content::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.level-up-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.level-up-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.level-up-content::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(80,137,207,0.4); 
}

.level-up a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.level-up img{
    width: 100%
}

.level-up a:hover, .level-up a:focus {
    color: #f1f1f1;
}

.level-up .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.level{
    width: 100%
}

.desafios{
    position: relative;
    left: 5%;
    width: 90%;
    background: white;
    border-radius: 20px;
    height: auto;
    overflow-x: auto
}

.desafios h4{
    color: #4f88cf;
}

.header-separador{
    border: 1px solid #4f88cf;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.desafio-single hr{
    border: 1px solid #f4d636;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
    .level-up-content {
    position: relative;
    top: 5%;
    height: 80%;
    left: 10%;
    width: 80%;
    border-radius: 25px;
    background: #4f88cf;
    text-align: center;
    margin-top: 10px;
    }
    
}

@media screen and (max-width: 450px) {
  .level-up {overflow-y: auto;}
  .level-up a {font-size: 20px}
  .level-up .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .level-up-content {
    position: relative;
    top: 5%;
    height: 80%;
    left: 5%;
    width: 90%;
    border-radius: 25px;
    background: #4f88cf;
    text-align: center;
    margin-top: 10px
    }
    .desafios{
    position: relative;
    left: 5%;
    width: 90%;
    background: white;
    border-radius: 20px;
    height: auto;
    overflow-x: auto
    }
}