.nav-filtro{
	background-color: rgb(80, 137, 207);
	border-color: rgb(80, 137, 207);
}
.nav-filtro a:hover{
	background-color: rgb(80, 137, 207)!important;
}
.container-filtro .navbar-form{
	padding: 8px 0;
}