/*@import "gerencianet.min.css";*/
@import "font-awesome.min.css";

@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/nexa_light-webfont.eot');
    src: url('../fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexa_light-webfont.woff2') format('woff2'),
    url('../fonts/nexa_light-webfont.woff') format('woff'),
    url('../fonts/nexa_light-webfont.ttf') format('truetype'),
    url('../fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/nexa_bold-webfont.eot');
    src: url('../fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexa_bold-webfont.woff2') format('woff2'),
    url('../fonts/nexa_bold-webfont.woff') format('woff'),
    url('../fonts/nexa_bold-webfont.ttf') format('truetype'),
    url('../fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'birdmanoblique';
    src: url('../fonts/birdo___-webfont.eot');
    src: url('../fonts/birdo___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/birdo___-webfont.woff2') format('woff2'),
    url('../fonts/birdo___-webfont.woff') format('woff'),
    url('../fonts/birdo___-webfont.ttf') format('truetype'),
    url('../fonts/birdo___-webfont.svg#birdmanoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'birdmanbold';
    src: url('../fonts/birdb___-webfont.eot');
    src: url('../fonts/birdb___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/birdb___-webfont.woff2') format('woff2'),
    url('../fonts/birdb___-webfont.woff') format('woff'),
    url('../fonts/birdb___-webfont.ttf') format('truetype'),
    url('../fonts/birdb___-webfont.svg#birdmanbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'birdmanlight';
    src: url('../fonts/birdl___-webfont.eot');
    src: url('../fonts/birdl___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/birdl___-webfont.woff2') format('woff2'),
    url('../fonts/birdl___-webfont.woff') format('woff'),
    url('../fonts/birdl___-webfont.ttf') format('truetype'),
    url('../fonts/birdl___-webfont.svg#birdmanlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'birdmanregular';
    src: url('../fonts/birdman_-webfont.eot');
    src: url('../fonts/birdman_-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/birdman_-webfont.woff2') format('woff2'),
    url('../fonts/birdman_-webfont.woff') format('woff'),
    url('../fonts/birdman_-webfont.ttf') format('truetype'),
    url('../fonts/birdman_-webfont.svg#birdmanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_sansregular';
    src: url('../fonts/droidsans-webfont.eot');
    src: url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidsans-webfont.woff2') format('woff2'),
    url('../fonts/droidsans-webfont.woff') format('woff'),
    url('../fonts/droidsans-webfont.ttf') format('truetype'),
    url('../fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alfa_slab_oneregular';
    src: url('../fonts/../fonts/alfaslabone-regular-webfont.eot');
    src: url('../fonts/../fonts/alfaslabone-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/alfaslabone-regular-webfont.woff2') format('woff2'),
    url('../fonts/alfaslabone-regular-webfont.woff') format('woff'),
    url('../fonts/alfaslabone-regular-webfont.ttf') format('truetype'),
    url('../fonts/alfaslabone-regular-webfont.svg#alfa_slab_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-italic-webfont.woff') format('woff'),
    url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/opensans-light-webfont.woff') format('woff'),
    url('../fonts/opensans-light-webfont.ttf') format('truetype'),
    url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic-webfont.eot');
    src: url('../fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibolditalic-webfont.woff') format('woff'),
    url('../fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff'),
    url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic-webfont.eot');
    src: url('../fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bolditalic-webfont.woff') format('woff'),
    url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../fonts/opensans-condbold-webfont.eot');
    src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-condbold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-condbold-webfont.woff') format('woff'),
    url('../fonts/opensans-condbold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('../fonts/opensans-condlight-webfont.eot');
    src: url('../fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-condlight-webfont.woff2') format('woff2'),
    url('../fonts/opensans-condlight-webfont.woff') format('woff'),
    url('../fonts/opensans-condlight-webfont.ttf') format('truetype'),
    url('../fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansCnLtIt';
    src: url('../fonts/opensans-condlightitalic-webfont.eot');
    src: url('../fonts/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-condlightitalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-condlightitalic-webfont.woff') format('woff'),
    url('../fonts/opensans-condlightitalic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-condlightitalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
    url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    margin-left: -2%;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}

.loading{
    display: none;
    background: rgba(255,255,255,0.95);
    z-index: 9999;
    position: fixed;
    float: inherit;
    width: 20%;
    height: 100%;
    margin: 35px 40% 0 40%;
    max-height: 100px;
    border-radius: 5px;
    border: 1px solid #FFF;
    box-shadow: -2px 2px 10px #BBB;
}

.notify{
    display: none;
    position: absolute;
    width: 250px;
    min-height: 120px;
    background: #FFF;
    z-index: 9;
    right: 100px;
    top: 38px;
    color: #333;
    padding: 2px 10px;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(80,135,199,0.59);
    box-shadow: -1px 1px 8px #AAA;
}

.notify a{
    background: rgba(238, 238, 238, 0.38);
    width: 100%;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.notify a:hover{
    background: rgb(238, 238, 238);
}

.notify span{
    width: 110%;
    background: rgb(80, 135, 199);
    display: inline-block;
    color: #FFD41C;
    margin: -18px 0 10px -10px;
    top: 0;
    padding: 2px 10px;
    font-weight: bold;
}

.notify .notifications{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}

.search-bar-fixed{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

.font-bold {
    font-weight: 700 !important
}

.font-bold2{
    font-weight: bold !important
}

.font-italic{
    font-style: italic;
}


/* FONTS SIZE */
.font-06 {
    font-size: 6px;
}

.font-08 {
    font-size: 8px;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.font-26 {
    font-size: 26px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.font-32 {
    font-size: 32px;
}

.font-34 {
    font-size: 34px;
}

.font-36 {
    font-size: 36px;
}

.bg-white {
    background: #FFF;
}

.bg-gray {
    background: #EEE;
}

.bg-black {
    background: #000;
}

.bg-dark {
    background: #333;
}

.color-white {
    background: #FFF;
}

.white {
    color: #FFF;
}

.color-black {
    background: #000;
}

.color-dark {
    background: #333;
}

.bg-white-produto {
    background: #FFF;
    border-radius: 2px;
    min-height: 248px;
}

.bg-white-produto a {
    min-height: 186px;
    display: inline-block;
}

.bg-gray-produto {
    background: #FFF;
    border-radius: 3px;
}

.absolut-center-100 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

body, html {
    font-family: open_sansregular;
    /*background: url('../img/bg-cacique.jpg') center top no-repeat;*/
    background-size: 100%;
    color: #414141;
   /* background:url('../img/logfitness-fundo.png') repeat;*/
    background-color: #EFF1F7;
}

.inline-block{
    display: inline-block;
}

.bg-mapa {
    /*background: url('../img/bg-mapa.jpg') center top no-repeat;*/
    background-size: 100% 100%;
    /*width: 940px;*/
    /*height: 600px;*/
    /*left: 100px;*/
    /*right: 100px;*/
    background-color: #EFF1F7;
}


#map_canvas{
    width: 100%;
    height: 430px;
}

.bg-formulario {
    background: url('../img/bg-formulario.jpg') center top no-repeat;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.usuario {
    color: #eee;
    padding: 7px 0 0 0;
    font-size: 1.3em !important;
    font-weight: bold;
    line-height: 1em !important;
    display: inline-table;
    vertical-align: middle;
}

.logo {
    width: 130px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    color: #FFD41C;
}

.menu-principal {
    height: 85px;
    font-family: nexa_lightregular, open_sansbold, serif;
    font-size: 14px;
}

.sub-menu {
    color: white;
    line-height: 2;
    font-size: 14px;
    font-family: nexa_lightregular, open_sansbold, serif;
}

.menu-marcas {
    background: #FFF;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin: 1px 1px;
    position: relative;
    max-width: 206px;
    width: 100%;
    text-align: center;
    height: 107px;
}

.menu-marcas:hover{
    opacity: 0.7;
}

.menu-marcas a {
    color: #414141;
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2em;
}

.menu-marcas a img {
    vertical-align: middle;
    display: inline-block;
    max-width: 95%;
    max-height: 95%;
}

.menu-objetivos {
    background: #FFF;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin: 1px 1px;
    position: relative;
    max-width: 206px;
    width: 100%;
    text-align: center;
    height: 107px;
}

.menu-objetivos:hover, .menu-objetivos a:hover {
    background: #5087C7;
    color: #FFD41C;
}


.menu-objetivos a {
    color: #414141;
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2em;
}

.menu-objetivos a span {
    vertical-align: middle;
    display: table-cell;
}

.div-marca {
}

.div-obejtivo {
}

.esmaecer:hover {
    /*filter: alpha(opacity=30);
    -moz-opacity: 0.30;
    opacity: 0.30;*/
}

.fundo-painel {
    z-index: -1;
    position: absolute;
    top: 85px;
    margin-left: 0;

    overflow: auto;
    overflow-x: hidden;
    /*width: 50%;*/
    width: 705px;
    /*min-height: 200px;*/
    height: 100%;
    min-height: 2px;
    max-height: 346px;

    background: #ffd41c;
    box-shadow: -2px 2px 7px rgba(51,51,51,0.4);
}

.fundo-painel-open{
    z-index: 5;
    min-height: 2px;
    max-height: 346px;
    padding: 2px;
    /*height: 100% !important;*/
}

.fundo-painel .row{
    margin: 2px;
}

.fundo-painel .col-md-3{
    padding: 2px;
}

.painel {
    position: relative;
    top: -15px;
    left: 152px;
    width: 832px;
}

.veja-mais {
    width: 827px;
    height: 40px;
    text-align: center;
    padding: 10px;
    margin: 2px 0;
    top: -6px;
    right: 151px;
    font-weight: bold;
    color: #414141;
}

.veja-mais a {
    color: #414141;
}

.icones {
    color: white;
    font-size: 14px;
    float: right;
    line-height: 2;
    font-family: nexa_lightregular, open_sansbold, serif;
    padding: 0 10px 0 10px;
}

.logo-topo {
    max-height: 110px;
    width: 100%;
    max-width: 95%;
    margin-top: 1px;
}


.form-busca {
    border-radius: 0;
    width: 90% !important;
    position: absolute;
}

.barra-busca .row{
    display: inline-block;
    width: 100%;
}

.sub-icones {
    padding: 0 5px;
    width: 50px !important;
    display: inline-block;
    text-align: center;
}

.sub-icones i{
    position: absolute;
    top: 0px;
    font-size: 2.5em;
}

.produto-grade {
    border-radius: 0 0 3px 3px;
    margin-top: 15px;
    max-height: 170px;
    max-width: 195px;
}

.produto-item{
    margin-bottom: 25px;
}

.produto-item .col-xs-12{
    padding-left: 5px;
    padding-right: 5px;
}

.produto-item .bg-white-produto{
    min-height: 260px;
}

.promocao-index {
    margin-bottom: 20px;
}

.informacao-principal {
    text-align: justify;
    background: white;
    margin: 20px 15px 20px 15px;
    font-family: nexa_lightregular, open_sansregular, serif;
    padding: 20px 20px 20px 20px;
}

.price {
    /*color: #e55731;*/
    color: #2D76CA;
    text-align: center;
    margin-top: -10px;
    font-size: 16px;
    font-family: nexa_lightregular, open_sansregular, serif;
    font-weight: bold;
}

.product-price {
    color: #ffd41c;
    margin-top: -10px;
    padding: 15px 0 0 15px;
    font-family: nexa_lightregular,alfa_slab_oneregular,serif;
    font-size: 3em;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px #0e0c03; */
}

.product {
    color: #444;
}

.product-view {
    font-family: nexa_lightregular, Droid Sans, serif;
    font-weight: bold;
    color: #2D76CA;
    font-size: 18px;
    margin: 15px 0 15px 0;
    text-align: left;
}

.button-propriedade {
    border: 0;
    color: #5087c7;
    background-color: #f2f2f2;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    font-family: nexa_lightregular,"Droid Sans",serif;
    /* width: 145px; */
    padding: 5px 12px;
    /* height: 30px; */
}

.button-propriedade-active{
    background: #CCC;
}

.button-cadastro {
    border: 0;
    color: #ffffff;
    background-color: #FFd41c;
    font-size: 29px;
    margin-bottom: 25px;
    text-align: center;
    font-family: birdmanoblique, Droid Sans, serif;
    font-weight: bold;
    width: 80%;
    height: 50px;
    text-shadow: 1px 1px 1px #463A08;
}

.input-cadastro {
    height: 35px;
    margin: 2px auto;
}



#parallaxBar{
    height:750px;
}

#navBar{
   /* height:100px;*/
    background-color:#222;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.second-img {
    background-image: url("../img/second-img.jpg");
    background-repeat: no-repeat;
    height: 400px;
}

#parallaxBar2{
    height:500px;
}

.fourth-img {
    background-image: url("../img/fourth-img.jpg");
    height: 400px;
    background-repeat: no-repeat;
}

.fifth-img {
    background-image: url("../img/fifth-img.jpg");
    background-repeat: no-repeat;
    height: 500px;
}

#parallaxBar3{
    height:500px;
}

.seventh-img {
    background-image: url("../img/seventh-img.jpg");
    background-repeat: no-repeat;
    height: 500px;
}

#parallaxBar4{
    height:500px;
}

#parallaxBar5{
    height:700px;
}

#parallaxBar6{
    height:500px;
}

.btn-conheca {
    display: inline-block;
    color: #333;
    padding: 6px 12px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FFd41c;
    border: 1px solid transparent;
    border-radius: 4px;
}

.input-login {
    width: 100%;
    height: 25px;
    margin: 10px auto;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #FFd41c;
    border: 1px solid #333;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-cadastrar {
    margin: 12px;
    width: 275px;
    height: 35px;
}

.button-comprar {
    border: 0;
    color: #fff;
    background-color: #8dc73f;
    font-size: 40px;
    margin: 15px 0 16px 0;
    text-align: center;
    padding: 10px 0;
    font-family: birdmanoblique,alfa_slab_oneregular,serif;
    width: 100%;
    /* height: 81px; */
    text-shadow: 1px 1px 1px #5ea61c;
}

.recomendar{
    margin: 0 0 10px 0;
}

.recomendar a{
    padding: 0 20px 5px 0;
    font-size: 1.1em;
}

.subtotal-carrinho {
    color: #5087C7;
    padding: 10px 15px 0 0;
    text-align: right;
    background: rgba(255,255,255,.15) !important
}

.total-carrinho {
    color: #5087C7;
    padding: 10px 15px 0 0;
    background: white;
    text-align: right;
    margin: 5px 0;
}

.button-finalizar {
    border: 0;
    color: #ffffff;
    background-color: #8dc73f;
    font-size: 45px;
    margin: 15px -30px 15px 0;
    text-align: center;
    font-family: birdmanoblique, alfa_slab_oneregular, serif;
    /*width: 25%;*/
    height: 65px;
    float: right;
    text-shadow: 1px 1px 1px #5ea61c;
}

.button-finalizar:disabled{
    color: #EEE;
    background-color: #CCC;
    text-shadow: 1px 1px 1px #AAA;
}

.button-busca {
    background-color: #ffd41c;
    border: 1px solid #ffd41c;
    padding: 1px 15px 3px 15px;
    margin: 0;
    right: 0;
    position: absolute;
    float: right;
    color: #316A82;
}

.quadro-img-produto-principal {
    text-align: center;
    background: white;
    padding: 10px 10px;
    height: 410px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
}

.img-produto-principal {
    max-height: 380px;
    max-width: 400px;
}

.passe-o-mouse-ampliar {
    color: #2a3891;
    font-weight: bold;
    background: #f2f2f2;
    padding: 10px 10px;
}

.combina-com-espaco {
    margin: 35px 0 35px 0;
}

.combina-com {
    text-align: center;
    background: white;
    color: #2D76CA;
    font-weight: bold;
    font-family: nexa_lightregular, Droid Sans, serif;
    margin: 25px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, .07);
}

.combina-com-botao{
    font-family: nexa_lightregular, Droid Sans, serif;
    padding-top: 2px;
}

.img-logo{
    border: 0;
    max-width: 180px;
    max-height: 95px;
    text-align: center;
}

.img-insta {
    z-index: 1;
    margin-bottom: -112px;
    margin-top: 100px;
}

.img-insta-produto {
    z-index: 1;
    margin-bottom: -112px;

}

.insta-espaco {
    padding: 60px;

}

.caixa-text-avaliacao {
    width: 308px;
    height: 115px;
}

.quadro-desc-produto {
    background: white;
}

.preco-de {
    margin: 15px 0 10px 0;
}

.indique {
    color: #2b3c8e;
}

.h2-combina-com {
    margin: 5px 0 -5px 0;
}

.atributos-produto {
    background: white;
    margin: 10px 0 0 0;
    width: 49%;
    height: 65px;
}

.atributos-produto h4{
    font-size: 2em;
    line-height: 1.8em;
    cursor: pointer;
}

.atributos-produto h4 i{
    position: relative;
    float: right;
    line-height: inherit;
}

.atributos-produto:hover, .atributos-produto-active{
    background: #f5f5f5;
}

.combina-com .title {
    font-weight: bold;
    font-size: 1.8em;
}

.combina-com .produto {
    float: left;
    text-align: center;
}

.img-combina-com {
    max-width: 195px;
    max-height: 170px;
}

.avaliacoes {
    /*margin: 0 10px 20px 0;*/
    background: #fff;
    height: 540px;
    /*float: left;*/
    /*max-width: 100%;*/
    overflow-y: auto;
}

.avaliacoes input{
    border: 1px solid #AAA;
    border-radius: 2px;
    padding: 2px;
}

.stars .rating-xs{
    font-size: 1.2em !important;
}

.margin-recomenda {
    margin: 15px 0 15px 0;
}

.margin-recomenda label{
    width: auto;
}

.margin-15 {
    margin: 15px;
}

.margin-20 {
    margin: 20px 0 0 0;
}

.margin-35 {
    margin: 35px;
}

.margin-zero {
    margin: 0;
}

.margin-10 {
    margin: 10px;
}

.dicas {
    margin: 0 18px 30px 18px;
    background: #fff;
    height: 540px;
    /*float: left;*/
    max-width: 30%;
    overflow-y: auto;
}

.combina-carrinho {
    width: 90%;
    border: 0;
    background: #5087C7;
    color: white;
    margin: 0 0 10px 0;
    /*text-shadow: 1px 1px 1px #796510;*/
}

.combina-carrinho span.img {
    line-height: 3em;
}

.combina-carrinho a{
    color: #FFF;
}

.product-mini {
    max-width: 60px;
    max-height: 50px;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.miniatura{
    width: 70px;
    height: 60px;
    display: inline-block;
    background: #FFF;
    padding: 5px;
    cursor: pointer;
    margin: 10px 6px 0 0;
    text-align: center;
}

.miniatura:hover, .miniatura-active{
    background: #FEFEFE;
    opacity: 0.95;
}

.info {
    color: #444;
}

.row-bordas {
    max-width: calc(50% - 17px);
}

.form-pag {
    margin-top: -10px;
    color: #444;
}

.fundo-degrade {
    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+3,ffffff+29,ffffff+72,ffffff+100&0+3,1+28,1+71,0+100 *!*/
    /*background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 1) 28%, rgba(255, 255, 255, 1) 29%, rgba(255, 255, 255, 1) 71%, rgba(255, 255, 255, 0.97) 72%, rgba(255, 255, 255, 0) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0.97) 80%, rgba(255, 255, 255, 0) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to right, rgba(255, 255, 255, .1) 1%, rgba(255, 255, 255, .7) 10%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, .7) 90%, rgba(255, 255, 255, .1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);; !* IE6-9 *!*/

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+40,ffffff+60,ffffff+100,ffffff+100&0+1,1+40,1+60,0+100,0+100 */
    /*background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%); !* FF3.6-15 *!
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%); !* Chrome10-25,Safari5.1-6 *!
    background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); !* IE6-9 *!*/

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8d8d8+0,d8d8d8+33,d8d8d8+66,ffffff+100&0+1,1+33,1+66,0+100 */

    /*background: -moz-linear-gradient(left, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 0) 1%, rgba(216, 216, 216, 1) 33%, rgba(216, 216, 216, 1) 66%, rgba(255, 255, 255, 0) 100%); !* FF3.6-15 *!
    background: -webkit-linear-gradient(left, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 0) 1%, rgba(216, 216, 216, 1) 33%, rgba(216, 216, 216, 1) 66%, rgba(255, 255, 255, 0) 100%); !* Chrome10-25,Safari5.1-6 *!
    background: linear-gradient(to right, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 0) 1%, rgba(216, 216, 216, 1) 33%, rgba(216, 216, 216, 1) 66%, rgba(255, 255, 255, 0) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00d8d8d8', endColorstr='#00ffffff', GradientType=1); !* IE6-9 *!*/


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.85+0,0.85+100;White+to+Transparent */
    /*background: -moz-linear-gradient(top, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%); !* FF3.6-15 *!
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%); !* Chrome10-25,Safari5.1-6 *!
    background: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffffff', endColorstr='#d9ffffff',GradientType=0 ); !* IE6-9 *!*/
}

.info-central-box {
    font-family: nexa_lightregular, Droid Sans, serif;
    font-weight: bold;
}

.info-central-box p {
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .07);
    text-align: justify;
    background: white;
    margin: 30px 0;
    font-family: nexa_lightregular, open_sansregular, serif;
    padding: 20px;
    font-size: 1.1em;
}

.informacoes a, .informacoes span {
    font-family: alfa_slab_oneregular, serif;
    font-size: 1.8em;
}

.informacoes a {
    background: #e45827;
    /*text-shadow: 1px 1px 1px #796510;*/
    color: #FFF;
    padding: 5px 10px;
    z-index: 1;
    position: relative;
}

.informacoes a:hover {
    background: #FFD41C;
}

.informacoes p {
    padding: 10% 25%;
    font-weight: bold;
    font-size: 1.4em;
}

p.info a{
    background: transparent;
    color: #337ab7;
    text-decoration: none;
    font-size: 1em;
    font-family: 'nexa_lightregular',open_sansregular,sans-serif;
    padding: 0;
}

p.info a:hover{
    background: transparent;
    color: #276091;
}

.informacoes img {
     max-width: 100%;
     max-height: 260px;
 }

.informacoes-home img {
    max-width: 65%;
    max-height: 250px;
    margin: 20px 0;
}

.informacoes-blocos {
    text-align: center;
}

.informacoes-blocos img {
    max-width: 220px;
    max-height: 120px;
}

.informacoes-blocos .titulo {
    font-family: alfa_slab_oneregular, serif;
}

.academias, .central-relacionamento, .seja-um-parceiro, .transportadoras, .atleta {
    height: 300px;
}

.academias .titulo {
    color: #4D86C5;
    font-family:  alfa_slab_oneregular, serif;

}

/*.academias img{*/
/*width: 75%;*/
/*}*/

.transportadoras .titulo {
    color: #4f2473;
    font-family:  alfa_slab_oneregular, serif;

}

.atleta .titulo {
    color: #4D86C5;
    font-family:  alfa_slab_oneregular, serif;

}
/*.transportadoras img{*/
/*width: 75%;*/
/*}*/

.central-relacionamento .titulo {
    color: #4D86C5;
    font-family:  alfa_slab_oneregular, serif;

}

/*.central-relacionamento img{*/
/*width: 75%;*/
/*}*/

.seja-um-parceiro .titulo {
    color: #4D86C5;
    font-family:  alfa_slab_oneregular, serif;

}

/*.seja-um-parceiro img{*/
/*width: 75%;*/
/*}*/

.parcerias-principal {
    width: 75%;
}

.h1-carrinho {
    color: #2e6da4;
}

.h2-carrinho {
    font-weight: bold;
    background: #5087C7;
    color: white;
    text-align: left;
    padding: 10px 25px 5px 25px;
    margin: 5px -15px 15px -15px;
    font-family: birdmanoblique, Droid Sans, serif;
}

.fundo-carrinho {
    background: #ffffff;
    padding: 15px 5px;
}

.fundo-carrinho h4{
    border-bottom: 1px solid #ffd41c;
    padding-bottom: 5px;
}

.dimensao-produto-carrinho {
    max-width: 90px;
    max-height: 75px;
}

.tabela-coluna-carrinho {
    background: #FFD41C;
    text-shadow: 1px 1px 1px #A98C13;
    font-weight: bold;
    color: white;
    display: inline-flex;
}

.imagem-produto-carrinho {
    float: left;
    padding: 10px 0 0 0;
}

.formulario-quadro {
    font-family: Droid Sans, serif;
    /*background: white;*/
    width: 389px;
    height: 305px;
}

.formulario-externo {
    width: 600px;
    height: 400px;
    background: url('../img/bg-formulario.jpg') center top no-repeat;
}

.formulario-texto {
    font-weight: bold;
    color: #5087C7;
    margin: 25px 30px;

}

.formulario-dados {
    width: 330px;
    height: 40px;

}

.formulario-acessar {
    border: 0;
    font-weight: bold;
    color: white;
    background: #E35828;
    float: right;
    width: 145px;
    height: 30px;
    margin: 15px -83px 20px 0;
}

.button-enviar {
    border: 0;
    font-weight: bold;
    color: white;
    background: #5087C7;
    /*text-shadow: 1px 1px 1px #796510;*/
    float: left;
    width: 145px;
    height: 30px;
    font-family: birdmanoblique, Droid Sans, serif;
    font-size: 20px;
}

.button-acessar-new-home {
    border: 0;
    font-weight: bold;
    color: white;
    background: green;
    width: 145px;
    height: 45px;
    text-shadow: 1px 1px 1px #0F2538;
}

.button-acessar {
    border: 0;
    font-weight: bold;
    color: white;
    background: #5087C7;
    float: right;
    width: 150px;
    height: 45px;
    text-shadow: 1px 1px 1px #0F2538;
    margin-right: 150px;


}

.button-cadastrar {
    border: 0;
    font-weight: bold;
    color: white;
    background: #5087C7;
    /*float: right;*/
    width: 145px;
    height: 45px;
    text-shadow: 1px 1px 1px #0F2538;
    /*margin-right: 135px;*/
    margin-top: 25px;

}

.button-nao-faco-parte {
    border: 0;
    font-weight: bold;
    color: white;
    background: #5087c7;
    height: 45px;
    width: 100%;
    text-shadow: 1px 1px 1px #0f2538;
    /*margin: 15px 0;*/
    text-align: center;
    margin-top: 30px;
}

.de {
    text-decoration: line-through;
}

.promo .titulo {
    font-family: alfa_slab_oneregular, serif;
    color: #2D76CA;
}

.promo-price-bloco span {
    font-weight: bold;
    color: #777;
}

.promo .mais-vendidos, .promo-price {
    font-family: nexa_boldregular, alfa_slab_oneregular, serif, serif;
    color: #ffd41c!important;
    font-size: 2em;
}

.promo .mais-vendidos .button {
    font-family: open_sansbold, serif;
    background: #5087C7;
    color: #FFF;
    width: 100%;
    position: relative;
    float: inherit;
    font-size: 0.7em;
    margin: 20% 0;
}

.promo .mais-vendidos .button a {
    color: #FFF;
}

.promo .mais-vendidos, .promo .promo-price-bloco {
    height: 370px;
}

.promo-produto {
    height: 410px;
}

.promo-produto img {
    max-height: 90%;
}

.promo .bloco {
    margin: 0 2%;
    width: 21%;
    padding: 4% 1%;
    float: left;
    position: relative;
    min-height: 1px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .07);
}

.promo .bloco-central {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .07);
}

.promo .tempo {
    margin: 20px auto;
    float: inherit;
}

.promo .tempo span {
    background: #5087C7;
    color: #FFF;
    font-size: 1.2em;
}

.promo .tempo span.time {
    font-size: 3em;
    border-bottom: 1px solid #FFF;
}

.promo h2.titulo {
    font-family: open_sansbold, serif;
}

a.promo-purchase {
    width: 90%;
    background: #8dc73f;
    color: #FFF;
    padding: 5px 10px;
    position: relative;
    font-size: 1.7em;
    float: inherit;
    text-align: center;
    text-shadow: 1px 1px 5px #888;
    margin: 20% 5%;
    font-family: birdmanoblique, alfa_slab_oneregular, serif;
}

.info-central-produto {
    margin: 40px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, .07);
    width: 72%;
}

.info-central-produto .row {
    border-radius: 2px;
    padding: 10px 5px;
}

.info-central-produto .title {
    font-weight: bold;
    font-family: droid_sansregular, serif;
    padding: 5px 0;
    display: inline-block;
    font-size: 1.4em;
}

.info-central-produto .row div {
    padding: 0 5%;
}

.formula{
    display: none;
    background: #FDFDFD;
    padding: 25px;
}

#formula i{
    color: #5087C7;
}

.radio-aval{
    margin-left: 7px !important;
    position: relative;
    float: left;
    width: 20px;
}

.rating-container .empty-stars {
    color: #777 !important;
}

.rating-container .filled-stars {
    color: #FFF000 !important;
    -webkit-text-stroke: 1px #555 !important;
    text-shadow: 0 0 0 #CCC !important;
}

.rating-container .glyphicon-star-empty:before {
    content: "\e006" !important;
}

.rating-xs{
    font-size: 1.5em !important;
    position: relative;
    display: inline-block;
}

.stars-aval{
    line-height: 1em;
}

#produto-avaliacao span{
    position: relative;
    width: 47%;
    display: inline-block;
    background: #f7f7f7;
    padding: 0 0 0 10px;
    font-size: 0.8em;
}

.doses{
    font-size: 1.2em;
    line-height: 1.6em;
}

.combina-img{
    width: 100%;
    height: 170px;
}

.combina-img img{
    max-width: 95%;
    max-height: 95%;
}

.form-toggle{
    background: #FFF;
    padding-top: 25px;
    border-top: 5px solid #5087C7;
    box-shadow: 0 1px 10px #CCC;
    position: relative;
    display: none;
}

.form-toggle-opened{
    background: #FFF;
    padding-top: 25px;
    border-top: 5px solid #5087C7;
    box-shadow: 0 1px 10px #CCC;
    position: relative;
}

.form-toggle-info{
    right: 0;
    position: absolute;
}

#form-toggle-open{
    cursor: pointer;
}

#image_preview{
    max-width: 100%;
    max-height: 100px;
}

#form-cadastro{
    display: none;
}

#form-cadastro label{
    text-align: right;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 7px;
    color: #233061;
}

.minha-conta a {
    width: 100%;
    margin: 4px 0;
    text-align: left;
    font-weight: bold;
    padding: 7px 10px;
}

.cliente-painel .fa{
    margin-right: 5px;
}

.pedido-linha{
    cursor: pointer;
}

.dado-incompleto{
    border-color: #FFD41C;
    background: rgba(255, 212, 28, 0.05);
}

.professores{
    height: auto !important;
}

.professores p{
    padding: 3% 0 !important;
}












.btn-group{
    width: 70% !important;
    margin-bottom: 2px;
}

.btn-group ul.multiselect-container{
    float: right;
    margin-right: -68px;
    width: 100%;
    position: relative;
}


button.multiselect{
    width: 100% !important;
    float: right !important;
    margin-right: -68px !important;
}

.btn-width {
    width: 100%;
}




/*
.chosen-container{
    width: 70%;
    height: 35px;
    margin: 12px auto;
    display: block !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}*/


#btn-submit-cadastro{
    margin-right: 0;
}

#escolher-academia-box{
    display: none;
}

#form-cadastro-main{
    display: none;
}

#form-login-main{
    display: none;
}

#fb-login{
    display: none;
}

#info-cadastro-main-com{
    display: none;
}

#info-cadastro-main-sem{
    display: none;
}

.academia-logo{
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: birdmanbold, alfa_slab_oneregular, serif;
    font-size: 2em;
    color: #5099C7;
    margin-top: -18px;
}

.link-logo{
    text-align: center;
    width: 100%;
}

.nav-icon{
    width: 44px;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-icon:hover, .sub-icones i:hover{
    opacity: 0.7;
    color: #FFF;
}

.combina-carrinho span a img{
    position: relative;
    right: 5px;
    top: 3px;
}

.ui-effects-transfer {
    border: 2px dotted #777;
    z-index: 999;
    background: rgba(80, 153, 199, 0.2);
}


#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}

/*********************************************************************************************************************/
/* NAVBAR MOBILE */
/*********************************************************************************************************************/

.navbar-mobile-sub{
    position: fixed;
    top:0;
    z-index: 2;
    width: 100%;
}

.menu-button{
    background: #3C79BF;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
}

.menu-button a {
    color: #FFF;
    font-size: 2.5em;
    line-height: 1em;
    display: block;
    cursor: pointer;
}

.menu-button a i{
    line-height: 1.2em;
}

#mobile-menu{
    display: none;
    position: fixed;
    left: 0;
    width: calc(100% - 4px);
    background: #FFF;
    border: 2px solid #3C79BF;
    padding: 20px;
}

#mobile-menu .opcoes{
    border-left: 1px solid #EEE;
    overflow-y: auto;
}

.mobile-menu-container-image{
    width: 100%;
    display: inline-block;
    border: 1px solid rgba(165, 194, 226, 0.16);
    border-radius: 5px;
}

.mobile-menu-container-image div{
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
}

.opcoes h4{
    color: #5087C7;
}

.lateral, .lateral a{
    color: #5087C7;
}

.lateral a{
    cursor: pointer;
    font-weight: bold;
    line-height: 2.5em;
    border-bottom: 1px solid #5087c7;
    background: rgba(78, 135, 198, 0);
}

.lateral a.home{
    line-height: 2.5em;
    border: 0;
}

.lateral .logo-mobile{
    margin-bottom: 35px;
}

.lateral a img.mochila{
    max-width: 15px;
    max-height: 15px;
}

.search-div{
    margin-left: 25px;
}

.marcas-mobile{
    margin-bottom: 20px;
}

.marcas-mobile img{
    max-width: 100%;
    max-height: 25px;
    margin-bottom: 4px;
}

.marcas-mobile .marca-rotulo{
    background: rgba(80, 135, 199, 0.51);
}

.marcas-mobile .mobile-menu-container-image .marca-rotulo{
    min-height: 2px;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
}

.slug-academia-texto{
    border: 0 !important;
    background: #FFF !important;
    border-color: #FFF !important;
    right: -15px;
    padding-right: 0;
    width: 100%;
    position: absolute;
}

#instagram-rodape{
    margin: 30px -15px;
    box-shadow: 0 0 20px #DDD;
}

#veja-mais{
    margin: 25px 0;
}

.forma-pagamento{
    text-align: center;
    display: inline-flex;
}

.forma-pagamento button{
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin: 15px auto;
}

.forma-pagamento button i{
    font-size: 3em;
}

.bloco-pagamento{
    display: none;
    padding: 20px;
    text-align: center;
    background: #e8e8e8;
    margin-bottom: 15px;
}

.bloco-pagamento .btn{
    background: #5087c7;
    color:#FFF;
    font-size: 1.1em;
    font-weight: bold;
}

.bloco-pagamento .btn:hover{
    background: #4a72ac;
}

.banners_home{
    padding: 0;
}

.banners_home .carousel-inner>.item>img, .carousel-inner>.item>a>img{
    padding: 0;
}

.banners_home .left span{
    top: 50%;
    position: absolute;
    left: 10px;
}

.banners_home .right span{
    top: 50%;
    position: absolute;
    right: 10px;
}

.banners_home .carousel-indicators{
    bottom: 0;
}

.banners_home .item {
    .transition(5s ease-in-out left);
}

.map_canvas_parceiro{
    max-height: 265px;
}

.gmnoprint, .gm-style div a{
    /*display: none !important;*/
}

#btn-arrow{
    cursor: pointer;
}

#btn-arrow:hover{
    opacity: 0.85;
}

.form-cadastro-home{
    display: block !important;
}

.forgot-new{
    padding: 0 3px !important;
    margin: 0 !important;
}

.login-message{
    padding: 0 3px !important;
    margin: 0 !important;
}

#form-toggle-message-academia{
    /*background: #EBEBEB;*/
    border-radius: 3px;
    padding: 5px 15px;
    width: 70%;
    /*border: 1px solid #DDD;*/
}

/* NEW HOME */
.footer-btn {
    display: none;
}

.second-img {
    height: 400px;
}

#parallaxBar2{
    height:500px;
}

.fourth-img {
    height: 400px;
}

.fifth-img {
    height: 500px;
}

#parallaxBar3{
    height:500px;
}

.seventh-img {
    height: 500px;
}

#parallaxBar4{
    height:500px;
}

#parallaxBar5{
    height:700px;
}

#parallaxBar6{
    height:500px;
}

.margin-top-10 {
    margin-top: 10px;
}

.padding-0 {
    padding: 0 0 0 0;
}

.padding-3 {
    padding: 0 0 0 3px;
}

.padding-3 span {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left:3px;
}

.btn-entrar {
    margin-top: 5px;
    width: 39%;
}

.btn-entrar-fb {
    margin-top: 5px;
    width: 39%;
    margin-left:5px;
}

.margin-top-190 {
    margin-top: 190px;
}

.margin-top-190 p {
    font-size: 22px;
    color: #FFd41c;
}

.margin-top-190 span {
    font-size: 26px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-btn-conheca {
    margin-bottom: 30px;
}

.btn-roll-down {
    text-align: center;
}

.p-second-img {
    text-align: justify;
    margin: 120px 10px 10px 40px;
    font-size: 18px;
}

#parallaxBar p {
    text-shadow: 0 0 20px #111, 0 -10px 20px #111, 0 10px 20px #111, -20px 0 40px #111, 20px 0 40px #111;
}

#parallaxBar2 p {
    color: #FFd41c;
    font-size: 36px;
    margin-top: 225px;
    font-weight: bold;
    text-shadow: 0 0 20px #111, 0 -10px 20px #111, 0 10px 20px #111, -20px 0 40px #111, 20px 0 40px #111;
}

.p-fourth-img {
    text-align: justify;
    margin: 115px 50px 20px 50px;
    font-size: 18px;
}

.p-fifth-img {
    font-size: 26px;
    margin-top: 15px;
}

.input-uf {
    margin-right: -45px;
    width: 84%;
}

.input-city {
    margin-left: 18px;
}

.btn-inscrever {
    background-color: green;
    color: white;
    margin-top: 10px;
}

.p-input-ou {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

#parallaxBar3 p {
    color: #FFd41c;
    font-size: 36px;
    margin-top: 225px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #111;
}

.p-indique-academia {
    font-size: 26px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-70 {
    margin-top: 70px;
}

#parallaxBar4 p {
    font-size: 32px;
    font-weight: bold;
    color: #FFd41c;
}

.div-footer {
    width: 100%;
    background: #333;
}

.div-footer-div {
    color: #777;
    margin: 20px auto;
}

.div-footer-div span {
    border-bottom: 1px solid red;
}

.a-contato {
    margin-top: 40px;
    margin-bottom: 0;
}

.div-indique {
    margin-left: 40px;
    margin-right: 40px;
}

#parallaxBar6 p {
    color: #FFd41c;
    font-size: 32px;
    margin-top: 200px;
    font-weight: bold;
    text-shadow: 0 0 20px #111, 0 -10px 20px #111, 0 10px 20px #111, -20px 0 40px #111, 20px 0 40px #111;
}

.div-praquem {
    background: #333;
    height: 420px;
}

.div-praquem-margin-top-100 {
    margin-top: 100px;
}

.div-praquem-margin-top-10 {
    margin-top: 10px;
}

.margin-top-50 {
    margin-top: 50px;
}

.div-praquem-p1 {
    font-size: 44px;
}

.div-praquem-p2 {
    font-size: 24px;
}

.margin-top-380 {
    margin-top: 380px;
}

.margin-top-150 {
    margin-top: 150px;
}

.p-sistema {
    font-size: 18px;
}

.p-inteligente {
    font-size: 56px;
}

.margin-top-bottom-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.btns-show {
    display: none;
}

.parallaxBar {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 16px;
}

.parallax-img {
    width: 100vmax;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events: none
}

.logo-m4 {
    margin-top: 25px;
    max-width: 100px;
    padding-bottom: 20px;
    float: right;
}

.notify-badge:after{
    content: "!";
    position: absolute;
    background: #fa3e3e;
    height: 1.5rem;
    top: 0;
    right: -0.5rem;
    width: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.9rem;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    border: 1px solid #fa3e3e;
    font-family: arial;
}

.badge-position{
    position: relative;
}

#instagram-rodape {
    margin: 30px -15px;
    box-shadow: 0 0 5px #DDD;
    max-width: 100%;
}

.display-none-menu{
    display: none;
}

.btn-login{
    position: absolute;
    width: 150px;
    top: 10px;
    right: 10px;

}

.btn-login .btn-main-login{
    display: inline-block;
    padding: 6px 12px;
    /*font-size: 1.3em;*/
    font-weight: bold;
    line-height: 1.42857143;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #5087c7;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 5px;
    width: 150px;
}

.btn-login .btn-main-login i{
    float: right;
}

.btn-login .btn-main-login span{
    float: left ;
}

.btn-login .btn-main-login img {
    float: right;
    width: 25%;
    margin-top: 2px;
    margin-right: -5px;
}

.input-cadastro-academia{
    height: 35px;
    margin: 2px auto;
    width: 70%;
}