@charset "utf-8";

@media screen and (max-width: 1200px) {
    .margin-bottom-30 {
        margin-bottom: 15px;
    }
    .p-indique-academia {
        margin-top: 25px;
        margin-bottom: 34px;
    }
    .div-praquem-p2 {
        font-size: 20px;
    }
    .div-praquem-p1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .parallax-img {
        width: 120vmax;
    }

    .second-img {
        display: none;
    }

    .fourth-img {
        display: none;
    }

    .fifth-img {
        display: none;
    }

    .seventh-img {
        display: none;
    }

    .p-fourth-img {
        margin: 30px 0px 20px 0px;
    }

    .p-second-img {
        margin: 20px 0px 20px 0px;
    }

    .div-indique {
        margin-left: 0;
        margin-right: 0;
    }

    .margin-bottom-30 {
        margin-bottom: 10px;
    }

    /*    .fundo-degrade{
            padding-top: 45px;
        }*/

    .form-busca{
        /*width: 65% !important;*/
    }

    .notify {
        display: none;
        position: absolute;
        width: calc(100% - 6px);
        min-height: 120px;
        background: #FFF;
        z-index: 9;
        left: 0;
        top: -20px;
        color: #333;
        padding: 2px 10px;
        border-radius: 0 0 2px 2px;
        border: 3px solid rgba(80, 135, 199, 0.8);
        box-shadow: -1px 1px 8px #AAA;
    }

    .notify span {
        width: 104%;
        background: #5087c7;
        display: inline-block;
        color: #ffd41c;
        margin: -18px 0 10px -10px;
        top: 0;
        padding: 2px 10px;
        font-weight: bold;
    }

    .formula {
        margin-top: 75px;
    }
    .promo-produto img {
        height: auto;
    }
    .img-produto-principal {
        max-width: 270px;
    }
    .promo-mobile {
        background: #ffffff;
        margin-bottom: 30px;
        padding-bottom: 20px;
        display: none;
    }
    .promo-desk {
        display: block;
    }
    .button-nao-faco-parte {
        height: auto;
        margin: 10px 0 10px 220px;
        padding: 10px;
    }
    .bg-mapa {
        background: none;
    }
    .quadro-img-produto-principal {
        margin: 0;
    }
    .product-view {
        padding-top: 15px;
        text-align: center;
    }
    .dicas {
        height: auto;
        max-width: 100%;
        margin: 0;
    }
    .avaliacoes {
        height: auto;
        padding-bottom: 10px;
    }
    .caixa-text-avaliacao {
        width: 290px;
    }
    .absolut-center-100 {
        position: relative;
        margin-top: -20px;
    }
    .informacoes p {
        padding: 10%;
    }
    .form-toggle-info {
        position: relative;
    }
    .academias, .central-relacionamento, .seja-um-parceiro, .transportadoras {
        height: auto;
    }
    .central-relacionamento2 {
        margin-top: 0px;
    }
    .promo .mais-vendidos, .promo-price {
        font-size: 1.6em;
    }
    a.promo-purchase {
        font-size: 1.3em;
    }
    .parcerias-principal {
        width: 50%;
    }
    .input-cadastro {
        width: 50%;
    }
    /*    .button-acessar {
            margin-right: 120px;
        }*/
    .margin-top-100 {
        margin-top: 60px;
    }
    .input-cadastro-width {
        width: 80%;
    }
}

@media screen and (max-width: 991px) {
    .margin-top-380 {
        margin-top: 170px;
    }
    .margin-top-150 {
        margin-top: 50px;
    }
    .margin-top-bottom-100 {
        margin-top: 50px;
    }
}

@media screen and (max-width: 892px) {
    .a-contato {
        margin-top: 0;
    }
    .img2-home {
        margin-top: 10px;
    }
    #menu-principal {
        display: none;
    }
    .button-cadastro {
        height: auto;
        width: 100%;
    }
    /*    .button-acessar {
            margin-left: 270px;
            float: none;
        }*/
    .row-bordas {
        max-width: 100%;
        text-align: center;
    }
    .quadro-img-produto-principal {
        height: auto;
    }
    .atributos-produto {
        width: 100%;
    }
    .caixa-text-avaliacao {
        width: 480px;
    }
    .informacoes p {
        padding: 0;
        margin-bottom: 55px;
    }
    .academias, .central-relacionamento, .seja-um-parceiro, .transportadoras {
        /*        width: 50%;
        float: left;*/
    }
    .central-relacionamento2 {
        margin-top: 0;
    }
    .formula {
        margin-top: 0;
    }
    .h2-carrinho {
        margin: 70px 0 15px 0;
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .button-acessar {
        margin: 0 39%;
        text-align: center;
    }
    /*    .button-cadastro {
            height: auto;
            width: 100%;
    }*/
    #parallaxBar5 {
        height: 600px;
    }
}

@media screen and (max-width: 743px) {
    .a-contato {
        margin-top: 90px;
    }
    .margin-top-190 {
        margin-top: 180px;
    }
}

@media screen and (max-width: 700px) {
    .margin-top-190 {
        margin-top: 150px;
    }
}

@media screen and (max-width: 692px) {
    /*    .promo .tempo span {
            padding-right: 7px;
            padding-left: 7px;
        }
        .combina-com .produto {
            float: none;
        }*/
    .combina-carrinho a {
        margin-left: -12px;
    }
}

@media screen and (max-width: 668px) {
    #parallaxBar4 p {
        font-size: 30px;
    }
}

@media screen and (max-width: 650px) {
    #parallaxBar4 p {
        font-size: 29px;
    }
    .margin-left-50 {
        font-size: 21px;
    }
}

@media screen and (max-width: 550px) {
    .margin-top-150 {
        margin-top: 35px;
    }
    .margin-left-50 {
        font-size: 19px;
    }
    #parallaxBar6 p {
        font-size: 27px;
    }
}

@media screen and (max-width: 480px) {
    .parallax-img {
        width: 240vmax;
    }

    #parallaxBar2 p {
        margin-top: 170px;
    }

    #parallaxBar3 p {
        margin-top: 170px;
    }

    .footer-btn {
        display: block;
    }

    .a-contato {
        margin-top: 0;
    }

    .div-footer-div {
        width: 100%;
    }

    .display-none {
        display: none;
    }

    #map_canvas{
        display: none;
    }

    .button-cadastro{
        font-size: 20px;
    }

    .input-cadastro {
        width: 100%;
    }

    .button-acessar {
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    .button-nao-faco-parte {
        margin: 10px 0;
    }

    .menu-button {
        width: 12%;
    }

    .lateral a {
        font-size: 2em !important;
        margin-left: -19px !important;
        width: calc(100%  +  37px) !important;
        border: 0;
    }

    .lateral a img.mochila {
        max-width: 30px;
        max-height: 30px;
    }

    #mobile-menu {
        padding: 5px 20px;
    }

    #mobile-menu .opcoes{
        max-height: 320px;
    }

    .notify span {
        width: 106%;
        margin: 15px 0 10px -10px;
    }

    .promo .bloco-central {
        width: 100%;
        height: auto;
        float: left;
    }
    .promo-mobile {
        display: block;
    }
    .promo-desk {
        display: none;
    }
    .produto-grade {
        max-width: 100%;
    }
    .seja-um-parceiro, .academias, .central-relacionamento, .atleta {
        width: 100%;
    }
    .central-relacionamento {
        margin-top: 50px;
    }
    .bg-white-produto {
        height: 270px;
        margin-top: 10px;
    }
    .carrinho a {
        margin-left: -20px;
    }
    .combina-carrinho span a img {
        right: -10px;
    }
    .combina-carrinho a {
        margin-left: -20px;
    }
    .caixa-text-avaliacao {
        width: 410px;
    }
    .tabela-coluna-carrinho span {
        font-size: 12px;
    }
    .button-finalizar {
        font-size: 35px;
    }
    #parallaxBar5 {
        height: 500px;
    }
    .margin-top-380 {
        margin-top: 150px;
    }
    .div-praquem-p1 {
        font-size: 34px;
    }
    #parallaxBar6 p {
        font-size: 23px;
    }
    .btns-show {
        display: block;
    }
    .btns-hide {
        display: none;
    }
    .margin-left-50 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .margin-top-50 {
        margin-top: 25px;
    }

}

@media screen and (max-width: 435px) {
    .combina-com .produto {
        width: 45%;
    }
    .caixa-text-avaliacao {
        width: 370px;
    }
    .tabela-coluna-carrinho span {
        font-size: 11px;
    }
    .button-finalizar {
        font-size: 31px;
    }

    .menu-button {
        width: 15%;
    }
    .margin-top-190 {
        margin-top: 120px;
    }
    .seventh-img {
        height: 350px;
    }
    .seventh-img img {
        height: 350px;
    }
    .fourth-img {
        height: 350px;
    }
    .fourth-img img {
        height: 350px;
    }
    .fifth-img {
        height: 350px;
    }
    .fifth-img img {
        height: 350px;
    }
    .second-img {
        height: 350px;
    }
    .second-img img {
        height: 350px;
    }
    .div-praquem-p1 {
        font-size: 31px;
    }
    .div-praquem-margin-top-100 {
        margin-top: 60px;
    }
}

@media screen and (max-width: 411px) {
    .caixa-text-avaliacao {
        width: 340px;
    }
    .tabela-coluna-carrinho span {
        font-size: 10px;
    }
    .button-finalizar {
        font-size: 29px;
    }
    .seventh-img {
        height: 320px;
    }
    .seventh-img img {
        height: 320px;
    }
    .fourth-img {
        height: 320px;
    }
    .fourth-img img {
        height: 320px;
    }
    .fifth-img {
        height: 320px;
    }
    .fifth-img img {
        height: 320px;
    }
    .second-img {
        height: 320px;
    }
    .second-img img {
        height: 320px;
    }
    .margin-top-100 {
        margin-top: 50px;
    }
    #parallaxBar5 {
        height: 400px;
    }
    .margin-top-380 {
        margin-top: 125px;
    }
    .margin-top-bottom-100 {
        margin-top: 15px;
    }
    .div-praquem-p2 {
        font-size: 18px;
    }
    .div-praquem-margin-top-100 {
        margin-top: 50px;
    }
}

@media screen and (max-width: 375px) {
    .caixa-text-avaliacao {
        width: 300px;
    }
    .tabela-coluna-carrinho span {
        font-size: 9px;
    }
    .button-finalizar {
        font-size: 26px;
    }
    .bg-white-produto {
        height: 290px;
    }
    .modal-body {
        font-size: 10px;
    }
    .div-footer-div {
        margin-top: 20px;
    }
    .margin-top-190 {
        margin-top: 100px;
    }
    .seventh-img {
        height: 300px;
    }
    .seventh-img img {
        height: 300px;
    }
    .fourth-img {
        height: 300px;
    }
    .fourth-img img {
        height: 300px;
    }
    .fifth-img {
        height: 300px;
    }
    .fifth-img img {
        height: 300px;
    }
    .second-img {
        height: 300px;
    }
    .second-img img {
        height: 300px;
    }
}

@media screen and (max-width: 360px) {
    .caixa-text-avaliacao {
        width: 280px;
    }
    .button-finalizar {
        font-size: 25px;
    }
    .bg-white-produto {
        height: 290px;
    }
    .modal-body {
        font-size: 10px;
    }
    .combina-carrinho a {
        font-size: 12px;
    }

    .mobile-menu-container-image div {
        font-size: 0.6em;
        margin-bottom: 10px;
    }

    .marcas-mobile {
        max-width: 44%;
    }

    .lateral a {
        margin-left: -32px !important;
    }

    .button-busca {
        right: -15px;
    }

    .menu-button {
        width: 17%;
    }

    .margin-top-190 {
        margin-top: 75px;
    }
    .btn-entrar {
        width: 38%;
    }
    .padding-3 span {
        margin-left: 5px;
        font-size: 16px;
    }
    .btn-entrar-fb {
        width: 45%;
        margin-left: -1px;
    }

    .seventh-img {
        height: 270px;
    }
    .seventh-img img {
        height: 270px;
    }
    .fourth-img {
        height: 270px;
    }
    .fourth-img img {
        height: 270px;
    }
    .fifth-img {
        height: 270px;
    }
    .fifth-img img {
        height: 270px;
    }
    .second-img {
        height: 270px;
    }
    .second-img img {
        height: 270px;
    }
    .div-praquem-p1 {
        font-size: 29px;
    }
    .div-praquem-p2 {
        font-size: 17px;
    }
    .div-praquem-margin-top-100 {
        margin-top: 35px;
    }
    .p-inteligente {
        font-size: 48px;
    }
}

@media screen and (max-width: 320px) {
    .combina-carrinho a {
        font-size: 10px;
    }
    .caixa-text-avaliacao {
        width: 250px;
    }
    .tabela-coluna-carrinho span {
        font-size: 7px;
    }
    .button-finalizar {
        font-size: 22px;
    }
    .btn-entrar {
        width: 36%;
    }
    .padding-3 span {
        margin-left: 5px;
    }
    .btn-entrar-fb {
        width: 44%;
        margin-left: 0;
    }
    .btn-width {
        font-size: 12px;
    }
    .margin-top-70 {
        margin-top: 50px;
    }
    #parallaxBar2 p {
        margin-top: 160px;
    }
}