.modal-info h1 {
    float: left;
    width: 96%;
    background: #d83337;
    font-weight: bold;
    color: #fff;
    padding: 15px 2%;
}


.modal-info h2 {
    float: left;
    width: 96%;
    background: url('../img/bg-arrow-down.png') right no-repeat;
    color: #00a4ec;
    border-bottom: 1px solid #666666;
    font-weight: bold;
    padding: 15px 2%;
    cursor: pointer;
}
.modal-info-ch {
    float: left;
    width: 100%;
    align-content: center;
    border-bottom: 1px solid #666;
    display: none;
}
.modal-info-ch li {
    width: 10%;
    align-content: center;
    float: left;
    text-align: center;
}
.modal-info p {
    width: 100%;
    float: left;
    margin: 10px 0 0;
    color: #999;
    font-size: 10px;
}
.modal-info span {
    width: 100%;
    float: left;
    margin: 10px 0 0;
    line-height: 1.4;
    font-size: 16px;
}