.btn-success-new {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success-new:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success-new:hover, .btn-success-new:focus, .btn-success-new:active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.active-navbar{
	color: #f4db1b!important;
}
.hide-navbar{
	display: none!important;
}
#nav_browser{
	width: 100%;
	height: 55px;
	background-color: #ffffff;
	border-bottom: 1px solid #bbbbbb;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	font-family: 'Lato', sans-serif!important;
}
#nav_browser .indique-content{
    margin: 9px 0 0 20px;
    display: inline-block;
}
#nav_browser .indique-content #indique-mobile{
	display: none;
}
#nav_browser .indique-content #indique-desktop{
	display: block;
}
#nav_browser .nav-content{
	width: 100%;
	padding: 5px;
	text-align: right;
	display: inline;
}
#nav_browser .menu-content{
	display: inline;
	float: right;
	padding-top: 17px;
}
#nav_browser .menu-content ul{
	list-style: none;
	display: inline;
	padding: 0;
}
#nav_browser .menu-content ul li{
	display: inline;
	font-size: 12px;
	font-family: 'Lato', sans-serif!important;
	font-weight: 700;
	text-transform: uppercase;
}
#nav_browser .menu-content ul li a{
	text-decoration: none;
	color: #5089cf;
	margin: 5px;
}
#nav_browser .menu-content ul li a:hover{
	color: #f4db1b;
}
#nav_browser .logo-content{
	float: right;
	display: inline;
	width: 145px;
	margin: 13px 10px;
}
#nav_browser .logo-content img{
	width: 100%;
}
#nav_mobile{
	display: none;
}
#indique .overlay-content{
	padding-top: 20px;
}
@media all and (max-width: 768px){
	#nav_browser .indique-content #indique-mobile{
		display: block;
	}
	#nav_browser .indique-content #indique-desktop{
		display: none;
	}
	.logo-mobile{
		display: inline;
	    position: absolute;
	    left: 10px;
	    top: 9px;
	}
	.logo-mobile img{
		width: 105px;
	}
}
@media all and (min-width: 768px){
	#nav_browser{
		display: block
	}
}
@media all and (max-width: 767px){
	#nav_browser{
		display: none;
	}
	#nav_mobile{
		display: block;
		height: 50px;
		background-color: rgba(80, 137, 207, 1.0);
		color: white;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		padding-top: 5px;
	}
	#nav_mobile .botao{
		width: 50px;
	    position: relative;
	    left: 50%;
	    margin-left: -25px;
	}
	#nav_mobile .botao .fa{
		font-size: 1.7em;
	}
	#nav_mobile .botao p{
		font-size: 13px;
		margin-top: -5px;
	}
	.menu-content-mobile{
		list-style: none;
		padding: 0;
		align-self: center
	}
	.menu-content-mobile li{
		text-align: left;
	}
	.menu-content-mobile li a{
		font-size: 22px;
		color: rgba(80, 137, 207, 1.0);
	    padding: 15px 0px;
	}
}
