/*********************************************************
***********************DEFAULT****************************
**********************************************************/
@font-face {
    font-family: digital7;
    src: url(../fonts/digital-7.ttf);
}
body{
	background-color: rgba(255,255,255,1);
	font-size: 14px;
	font-family: 'Open Sans', sans-serif!important;
}
a{
	color: rgba(90, 144, 210, 1);
}
.button {
	display: inline-block;
	border-radius: 5px;
	transition: all .5s;
	filter: hue-rotate(0deg);
	color: #FFF;
	text-decoration: none;
	border: none;
}
/*novo botão*/
.b-blue, .b-blue:before {
    background: rgba(80, 137, 207, 1.0);
    background: -moz-linear-gradient(45deg, rgb(17, 49, 88) 0%, rgb(80, 137, 207) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(5,118,255,1)), color-stop(100%, rgba(36,248,255,1)));
    background: -webkit-linear-gradient(45deg, rgb(17, 49, 88) 0%, rgb(80, 137, 207) 100%);
    background: -o-linear-gradient(45deg, rgb(17, 49, 88) 0%, rgb(80, 137, 207) 100%);
    background: -ms-linear-gradient(45deg, rgb(17, 49, 88) 0%, rgb(80, 137, 207) 100%);
    background: linear-gradient(45deg, rgb(17, 49, 88) 0%, rgb(80, 137, 207) 100%);
}
.rot-135:hover {
	filter: hue-rotate(-110deg);
}
.total-block{
	overflow: hidden!important;
}
.tablet-hidden{
	display: block;
}
.desktop-filtro-hidden{
	display: none;
}	
.hidden-desk{
	display: none;
}
.hide{
	display: none!important;
}
.button-blue {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: 9px 15px;
    font-size: 18px;
    color: rgba(255,255,255,1);
    background-color: #5c9cd8;
    width: 100%;
}

.button-blue:hover {
    background-color: #376fa5;
    color: rgba(255,255,255,1);

}

.button-blue-grande {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 25px;
    color: rgba(255,255,255,1);
    background-color: #5c9cd8;
    width: 100%;
}

.button-blue-grande:hover {
    background-color: #376fa5;
    color: rgba(255,255,255,1);
}

.button-green {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 25px;
    color: rgba(255,255,255,1);
    background-color: #489f36;
    width: 100%;
}
.button-green img{
    width: 30px;
    margin: -8px 0 0;
}
.button-green:hover {
    background-color: #37772a;
}
.share-buttons{
    margin-bottom: 10px;
}
.share-whastapp{
    display: none;
}
.copy-alert{
    color: #489f36;
    font-size: 14px;
    font-weight: 700;
}
@media all and (max-width: 992px){
	.desktop-filtro-hidden{
		display: block;
	}
	.tablet-hidden{
		display: none!important;
	}
	.banner-bg {
		display: none;
	}
	.acoes-loja {
		/*margin-top: 15px;*/
	}
	.hidden-desk{
		display: block;
	}
}
/*********************************************************
***********************FIM DEFAULT************************
**********************************************************/

/*********************************************************
************************NAVBAR****************************
**********************************************************/
.ultimate{
	background-color: rgba(255,255,255,1);
	height: 90px;
	width: 100%;
	padding: 10px 0;
	font-size: 18px;
	margin-bottom: 0;
	position: fixed;
	top: 0;
	z-index: 7;
	border-radius: 0px;
	box-shadow: 0px -1px 5px #545454;
}
.menubtn{
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	position: relative;
	height: 68px;
}
.menubtn button{
	margin: 0 auto;
	border: none;
	background-color: rgb(255,255,255);
}
.menubtn i {
	font-size: 16px;
	color: rgba(80, 137, 207, 1);
	cursor: pointer;
}
.menubtn span, .fechar-menu span{
	cursor: pointer;
	font-size: 14px;
	color: rgba(80, 137, 207, 1);
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}
.menubtn span:hover, .fechar-menu span:hover{
	color: rgba(72, 159, 54, 1);
}
.menubtn img{
	width: 20px;
}
.fechar-menu{
	margin-bottom: 10px;
	padding-top: 7px;
}
.ultimate .logos img{
    max-width: 170px;
    width: 100%;
}
.navegacao{
	padding-right: 15px;
	padding-top: 10px;
	width: 311px;
	float: right;
}
.navegacao a{
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: inline-block;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px!important;
	padding: 8px;
}
.navegacao a.button {
	    font-size: 14px;
    height: 37px;
    background-color: rgba(80, 137, 207, 1);
    color: rgba(255,255,255,1);
    box-shadow: rgba(80, 137, 207, 1) 0 0px 0px 2px inset;
    transition: box-shadow 0.3s;
}
.navegacao a.button:hover {
	color: rgba(255, 255, 255, 1);
	box-shadow: rgba(60, 102, 152, 1) 0 0px 0px 40px inset;
}
.navegacao .input-group{
	float: right;
    width: 100%;
}
.navegacao .input-group button, #pesquisa_mobile .input-group button{
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	background: none;
	border: none;
	box-shadow: rgba(80, 137, 207, 1) 0 0px 0px 2px inset;
	padding: 7px 12px; 
	color: rgba(80, 137, 207, 1);
}
.navegacao .input-group button:hover, #pesquisa_mobile .input-group button:hover{
	box-shadow: rgba(72, 159, 54, 1) 0 0px 0px 40px inset;
	color: rgba(255,255,255,1);
}
.botao-login{
	position: relative;
    display: inline-block;
}
.dropdown-login{
	display: none;
	position: absolute;
    right: 0px;
    top: 35px;
    background-color: #ffffff;
    border: 2px solid #5089cf;
    z-index: 20;
    border-radius: 5px;
}
.dropdown-logado{
	display: none;
	position: absolute;
    right: 0;
    top: 78px;
    background-color: #ffffff;
    border: 2px solid #5089cf;
    z-index: 3;
    border-radius: 5px;
}
.dropdown-login a:hover{
	color: rgb(245, 214, 48);
}
.botao-login:hover .dropdown-login{
	display: block;
}
.name-logado:hover .dropdown-logado {
	display: block;
}
.logo-academias{
    height: 70px;
    padding: 0 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-academias img{
	align-self: center;
	margin:0 10px; 
	max-height: 70px;
    width: auto;
    max-width: 100%;
}
.logo-academias h4{
	font-weight: 700;
	color: #5089cf;
}
.wrap {
	position: absolute;
	top: 20%;
	text-align: center;
}
.name-logado a{
    text-align: right!important;
    font-size: 16px;
}
.name-logado .dropdown-logado a{
	margin: 0;
    max-width: inherit;
    padding: 5px 10px;
}
.acoes-loja{
	height: 68px;
}
.acoes-loja div{
	padding: 0 5px;
}
.acoes-loja .row div{
	padding: 0 5px;
}
.acoes-loja a {
	display: inline-block;
    margin: 12px auto 0;
    max-width: 115px;
    text-decoration: none;
    border-radius: 4px!important;
    padding: 10px 5px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}
.acoes-loja img {
	max-width: 18px;
}
.acoes-loja .fa{
	font-size: 16px;
}
.acoes-loja a.button {
	font-size: 11px;
	color: rgba(255,255,255,1);
	background-color: rgba(72, 159, 54, 1);
}
.acoes-loja a.button:hover {
	color: rgba(255,255,255,1);
	background-color: rgba(55, 119, 42, 1);
}
.escolherNavbar{
	font-size: 14px;
	cursor: pointer;
}
.logos{
	padding-top: 10px;
}
.navegacao input, #pesquisa_mobile input{
    border-radius: 0 5px 5px 0;
	border: 2px solid rgb(80, 137, 207);
}
.menu-completo{
	overflow-y: hidden;
	background-color: rgba(51,51,51,0.9);
	z-index: 16;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	display: none;
	opacity: 0;
}
.menu-barra{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	background-color: rgba(255,255,255,1.0);
	padding: 0 30px 30px;
}
.itens-menu{
	opacity: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
}
.content-lista{
	height: 80%;
	overflow-y: auto;
}
#lista-menu li{
	margin: 10px 0;
	padding-left: 0;
}
#lista-menu a{
	font-size: 16px;
	font-weight: 700;
	color: rgb(80, 137, 207);
	transition: all 0.5s;
}
#lista-menu a:hover{
	color: rgb(245, 214, 48);
}
.social{
    position: relative;
    bottom: 20px;
	text-align: center;
}
.social{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -85px;
}
.social hr{
	width: 10%;
	border-top: 1px solid rgb(245, 214, 48);
}
.social img{
	margin-bottom: 10px;
}
.social ul{
	padding-left: 0;
}
.social li{
	display: inline-block;
	margin: 0 8px;
	padding-left: 0;
}
.social li .fa{
	font-size: 16px;
	color: rgb(80, 137, 207);
	transition: all 0.5s;
}
.social li .fa:hover{
	color: rgb(245, 214, 48);
}
#pesquisa_mobile{
	display: none;
}
.total-breadcrumb{
	position: fixed;
	top: 90px;
	z-index: 4;
	width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 27px;
}
.total-breadcrumb a {
    display: inline-block;
}
.breadcrumb {
	display: inline-block;
	overflow: hidden;
	border-radius: 5px;
	counter-reset: flag; 
	box-shadow: 0px 0px 5px 1px #545454;
	border-radius: 0px 0px 6px 6px;
    padding: 0px;
}
.breadcrumb a {
	text-decoration: none;
	outline: none;
    text-transform: uppercase;
	font-size: 12px;
	line-height: 25px;
	color: white;
	padding: 0 10px 0 35px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding-left: 46px;
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	padding-right: 20px;
}
/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}
/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0px; 
	right: -12px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 25px; 
	height: 25px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 15px;
	line-height: 15px;
	margin: 5px 0;
	position: absolute;
	top: 0;
	left: 15px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}
.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: transparent;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: rgba(80, 137, 207, 1.0);
	color: white;
}

.btn-voltar-div {
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    counter-reset: flag;
    box-shadow: 0px 0px 5px 1px #545454;
    border-radius: 0px 0px 6px 6px;
    padding: 0px 13px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0px 0px 4px 4px;
    margin-left: 15px;
    margin-right: 30px;
}

.breadcrumb {
	margin-bottom: 0!important;
}

.total-breadcrumb .container,
.total-breadcrumb .col-xs-12 {
    height: 27px;
}

.btn-voltar {
    outline: none;
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 25px;
    color: black;
    padding: 0 5px;
    position: relative;
}
#nav-inferior-submenu{
	display: none;
	position: fixed;
	top: 2000px;
	bottom: 50px;
	left: 0;
	right: 0;
	background-color: rgba(51,51,51,0.9);
	z-index: 15;
	padding: 20px 0 0 0;
}
.conteudo-submenu{
	background-color: rgb(255,255,255);
	width: 100%;
	height: 100%;
	padding: 10px;
}
.conteudo-submenu ul {
	padding-left: 0;
}
.conteudo-submenu ul li{
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 700;
	color: rgb(80, 137, 207);
	transition: all 0.5s;
}
.conteudo-submenu img {
	width: 20px
}
.usuario-submenu p{
	font-size: 20px;
	color: rgb(80, 137, 207);
}
.usuario-submenu span{
	position: absolute;
	right: 15px;
	color: rgb(80, 137, 207);
}
.enviar-email, .enviar-whats, .enviar-whats-comparador, .enviar-email-comparador{
	display: none;
}
.content-lista::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.content-lista::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
@media all and (max-width: 1200px){
	.acoes-loja a {
		margin: 0 auto;
		padding: 15px 5px;
	}
	.txt-wrap{
		margin: 0 15px;
	}	.acoes-loja
}
@media all and (max-width: 992px){
	.hidden-mobile{
		display: none;
	}
	.content-lista{
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
    .menubtn{
		padding-top: 5px;
	}
	.filtro-navbar-btn{
		display: inline-block!important;
	}
}
@media all and (min-width: 993px) {
	.filtro-navbar-btn{
		display: none;
	}
	.item-menu::before{
		background-color: #F8E70A;
	    content: " ";
	    left: -200vw;
	    height: 3px;
	    position: absolute;
	    transition: left 0.5s ease-in-out;
	    width: 170px;
	    margin-top: 12px;
	}
	.item-menu:hover::before {
		left: -101px;
	}
}
@media all and (max-width: 450px){
	.ultimate{
		background-color: rgba(255,255,255,1);
		height: 60px;
		width: 100%;
		padding: 10px 0;
		font-size: 18px;
		margin-bottom: 0;
		position: fixed;
		top: 0;
		z-index: 5;
		border-radius: 0px;
		box-shadow: 0px -1px 5px #545454;
	}
	.menubtn{
		padding-top: 5px;
		height: 38px;
	}
	.acoes-loja img {
		display: block;
    	margin: 0 auto;
	}
	.txt-wrap{
		display: none;
	}
	.acoes-loja .row, .acoes-loja{
		height: 40px;
		padding: 0;
	}
	.acoes-loja a {
		padding: 5px 8px;
		width: 100%;
		height: 40px;
	}
	.acoes-loja i{
		display: block;
	}
	.logo-academias{
	    height: 40px;
	    padding: 0 8px;
	}
	.logo-academias img{
		align-self: center;
		margin:0 5px; 
		max-height: 40px;
	    width: auto;
	}
	.total-breadcrumb{
		top: 60px;
	}
	.owl-prev{
		padding: 3px 0px!important;
    	margin-left: -13px!important;
	}
}
@media all and (max-height: 450px){
	.content-lista{
		height: 50%;
		overflow-y: scroll;
	}
}
@media all and (min-width: 993px) {
	#pesquisar-mobile-button {
		display: none;
	}
	#abrir-menu {
		padding-top: 10px;
	    position: relative;
	    float: left;
	}
}

.name-link {
	margin: 0!important; 
	width: 100%!important; 
	max-width: inherit!important;
}

.nav-inferior{
	display: none;
}
@media all and (max-width: 992px){
	.nav-inferior{
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		height: 50px;
		background-color: #5089cf;
		width: 100%;
		z-index: 10;
		color: white;
		padding: 5px 0;
	}
	.nav-inferior a{
		color: white;
	}
	.item-nav-inferior{
		width: 19%;
		height: 100%;
		display: inline-block;
	}
	.item-nav-inferior p {
		font-size: 10px;
		margin: 0 0 5px; 
	}
}
/**********************************************************
/************************FIM NAVBAR************************
/**********************************************************/

/***********************************************************
/***************************MOCHILA*************************
/***********************************************************/
.cobertura-loja{
	overflow-y: hidden;
	background-color: rgba(51,51,51,0.9);
	z-index: 16;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: none;
	opacity: 0;
}
.mochila-nova{
	width: 0;
	height: 100%;
	background-color: white;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 7;
}
.botoes-mochila{
	width: 100%;
	height: 80px;
	text-align: center;
	font-size: 24px;
	padding: 10px;
}
.botoes-mochila button{
	border-radius: 3px;
    width: 260px;
    height: 100%;
    color: rgba(255,255,255,1.0);
    padding: 0;
}
.continuar-comprando button{
	background-color: rgba(80, 137, 207, 1.0);
	border: none
}
.continuar-comprando button:hover{
	background-color: rgba(60, 102, 152, 1);
}
.proximo-passo button{
	background-color: rgba(72, 159, 54, 1);
	border: none;
}
.proximo-passo button:hover{
	background-color: rgba(55, 119, 42, 1);
}
.proximo-passo button.inativo {
	background: #858c83;
}
.proximo-passo button.inativo:hover {
	background: #636762;
}
.continuar-comprando{
	color: rgba(80, 137, 207, 1.0);
}
.proximo-passo{
	color: #5cb85c;	
}	
.lista-produtos-mochila{
	overflow-y: auto!important;
	bottom: 170px;
    top: 80px;
    position: absolute;
	padding: 5px;
}
.produto-mochila{
	width: 100%;
	height: 120px;
	border-bottom: 1px solid rgb(245, 214, 48);
	display: block;
	padding: 10px;
	margin: 5px 0;
}
.produto-imagem{
	height: 100%;
	width: 100px;
	text-align: center;
	display: inline-block;
	float: left;
}
.produto-imagem img {
	max-width: 85px;
	max-height: 90px;
}
.produto-detalhes{
	height: 100%;
	width: 150px;
	text-align: left;
	display: inline-block;
	float: left;
}
.produto-detalhes p{
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}
.produto-detalhes .sabor-produto{
    margin-bottom: 0;
    line-height: 20px;
    text-transform: lowercase;
}
.produto-detalhes .tamanho-produto{
	margin-bottom: 0;
    line-height: 20px;
    text-transform: lowercase;
}
.conjunto-botoes{
	height: 25px;
	width: 165px;
	position: relative;
}
.produto-detalhes .btn-quantidade{
	width: 20px;
	height: 23px;
	border: 1px solid black;
	
	margin: 0 5px;
	font-weight: 700;
	cursor: pointer;
	float: left;
	text-align: center
}
.produto-detalhes .btn-quantidade:hover{
	border: 1px solid rgba(80, 137, 207, 1.0);
	color: rgba(80, 137, 207, 1.0);
}
.produto-detalhes .quantidade-produtos{
	width: 25px;
	text-align: center;
	float: left;
}
.produto-detalhes .btn-remover{
	cursor: pointer;
}
.produto-detalhes .btn-remover:hover{
	color: rgba(255, 212, 28, 1.0);
}
.produto-detalhes .total-quantidade{
	font-weight: 700;
	float: right;
	font-size: 16px
}
.botoes-mochila-titulo{
	width: 100%;
}
.botoes-mochila-sub{
	margin-top: -5px;
	width: 100%;
	font-size: 16px;
}
.area-cupom{
    padding: 10px 10px 0 10px;
	width: 100%;
}
.area-cupom input{
	width: 200px;
	height: 25px;
	border: 1px solid rgba(80, 137, 207, 1.0);
	border-radius: 3px;
	display: inline-block;
}
.area-cupom button{
	background-color: rgba(80, 137, 207, 1.0);
	color: rgba(255,255,255,1.0);
	border: none;
	width: 75px;
	height: 25px;
	border-radius: 3px;
}
.rodape-mochila{
	position: absolute;
	bottom: 0px;
}
.valor-total-compra{
	padding: 0 15px;
}
.valor-total-compra h4{
	font-weight: 700;
	margin: 5px 0;
}
.valor-total-compra span{
	float: right;
}
.tarja-detalhes {
	color: #5089cf;
	cursor: pointer;
}
.tarja-detalhes:hover {
	color: #6d99d0;
}

/**********************************************************
/************************FIM MOCHILA***********************
/**********************************************************/

/**********************************************************
/*************************HOME*****************************
/**********************************************************/

.title-section{
	background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 5px #545454;
    display: inline-block;
}
.title-section h3{
	font-weight: 700;
	display: inline-block;
	margin: 0 15px 0 0;
}
.banner-bg {
    width: 100%;
    height: 700px;
    position: absolute;
    margin-bottom: 15px;
    background-position: center top;
}
.container-grade {
    padding: 500px 0 25px 0;
    background-color: rgba(255, 255, 255, 1);
}
.subfiltros{
	height: 42px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 5px #545454;
    padding: 10px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.subfiltros h3{
	margin-top: 5px;
}
.dropdowns{
	float: right;
	display: inline-block;
}
@media all and (max-width: 450px){
	.banner-bg {
		display: none;
	}
	.title-section h3{
		font-size: 16px;
	}
}
@media all and (max-width: 992px) {
	.container-grade{
		padding: 110px 0 25px 0!important;
	}

	.dropdowns {
		float: none;
	}
}

.mobile-only {
	display: none;
}

@media all and (max-width: 992px) {
	.mobile-only {
		display: block;
	}
}

/**********************************************************
/************************FIM HOME**************************
/**********************************************************/

/**********************************************************
/********************BOX DO PRODUTO************************
/**********************************************************/

.item {
	margin-bottom: 30px;
}
.box-completa-produto{
	position: relative;
	height: 370px;
	width: 265px;
	background: rgba(255,255,255,1);
	border-radius: 5px;
    box-shadow: 0px 0px 5px #545454;
    margin: 0 auto;
}
.texto-prazo {
    color: white;
    background-color: #5089cf;
    font-weight: 700;
}
.box-completa-produto-busca {
	margin-bottom: 30px;
}
.info-produto{
	position: relative;
	display: inline-block;
	padding: 10px 10px 0 10px;
	width: 100%;
	margin-bottom: 10px;
}
.tarja-objetivo{
	position: relative;
	top: 0;
	left: -1px;
	height: auto;
}
.total-tarjas{
	position: relative;
	top: 170px;
	left: -1px;
	height: auto;
}
.tarja {
	margin-bottom: 3px;
	margin-left: -6px;
    letter-spacing: 2px;
	width: 100px;
	position: absolute;
	z-index: 1;
	text-align: center;
}
.tarja::before{
	content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #404041 transparent transparent;
    position: absolute;
    left: 0px;
    bottom: -6px;
}
.tarja span{
	font-weight: 700;
	color: rgba(255,255,255,1);
}
.tarja-promocao{
	background-color: rgba(243, 156, 18, 1);
}
.tarja-novidade{
	background-color: rgba(80, 137, 207, 1);
}
.tarja-ultimo{
	background-color: rgba(255, 49, 49, 1);
}
.objetivo-tarja{
	
}
.objetivo-tarja span{
	color: rgba(255, 255, 255, 1);
}
.produto-superior{
	text-align: left;
	display: block;
	width: 100%;
	height: 190px;
}
.produto-inferior, .botoes-comprar-similiar{
	text-align: center;
	display: block;
	width: 100%;
}
.produto-superior .foto-produto{
	text-align: center;
	width: 120px;
	display: block;
	float: left;
	height: 100%
}	
.produto-superior .foto-produto img{
	max-height: 170px;
    max-width: 100%;
}
.detalhes-produto{
	display: block;
	float: left;
}
.produto-superior .detalhes-produto{
	width: 124px;
	height: 100%;
}
.icones-objetivos{
	height: 15px;
	margin-bottom: 15px;
}
.icones-objetivos .fa{
	color: rgba(80, 137, 207, 1);
}
.informacoes-detalhes{
	width: 100%;
	padding-left: 20px;
}
.detalhes-produto .informacoes-detalhes p{
	font-weight: 700;
	color: rgba(80, 137, 207, 1);
	font-size: 14px;
	text-transform: capitalize!important;
}
.produto-inferior h4{
	font-weight: 700;
	color: rgba(80, 137, 207, 1);
	text-transform: uppercase;
	font-size: 18px;
	white-space: nowrap;
	width: 100%;
	overflow:hidden;
	text-overflow:ellipsis;
}
.produto-inferior p{
	font-size: 16px;
	color: rgba(120, 120, 120, 1);
	font-weight: 500;
	margin-bottom: 5px;
}
.produto-inferior .preco-corte{
	color: rgba(255, 49, 49, 1);
	text-decoration: line-through;
}
.produto-inferior .preco-principal{
	font-weight: 700;
	font-size: 20px;
	color: #489f36;
}
.botoes-comprar-similiar button{
	width: 100%;
	height: 50px;
	font-size: 14px;
	font-weight: 700;
	color: rgba(255,255,255,1);
	display: inline-block;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px!important;
	padding: 0;
}
.botoes-comprar-similiar button:hover{
	color: rgba(255,255,255,1);
}
.botoes-comprar-similiar button img{
	width: 20px;
}
.btn-incluir{
	margin-bottom: 5px;
	background-color: rgba(72, 159, 54, 1);
}
.btn-incluir:hover{
	background-color: rgba(55, 119, 42, 1);
}
.btn-similares{
	margin-bottom: 5px;
	color: rgb(255,255,255);
	background-color: rgba(80, 137, 207, 1.0);
}
.btn-similares:hover{
	background-color: rgba(60, 102, 152, 1);
}
.btn-comparar{
	margin-bottom: 5px;
	background-color: rgba(80, 137, 207, 1.0);
}
.btn-comparar:hover{
	background-color: rgba(60, 102, 152, 1);
}
.hover-produto{
	display: none;
	position: absolute;
	padding: 40px 20px;
    top: 0;
    height: 210px;
    left: 0;
    right: 0;
    z-index: 2;
    transition: all 5s;
}
.hover-produto-disponivel{
	background-color: rgba(97, 197, 19, 0.5);
}
.hover-produto-indisponivel{
    background-color: rgba(80, 137, 207, 0.5);
}
.info-produto:hover .hover-produto{
	display: block;
}
.hexagono-indicar{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -40px;
}
.hexagon {
    width: 80px;
    height: 43px;
    background: #5089cf;
    position: relative;
    color: rgba(255,255,255,1);
    text-transform: capitalize;
    cursor: pointer;
}
.hexagon img{
	width: 18px;
}.hexagon:before {
        content: "";
        position: absolute;
        top: -25px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 25px solid #5089cf;
}
.hexagon:after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 25px solid #5089cf;
}
.hexagon:hover{
	background-color: rgba(60, 102, 152, 1);
}
.hexagon:hover:before{
	border-bottom: 25px solid rgba(60, 102, 152, 1);
}
.hexagon:hover:after{
	border-top: 25px solid rgba(60, 102, 152, 1);
}
.hexagon-disponivel{
	width: 80px;
    height: 43px;
    background: rgba(72, 159, 54, 1);
    position: relative;
    color: rgba(255,255,255,1);
    text-transform: capitalize;
    cursor: pointer;
}
.hexagon-disponivel img{
	width: 18px;
}
.hexagon-disponivel:before {
        content: "";
        position: absolute;
        top: -25px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 25px solid rgba(72, 159, 54, 1);
}
.hexagon-disponivel:after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 25px solid rgba(72, 159, 54, 1);
}
.hexagon-disponivel:hover{
	background-color: rgba(55, 119, 42, 1);
	color: white;
}
.hexagon-disponivel:hover:before{
	border-bottom: 25px solid rgba(55, 119, 42, 1);
}
.hexagon-disponivel:hover:after{
	border-top: 25px solid rgba(55, 119, 42, 1);
}
.owl-carousel .owl-wrapper-outer{
	padding-top: 15px!important;
	padding-left: 15px!important;
}
.compare img{
	margin-top: -22px;
    width: 80px;
    cursor: pointer;
}
.desktop-hidden{
	display: none!important;
}
@media all and (max-width: 992px){
	.box-completa-produto{
		height: 450px
	}
	.desktop-hidden{
		display: inline-block!important;
		width: 33%!important;
	}
	.hover-produto{
		display: none!important;
	}

}
@media all and (max-width: 450px){
	.owl-carousel .owl-wrapper-outer{
		padding-left: 0px!important;
	}
}
/**********************************************************
/******************FIM BOX DO PRODUTO**********************
/**********************************************************/


/**********************************************************
/**********************PROMOÇÕES***************************
/**********************************************************/

#regressivo{
	font-family: digital7;
	font-size: 130px;
	color: #27ae60;
	text-align: center;
}
@media all and (max-width: 500px){
	#regressivo{
		font-size: 80px;
	}
}


/**********************************************************
/********************FIM PROMOÇÕES*************************
/**********************************************************/

/**********************************************************
/**********************MINHA CONTA*************************
/**********************************************************/

.minha-conta-container {
    padding-right: 230px;
    padding-left: 230px;
    padding-top: 100px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-bottom: 15px;
}

/**********************************************************
/*********************FIM MINHA CONTA**********************
/**********************************************************/


/**********************************************************
/*********************COMPARADOR COMPLETO******************
/**********************************************************/

.comparador_container{
	padding-top: 110px;
}
.table-main{
	width: 100%;
	min-height: 200px;
}
.table-main table{
	width: auto;
	text-align: center;
	margin: 0 auto;
}
.table-main table tr td{
    min-width: 200px;
    max-width: 200px;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
}
.table-main table tr td img, .item-floatbar img{
	max-height: 125px;
	margin-bottom: 5px;
}
tr:nth-child(even){
	background-color: rgba(100, 100, 100, 0.1)
}
.table-main ul{
	padding-left: 0;
}
.separador-colunas{
	background-color: rgb(255,255,255);
}
.separador-colunas h4{
	font-weight: 700;
}
.comprar-comparador{
    font-weight: 700;
    color: rgba(255,255,255,1);
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px!important;
}
.comprar-comparador:hover{
	color: rgba(255,255,255,1);
}
table.ComparaTable {
	/*margin-top: 200px;*/
}
.ComparaTable .titulo{
	font-weight: 700;
    background-color: rgb(255,255,255);
    text-align: right;
    padding-right: 10px;
    max-width: 200px;
    min-width: 200px;
}
.foto-comparador .btn-exclui-comparador{
    color: rgb(255,0,0);
    display: inline;
    position: relative;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1
}
.floatbar{
	min-width: 100%;
    float: left;
    position: absolute;
    padding-top: 20px;
    top: -100px;
    height: 155px;
    border-bottom: 1px solid #5089cf;
    padding-left: 197px;
    white-space: nowrap;
    background-color: rgb(255,255,255);
    z-index: 3;
    transition: all 0.2s;
}
.item-floatbar{
	display: inline-block;
	min-width: 197px;
	max-width: 208px
}
.item-floatbar .btn-exclui-comparador{
    color: rgb(255,0,0);
    display: inline;
    position: relative;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1
/**********************************************************
/*********************FIM COMPARADOR COMPLETO**************
/**********************************************************/