.overlay {
	z-index: 410;
	position: fixed;
	top: 0;
	left: 0;
	height: 0%;
	width: 100%;
	background-color: rgba(51, 51, 51, 0.9);
	overflow: hidden;
	transition: 0.5s;
}
.overlay-content {
	position: relative;
    top: 5%;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    height: auto;
    min-height: 150px;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 5px;
    padding: 15px;
    background: white;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif!important;
}
.overlay-comparador,.overlay-comprar{
    position: fixed;
    top: 2500px;
    bottom: 0px;
    width: 100%;
    z-index: 200;
    background-color: rgba(51,51,51,0.9);
}
.overlay-content hr{
	border-color: rgba(244, 214, 55, 1.0);
	width: 90%;
}
.overlay-content h1{
	color: #5089cf;
}
.overlay-content h2{
	color: #5089cf;
}
.overlay-content h3{
	color: #5089cf;
}
.overlay-content h4{
	color: #5089cf;
}
.overlay-content h5{
	color: #aaaaaa;
}
.overlay-content h6{
	color: #aaaaaa;
}
.overlay-content p{
	font-size: 16px;
    color: rgb(0,0,0);
}
.overlay .overlay-content .menu .content-menu a{
	color: rgba(80, 137, 207, 0.8);
	font-size: 24px;
	padding: 0px;
}
.overlay-content .fa{
	color: rgba(80, 137, 207, 0.8);
	margin: 0 2px;
}
.overlay-content button .fa{
	color: rgb(255,255,255);
}
.overlay a {
	text-decoration: none;
	color: #5087c7;
	display: block;
	transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
	color: #f3d012;
}
.overlay .closebtn {
	color: #f4db1b!important;
    position: absolute!important;
    top: 0px!important;
    right: 20px!important;
    font-size: 40px!important;
    z-index: 1!important;
    display: inline!important;
    width: auto!important;
    cursor: pointer;
}
.overlay .closebtn:hover {
	color: #5087c7;
}

@media screen and (max-width: 767px){
	.overlay-content {
		position: relative;
	    top: 5%;
	    left: 50%;
	    margin-left: -125px;
	    width: 250px;
	    height: auto;
	    min-height: 300px;
	    max-height: 90%;
	    overflow-y: auto;
	    border-radius: 10px;
	    padding: 30px 15px; 
	    background: white;
	}
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* CUSTONS */
/* BANNERS NOVA HOME */
#banner .overlay-content{
	padding: 0px;
}
#banner .overlay-content #img-banner-desk{
	width: 100%;
	height: auto;
}
#img-banner-desk{
	display: block;
}
#img-banner-mobile{
	display: none;
}
@media screen and (max-width: 767px){
	#img-banner-desk{
		display: none;
	}
	#img-banner-mobile{
		display: block;
		width: 100%;
		height: 440px;
	}
}
/* INDICAÇÃO NAVBAR */
#indique .overlay-content img{
	width: 20px;
	height: 20px;
}
#indique .overlay-content #explicativo p{
	text-align: left;
}
/* AVALIAÇÃO NO PERFIL DA ACADEMIA */
.overlay-content .forgot-password a{
	font-size: 12px;
	color: #444;
	transition: 0.3s;
}
.overlay-content .forgot-password a:hover{
	color: #f3d012;
	text-decoration: none;
}
.overlay-logado .fa:hover{
	color: #f3d012
}
/* NAVBAR MOBILE */
#navbar-content .overlay-content{
	height: 80%;
	display: flex;
}
/*GALERIA PERFIL ACADEMIA*/
#galeria_inner{
	padding: 30px 15px;
}
@media screen and (min-width: 768px){
	#galeria_inner{
		padding: 15px;
	}
}
/*ENTENDA OS STATUS PEDIDOS ADMIN ACADEMIA*/
#entendaStatus{
	z-index: 70;
}
/* EDITAR ASSINATURAS E PLANOS */
.edit-plano{
	padding: 15px;
}
.edit-plano h3{
	text-align: center;
}
.obs-overlay{
	white-space: normal;
}
.obs-overlay p{
	font-size: 12px;
}


/*BOTOES OVERLAY*/
.overlay-content .button-blue {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: 9px 15px;
    font-size: 14px;
    color: rgba(255,255,255,1);
    background-color: #5c9cd8;
    width: 100%;
}

.overlay-content .button-blue:hover {
    background-color: #376fa5;
    color: rgba(255,255,255,1);

}

.overlay-content .button-blue-grande {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 25px;
    color: rgba(255,255,255,1);
    background-color: #5c9cd8;
    width: 100%;
}

.overlay-content .button-blue-grande:hover {
    background-color: #376fa5;
    color: rgba(255,255,255,1);
}

.overlay-content .button-green {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 25px;
    color: rgba(255,255,255,1);
    background-color: #489f36;
    width: 100%;
}
.overlay-content .button-green img{
    width: 30px;
    margin: -8px 0 0;
}
.overlay-content .button-green:hover {
    background-color: #37772a;
}
.overlay-content .share-buttons{
    margin-bottom: 10px;
}
.overlay-content .share-whastapp{
    display: none;
}
.overlay-content .copy-alert{
    color: #489f36;
    font-size: 14px;
    font-weight: 700;
}
.hide{
	display: none!important;
}
@media all and (max-width: 500px){
    .overlay-content .share-whastapp{
        display: block;
    }
}
@media all and (max-height: 500px){
    .overlay-content .share-whastapp{
        display: block;
    }
}