body{
  font-family: 'Open Sans', sans-serif!important;
	font-size: 16px!important;
	background-color: #eeeeee!important;
}
body a{
  text-decoration: none!important;
}
/*FINALIZAR BOLETOS*/
.boletos{
  margin-bottom: 50px;
}
.boletos p{
  font-weight: 700;
  font-size: 24px;
}
.boletos button{
  background-color: rgba(80, 137, 207, 1.0);
  color: rgba(255,255,255,1.0);
}
.boleto{
  margin-top: 20px ;
  margin-bottom: 20px ;
}
.boleto a{
  padding: 0!important;
}
/* CARTAO */
.autorizado{
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
.autorizado-content{
  position: relative;
  top: 50%;
  left: 20%;
  width: 60%;
  text-align: center;
  -webkit-transform: translateY( -50% );
  -moz-transform: translateY( -50% );
  transform: translateY( -50% );
}
/* PROFILE-MENU */
.profile-menu{
	height: 35px;
	padding-top: 8px;
	box-shadow: 0px 0px 1px 1px rgba(80, 137, 207, 0.4);
  background-color: rgba(255, 255, 255, 1.0);
}
.profile-menu ul{
  padding: 0 10px;
}
.profile-menu ul li{
	display: inline-block;
  text-align: center;
  width: auto;
  margin: 0 5px;
  padding-right: 15px;
}
.profile-menu .fa{
	color: #5089cf;
}
.profile-menu .back-button a{
  color: #f00;
}
.profile-menu .back-button .fa{
  color: #f00;
}
.profile-menu .back-button a:hover{
  font-weight: 700;
}
/* BOTOES */
.editar{
  padding: 0px!important;
}
/* CAIXAS DE CONTEUDO PADRONIZADAS */
.box-conteudo{
	margin: 30px 8px 15px 8px;
	min-height: 200px;
	box-shadow: 0px 0px 1px 1px rgba(80, 137, 207, 0.4);
	padding: 0 15px 15px 15px;
  background-color: #fff;
}
.box-conteudo hr{
  border-top: 2px solid rgba(166, 166, 166, 0.5);
}
.box-conteudo h3{
  font-weight: 700;
	color: #5089cf;
}
/* CAIXA CALENDARIO */
.add-aula{
  margin-bottom: 10px;
  padding: 10px;
}
.att-aula{
  margin-bottom: 10px;
  padding: 10px;
  vertical-align: middle;
}
.add-aula button{
  margin-top: 10px;
}
.calendario-content{

}
.table-calendario{
  overflow-x: auto;
}
.table-calendario .forms-horario{
  width: 140px;
  text-align: center;
}
.table-calendario table{
  min-width: 900px;
  border: 3px solid rgba(80, 137, 207, 1.0);
  border-collapse: collapse;
}
.table-calendario th{
  text-align: center!important;
  color: rgba(80, 137, 207, 1.0);
  padding: 5px;
  background-color: rgba(199, 199, 199, 1.0);
  border-right: 1px solid rgba(80, 137, 207, 0.4);
  border-collapse: collapse;
}
.table-calendario td{
  padding: 10px 5px;
  border-collapse: collapse;
  border-right: 1px solid rgba(80, 137, 207, 0.1);
}
.table-calendario tr:nth-child(even){
  background-color: rgba(255, 255, 255, 1.0);
}
.table-calendario tr:nth-child(odd){
  background-color: rgba(234, 234, 234, 1.0);
}
/* CAIXA MODALIDADES */
.modalidades-content ul{
  list-style: none
}
.modalidades-content .fa{
  color: rgba(80, 137, 207, 1.0);
}
.modalidades-content .modalidade-single{
  width: 180px;
  height: 25px;
  margin: 0 10px;
  text-align: left;
  display: inline-block
}
/* CAIXA INSTRUTORES */
.instrutores-content{
	box-shadow: 0px 0px 1px 1px rgba(80, 137, 207, 0.4);
	min-height: 200px;
	height: auto;
	padding: 0!important;
	margin: 10px;
}
.topo-professor{
	height: 45px;
	background-color: rgba(80, 137, 207, 0.8);
	padding: 0px;
}
.dados-professor img{
	position: relative;
	top: -25px;
	border-radius: 10px;
    width: 90px;
    height: 90px;
    padding: 3px;
    border-color: #f3d012;
    background: #f3d012;
}
.dados-professor{
	padding-bottom: 5px ;
}
.dados-professor p{
	font-size: 16px;
}
/* CAIXA SOBRE */
.info-sobre{
  font-size: 18px;
}
.academia-sobre .fa{
  color: rgba(80, 137, 207, 1.0);
  margin: 10px;
}
.dados-contato{
  padding: 0!important;
}
.academia-sobre .form-control{
  box-shadow: 0px 0px 1px 1px rgba(80, 137, 207, 0.4);
  border: none;
  margin: 10px;
}
.academia-sobre .form-control[disabled]{
  background-color: rgba(243, 208, 18, .30);
}
.academia-sobre .phone{
  width: 40%;
  display: inline-block;
  height: 25px;
}
.academia-sobre .address{
  width: 100%;
  display: inline-block;
  height: 25px;
}
.academia-sobre .horario{
  width: 65px;
  height: 25px;
  display: inline-block;
}
.almoco{
  text-align: right;
}
.almoco p{
  margin: 10px;
}
.separador-cinza{
  border-top: 1px solid rgba(220, 220, 220, 1.0)!important;
}
.diferenciais img{
  width: 50px;
  height: 50px;
  margin: 7px 7px;
}
.diferenciais .fa {
  color: rgba(80, 137, 207, 1.0);
}
.diferenciais .fa-inverse {
  color: rgba(255, 255, 255, 1.0)!important;
}
.diferenciais .diferenciais-single{
  width: 180px;
  height: 25px;
  margin: 0 10px;
  text-align: left;
  display: inline-block
}
.diferenciais-single .input-group .input-group-addon {
  padding: 0px 5px 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #fff;
  border: none!important;
  border-radius: 4px;
}
/* CAIXA GALERIA */
.owl-carousel-2{
  height: 240px;
}
.galeria-content {
  height: auto;
  margin: 10px;
}
.galeria-content img{
 height: 140px;
}
.galeria-content .remove{
  margin: 5px 0;
}
/* PRODUTOS */
.acesso-loja{
  margin-top: 25px;
}
/* CAIXA AVALIAÇÃO */
.avaliacoes{
  height: 270px;
  width: 100%;
}
.avaliacao-content{
  box-shadow: 0px 0px 1px 1px rgba(80, 137, 207, 0.4);
  display: inline-block;
  height: 220px;
  margin: 10px;
  padding: 10px;
}
.avaliacao-content span{
  color: rgba(255, 0, 0, 0.5);
}
.avaliacao-content span:hover{
  color: rgba(255, 0, 0, 1.0);
  cursor: pointer;
  font-weight: 700;
}
.avatar-avaliador{
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #f3d012;
  background: #f3d012;
}
.avatar-avaliador img{
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.dados-avaliador{
  display: inline-block;
  float: left;
  width: 62%;
  height: 50px;
  margin: 5px;
}
.dados-avaliador .fa{
  font-size: 1.5em;
  margin: 0 2px;
  color: #f3d012;
}
.comentario-avaliador{
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  height: 110px;
  box-shadow: 0px 0px 1px 1px rgba(80, 137, 207, 0.2);
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(80, 137, 207);
  background-color: rgba(80, 137, 207, 0.6);
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 20%;
  height: 50%;
  left: 25%;
  width: 50%;
  background: white;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
}
.overlay-content h3{
  font-weight: 700;
  color: #5089cf;
}
.overlay-content h4{
  font-weight: 700;
  color: #000;
}
.overlay-content .fa{
  color: rgba(80, 137, 207, 0.8);
  margin: 0 2px;
}
.overlay-logado .fa:hover{
  color: #f3d012
}
.overlay-content .form-control{
  margin: 10px 10%;
  width: 80%;
}
.overlay-content .forgot-password a{
  font-size: 12px;
  color: #444;
  transition: 0.3s;
}
.overlay-content .forgot-password a:hover{
  color: #f3d012;
  text-decoration: none;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f3d012;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/* CAIXA PACOTES */
#pacotes h3{
  font-weight: 700;
  color: #5089cf;
}
.pacote-content{
	box-shadow: 0px 0px 1px 1px rgba(80, 137, 207, 0.4);
  height: 420px;
  margin: 10px 5px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 1.0);
}
.pacote-content p{
  font-size: 16px;
  word-wrap: break-word;
}
.pacote-content label{
  font-size: 16px;
  font-weight: normal;
}
.pacote-content h4{
	padding-top: 8px;
	font-weight: 700;
}
.pacote-content .descricao{
  height: 185px;
  padding: 0px;
}
.pacote-content i{
  margin: 0 10px;
  color: rgba(80, 137, 207, 1.0);
}
.pacote-content .metodos{
  min-height: 85px;
  margin-bottom: 10px;
}
.metodos span{
  width: 50%;
}
.faixa-assinatura{
    height: 20px;
    background-color: #5089cf;
    width: 150px;
    position: absolute;
    left: 13px;
    top: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.faixa-assinatura:before{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #404041 transparent transparent;
    position: absolute;
    left: 0px;
    bottom: -6px;
}
/* CAIXA MAPA */
.mapa-content{
  box-shadow: 0px 0px 1px 1px rgba(80, 137, 207, 0.4);
  margin: 10px;
  height: 350px;
}
#map-canvas{
  width: 100%;
  height: 300px;
}
@media all and (max-width: 768px){
    .profile-menu{
      display: none;
    }
    .box-conteudo{
      margin: 5px 0px 35px 0px!important;
    }
}
@media all and (max-width: 450px){
  .overlay-content{
    height: 70%;
    left: 5%;
    width: 90%;
  }
  .academia-sobre .phone {
    width: 100%;
    display: inline-block;
  }
  .editar{
    margin-top: 10px;
  }
  .almoco{
  text-align: left!important;
  }
  .academia-ticoliro-content h1{
    font-size: 23px;
  }
  .dados-avaliador .fa{
    font-size: 1em;
  }
  .owl-carousel-2 .owl-controls{
    display: none!important;
  }
  .pacote-content{
    height: auto;
  }
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay > a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.academia-ticoliro{
  position: absolute;
    width: 100%;
    height: 100%;
    background: #ccc;
}
.academia-ticoliro-content{
  position: absolute;
  top: 50%;
  left: 20%;
  width: 60%;
  text-align: center;
  -webkit-transform: translateY( -50% );
  -moz-transform: translateY( -50% );
  transform: translateY( -50% );
}
.academia-ticoliro-content h1{
  color: #5089cf;
  font-weight: 700;
}