/* TOPO */
.avatar-total{
  margin-top: 55px;
  height: 200px;
  background-image: url('../img/bg-textura2.png');
  background-repeat: no-repeat;
}
.avatar-total .container{
  padding: 15px 0 0 15px;
}
.avatar-content{
	padding: 0!important;
  float: left;
  width: auto;
  min-width: 130px;
  display: inline-block;

}
.avatar {
  position: relative;
}
.avatar img{
  box-shadow: 0px 0px 1px 1px rgba(166, 166, 166, 1.0);
  background-color: #fff;
  min-width: 150px;
  max-width: 320px;
  max-height: 145px;
  border-radius: 5px;
}
.compra-segura{
  position: absolute;
  bottom: 0px;
  letter-spacing: 2px;
  right: 0px;
  font-size: 13px;
  color: white;
  background: #5cb85c;
  font-weight: 400;
  padding: 3px 10px;
  border-radius: 5px 0 5px 0;
  opacity: 0.8;
}
.compra-segura .fa{
  color: white;
}
.compra-segura p{
  margin: 0 0 5px;
}
.altera-logo{
  width: 20%;
}
.altera-logo a{
  color: #5089cf;
  font-size: 18px;
}
.altera-logo a:hover{
  color: #f3d012;
}
.avaliacao{
  display: inline-block;
  padding: 0 15px;
  min-height: 175px;
}
.avaliacao .botao-loja{
  margin: 25px 0 15px 0;
}
.avaliacao .botao-loja .fa{
  color: #fff;
} 
.avaliacao .botao-loja button{ 
  color: rgba(255, 255, 255, 1.0);
  font-size: 16px;
  margin-bottom: 10px;
}
.avaliacao .botao-loja #btn-loja, .avaliacao .botao-loja #btn-perfil {
  background-color: rgba(80, 137, 207, 1.0);
}
.avaliacao .botao-loja #btn-loja, .avaliacao .botao-loja #btn-balanca {
  background-color: rgba(80, 137, 207, 1.0);
}
.avaliacao .botao-loja #btn-loja:hover, .avaliacao .botao-loja #btn-perfil:hover, .avaliacao .botao-loja #btn-balanca:hover{
  background-color: rgba(50, 86, 130, 1.00);
}
.avaliacao .botao-loja #btn-mensalidade-voltar{
    display: none;
  }
.avaliacao .fa{
	color: yellow;
}
.avaliacao h1{
	margin-top: 5px;
  font-weight: 700;
}
.mensalidades{
  float: left;
  padding: 0 10px;
}
.mensalidades button{
  margin-top: 20px;
  height: 50px;
  background-color: rgba(141, 199, 63, 1);
  color: white;
  font-size: 18px;
  border: none;
}
.mensalidades button:hover{
  color: #23527c;
}

.mensalidades button:active{
  border: none;
}
.active-sobrenav{
  color: #f3d012!important;
}
.sobrenavbar{
  height: 25px;
  padding: 2px 30px;
  background-color: #5089cf;
}
.sobrenavbar span{
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  margin: 0 15px;
  cursor: pointer;
  text-transform: none;
}
.sobrenavbar span:hover{
  color: #f3d012;
  text-decoration: none;
}
.identificacao{
    color: #698cc3;
    font-size: 20px;
}
#selo_seguranca{
  display: inline-block;
  height: 175px;
}
#selo_seguranca img{
  width: 110px;
  margin-top: 90px;
}
@media all and (max-width: 768px){
  .avatar-total{
    background-position: -200px 0px;
  }
  .avatar-total .container{
    padding: 15px;
  }
}
@media all and (max-width: 450px){
  .avatar-total{
    text-align: center;
    margin-top: 0px;
    background-position: -810px 0px;
    height: auto;
  }
  .avatar img{
    max-width: 270px;
  }
  .avatar-content {
    width: 100%
  }
  .avatar-content, .avaliacao{
    display: inline;
  }
  #selo_seguranca{
    height: auto;
  }
  #selo_seguranca img{
    margin-top: 0px;
  }
}
@media all and (min-width: 1600px){
  .avatar-total{
    background-position: 390px 0px;
  }
}