@font-face {
  font-family: 'typicons';
  src: url('typicons.eot');
  src: url('typicons.eot') format('embedded-opentype'),
       url('typicons.woff') format('woff'),
       url('typicons.ttf') format('truetype'),
       url('typicons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-typicons-']:before,
[class*=' icon-typicons-']:before {
    font-family: 'typicons';
}

.icon-typicons-music-outline:before { content: '\e800'; }
.icon-typicons-music:before { content: '\e801'; }
.icon-typicons-search-outline:before { content: '\e802'; }
.icon-typicons-search:before { content: '\e803'; }
.icon-typicons-mail:before { content: '\e804'; }
.icon-typicons-heart:before { content: '\e805'; }
.icon-typicons-heart-filled:before { content: '\e806'; }
.icon-typicons-star:before { content: '\e807'; }
.icon-typicons-star-filled:before { content: '\e808'; }
.icon-typicons-user-outline:before { content: '\e809'; }
.icon-typicons-user:before { content: '\e80a'; }
.icon-typicons-users-outline:before { content: '\e80b'; }
.icon-typicons-users:before { content: '\e80c'; }
.icon-typicons-user-add-outline:before { content: '\e80d'; }
.icon-typicons-user-add:before { content: '\e80e'; }
.icon-typicons-user-delete-outline:before { content: '\e80f'; }
.icon-typicons-user-delete:before { content: '\e810'; }
.icon-typicons-video:before { content: '\e811'; }
.icon-typicons-videocam-outline:before { content: '\e812'; }
.icon-typicons-videocam:before { content: '\e813'; }
.icon-typicons-picture-outline:before { content: '\e814'; }
.icon-typicons-picture:before { content: '\e815'; }
.icon-typicons-camera-outline:before { content: '\e816'; }
.icon-typicons-camera:before { content: '\e817'; }
.icon-typicons-th-outline:before { content: '\e818'; }
.icon-typicons-th:before { content: '\e819'; }
.icon-typicons-th-large-outline:before { content: '\e81a'; }
.icon-typicons-th-large:before { content: '\e81b'; }
.icon-typicons-th-list-outline:before { content: '\e81c'; }
.icon-typicons-th-list:before { content: '\e81d'; }
.icon-typicons-ok-outline:before { content: '\e81e'; }
.icon-typicons-ok:before { content: '\e81f'; }
.icon-typicons-cancel-outline:before { content: '\e820'; }
.icon-typicons-cancel:before { content: '\e821'; }
.icon-typicons-cancel-alt:before { content: '\e822'; }
.icon-typicons-cancel-alt-filled:before { content: '\e823'; }
.icon-typicons-cancel-circled-outline:before { content: '\e824'; }
.icon-typicons-cancel-circled:before { content: '\e825'; }
.icon-typicons-plus-outline:before { content: '\e826'; }
.icon-typicons-plus:before { content: '\e827'; }
.icon-typicons-minus-outline:before { content: '\e828'; }
.icon-typicons-minus:before { content: '\e829'; }
.icon-typicons-divide-outline:before { content: '\e82a'; }
.icon-typicons-divide:before { content: '\e82b'; }
.icon-typicons-eq-outline:before { content: '\e82c'; }
.icon-typicons-eq:before { content: '\e82d'; }
.icon-typicons-info-outline:before { content: '\e82e'; }
.icon-typicons-info:before { content: '\e82f'; }
.icon-typicons-home-outline:before { content: '\e830'; }
.icon-typicons-home:before { content: '\e831'; }
.icon-typicons-link-outline:before { content: '\e832'; }
.icon-typicons-link:before { content: '\e833'; }
.icon-typicons-attach-outline:before { content: '\e834'; }
.icon-typicons-attach:before { content: '\e835'; }
.icon-typicons-lock:before { content: '\e836'; }
.icon-typicons-lock-filled:before { content: '\e837'; }
.icon-typicons-lock-open:before { content: '\e838'; }
.icon-typicons-lock-open-filled:before { content: '\e839'; }
.icon-typicons-pin-outline:before { content: '\e83a'; }
.icon-typicons-pin:before { content: '\e83b'; }
.icon-typicons-eye-outline:before { content: '\e83c'; }
.icon-typicons-eye:before { content: '\e83d'; }
.icon-typicons-tag:before { content: '\e83e'; }
.icon-typicons-tags:before { content: '\e83f'; }
.icon-typicons-bookmark:before { content: '\e840'; }
.icon-typicons-flag:before { content: '\e841'; }
.icon-typicons-flag-filled:before { content: '\e842'; }
.icon-typicons-thumbs-up:before { content: '\e843'; }
.icon-typicons-thumbs-down:before { content: '\e844'; }
.icon-typicons-download-outline:before { content: '\e845'; }
.icon-typicons-download:before { content: '\e846'; }
.icon-typicons-upload-outline:before { content: '\e847'; }
.icon-typicons-upload:before { content: '\e848'; }
.icon-typicons-upload-cloud-outline:before { content: '\e849'; }
.icon-typicons-upload-cloud:before { content: '\e84a'; }
.icon-typicons-reply-outline:before { content: '\e84b'; }
.icon-typicons-reply:before { content: '\e84c'; }
.icon-typicons-forward-outline:before { content: '\e84d'; }
.icon-typicons-forward:before { content: '\e84e'; }
.icon-typicons-code-outline:before { content: '\e84f'; }
.icon-typicons-code:before { content: '\e850'; }
.icon-typicons-export-outline:before { content: '\e851'; }
.icon-typicons-export:before { content: '\e852'; }
.icon-typicons-pencil:before { content: '\e853'; }
.icon-typicons-pen:before { content: '\e854'; }
.icon-typicons-feather:before { content: '\e855'; }
.icon-typicons-edit:before { content: '\e856'; }
.icon-typicons-print:before { content: '\e857'; }
.icon-typicons-comment:before { content: '\e858'; }
.icon-typicons-chat:before { content: '\e859'; }
.icon-typicons-chat-alt:before { content: '\e85a'; }
.icon-typicons-bell:before { content: '\e85b'; }
.icon-typicons-attention:before { content: '\e85c'; }
.icon-typicons-attention-filled:before { content: '\e85d'; }
.icon-typicons-warning-empty:before { content: '\e85e'; }
.icon-typicons-warning:before { content: '\e85f'; }
.icon-typicons-contacts:before { content: '\e860'; }
.icon-typicons-vcard:before { content: '\e861'; }
.icon-typicons-address:before { content: '\e862'; }
.icon-typicons-location-outline:before { content: '\e863'; }
.icon-typicons-location:before { content: '\e864'; }
.icon-typicons-map:before { content: '\e865'; }
.icon-typicons-direction-outline:before { content: '\e866'; }
.icon-typicons-direction:before { content: '\e867'; }
.icon-typicons-compass:before { content: '\e868'; }
.icon-typicons-trash:before { content: '\e869'; }
.icon-typicons-doc:before { content: '\e86a'; }
.icon-typicons-doc-text:before { content: '\e86b'; }
.icon-typicons-doc-add:before { content: '\e86c'; }
.icon-typicons-doc-remove:before { content: '\e86d'; }
.icon-typicons-news:before { content: '\e86e'; }
.icon-typicons-folder:before { content: '\e86f'; }
.icon-typicons-folder-add:before { content: '\e870'; }
.icon-typicons-folder-delete:before { content: '\e871'; }
.icon-typicons-archive:before { content: '\e872'; }
.icon-typicons-box:before { content: '\e873'; }
.icon-typicons-rss-outline:before { content: '\e874'; }
.icon-typicons-rss:before { content: '\e875'; }
.icon-typicons-phone-outline:before { content: '\e876'; }
.icon-typicons-phone:before { content: '\e877'; }
.icon-typicons-menu-outline:before { content: '\e878'; }
.icon-typicons-menu:before { content: '\e879'; }
.icon-typicons-cog-outline:before { content: '\e87a'; }
.icon-typicons-cog:before { content: '\e87b'; }
.icon-typicons-wrench-outline:before { content: '\e87c'; }
.icon-typicons-wrench:before { content: '\e87d'; }
.icon-typicons-basket:before { content: '\e87e'; }
.icon-typicons-calendar-outlilne:before { content: '\e87f'; }
.icon-typicons-calendar:before { content: '\e880'; }
.icon-typicons-mic-outline:before { content: '\e881'; }
.icon-typicons-mic:before { content: '\e882'; }
.icon-typicons-volume-off:before { content: '\e883'; }
.icon-typicons-volume-low:before { content: '\e884'; }
.icon-typicons-volume-middle:before { content: '\e885'; }
.icon-typicons-volume-high:before { content: '\e886'; }
.icon-typicons-headphones:before { content: '\e887'; }
.icon-typicons-clock:before { content: '\e888'; }
.icon-typicons-wristwatch:before { content: '\e889'; }
.icon-typicons-stopwatch:before { content: '\e88a'; }
.icon-typicons-lightbulb:before { content: '\e88b'; }
.icon-typicons-block-outline:before { content: '\e88c'; }
.icon-typicons-block:before { content: '\e88d'; }
.icon-typicons-resize-full-outline:before { content: '\e88e'; }
.icon-typicons-resize-full:before { content: '\e88f'; }
.icon-typicons-resize-normal-outline:before { content: '\e890'; }
.icon-typicons-resize-normal:before { content: '\e891'; }
.icon-typicons-move-outline:before { content: '\e892'; }
.icon-typicons-move:before { content: '\e893'; }
.icon-typicons-popup:before { content: '\e894'; }
.icon-typicons-zoom-in-outline:before { content: '\e895'; }
.icon-typicons-zoom-in:before { content: '\e896'; }
.icon-typicons-zoom-out-outline:before { content: '\e897'; }
.icon-typicons-zoom-out:before { content: '\e898'; }
.icon-typicons-popup-1:before { content: '\e899'; }
.icon-typicons-left-open-outline:before { content: '\e89a'; }
.icon-typicons-left-open:before { content: '\e89b'; }
.icon-typicons-right-open-outline:before { content: '\e89c'; }
.icon-typicons-right-open:before { content: '\e89d'; }
.icon-typicons-down:before { content: '\e89e'; }
.icon-typicons-left:before { content: '\e89f'; }
.icon-typicons-right:before { content: '\e8a0'; }
.icon-typicons-up:before { content: '\e8a1'; }
.icon-typicons-down-outline:before { content: '\e8a2'; }
.icon-typicons-left-outline:before { content: '\e8a3'; }
.icon-typicons-right-outline:before { content: '\e8a4'; }
.icon-typicons-up-outline:before { content: '\e8a5'; }
.icon-typicons-down-small:before { content: '\e8a6'; }
.icon-typicons-left-small:before { content: '\e8a7'; }
.icon-typicons-right-small:before { content: '\e8a8'; }
.icon-typicons-up-small:before { content: '\e8a9'; }
.icon-typicons-cw-outline:before { content: '\e8aa'; }
.icon-typicons-cw:before { content: '\e8ab'; }
.icon-typicons-arrows-cw-outline:before { content: '\e8ac'; }
.icon-typicons-arrows-cw:before { content: '\e8ad'; }
.icon-typicons-loop-outline:before { content: '\e8ae'; }
.icon-typicons-loop:before { content: '\e8af'; }
.icon-typicons-loop-alt-outline:before { content: '\e8b0'; }
.icon-typicons-loop-alt:before { content: '\e8b1'; }
.icon-typicons-shuffle:before { content: '\e8b2'; }
.icon-typicons-play-outline:before { content: '\e8b3'; }
.icon-typicons-play:before { content: '\e8b4'; }
.icon-typicons-stop-outline:before { content: '\e8b5'; }
.icon-typicons-stop:before { content: '\e8b6'; }
.icon-typicons-pause-outline:before { content: '\e8b7'; }
.icon-typicons-pause:before { content: '\e8b8'; }
.icon-typicons-fast-fw-outline:before { content: '\e8b9'; }
.icon-typicons-fast-fw:before { content: '\e8ba'; }
.icon-typicons-rewind-outline:before { content: '\e8bb'; }
.icon-typicons-rewind:before { content: '\e8bc'; }
.icon-typicons-record-outline:before { content: '\e8bd'; }
.icon-typicons-record:before { content: '\e8be'; }
.icon-typicons-eject-outline:before { content: '\e8bf'; }
.icon-typicons-eject:before { content: '\e8c0'; }
.icon-typicons-eject-alt-outline:before { content: '\e8c1'; }
.icon-typicons-eject-alt:before { content: '\e8c2'; }
.icon-typicons-bat1:before { content: '\e8c3'; }
.icon-typicons-bat2:before { content: '\e8c4'; }
.icon-typicons-bat3:before { content: '\e8c5'; }
.icon-typicons-bat4:before { content: '\e8c6'; }
.icon-typicons-bat-charge:before { content: '\e8c7'; }
.icon-typicons-plug:before { content: '\e8c8'; }
.icon-typicons-target-outline:before { content: '\e8c9'; }
.icon-typicons-target:before { content: '\e8ca'; }
.icon-typicons-wifi-outline:before { content: '\e8cb'; }
.icon-typicons-wifi:before { content: '\e8cc'; }
.icon-typicons-desktop:before { content: '\e8cd'; }
.icon-typicons-laptop:before { content: '\e8ce'; }
.icon-typicons-tablet:before { content: '\e8cf'; }
.icon-typicons-mobile:before { content: '\e8d0'; }
.icon-typicons-contrast:before { content: '\e8d1'; }
.icon-typicons-globe-outline:before { content: '\e8d2'; }
.icon-typicons-globe:before { content: '\e8d3'; }
.icon-typicons-globe-alt-outline:before { content: '\e8d4'; }
.icon-typicons-globe-alt:before { content: '\e8d5'; }
.icon-typicons-sun:before { content: '\e8d6'; }
.icon-typicons-sun-filled:before { content: '\e8d7'; }
.icon-typicons-cloud:before { content: '\e8d8'; }
.icon-typicons-flash-outline:before { content: '\e8d9'; }
.icon-typicons-flash:before { content: '\e8da'; }
.icon-typicons-moon:before { content: '\e8db'; }
.icon-typicons-waves-outline:before { content: '\e8dc'; }
.icon-typicons-waves:before { content: '\e8dd'; }
.icon-typicons-rain:before { content: '\e8de'; }
.icon-typicons-cloud-sun:before { content: '\e8df'; }
.icon-typicons-drizzle:before { content: '\e8e0'; }
.icon-typicons-snow:before { content: '\e8e1'; }
.icon-typicons-cloud-flash:before { content: '\e8e2'; }
.icon-typicons-cloud-wind:before { content: '\e8e3'; }
.icon-typicons-wind:before { content: '\e8e4'; }
.icon-typicons-plane-outline:before { content: '\e8e5'; }
.icon-typicons-plane:before { content: '\e8e6'; }
.icon-typicons-leaf:before { content: '\e8e7'; }
.icon-typicons-lifebuoy:before { content: '\e8e8'; }
.icon-typicons-briefcase:before { content: '\e8e9'; }
.icon-typicons-brush:before { content: '\e8ea'; }
.icon-typicons-pipette:before { content: '\e8eb'; }
.icon-typicons-power-outline:before { content: '\e8ec'; }
.icon-typicons-power:before { content: '\e8ed'; }
.icon-typicons-check-outline:before { content: '\e8ee'; }
.icon-typicons-check:before { content: '\e8ef'; }
.icon-typicons-gift:before { content: '\e8f0'; }
.icon-typicons-temperatire:before { content: '\e8f1'; }
.icon-typicons-chart-outline:before { content: '\e8f2'; }
.icon-typicons-chart:before { content: '\e8f3'; }
.icon-typicons-chart-alt-outline:before { content: '\e8f4'; }
.icon-typicons-chart-alt:before { content: '\e8f5'; }
.icon-typicons-chart-bar-outline:before { content: '\e8f6'; }
.icon-typicons-chart-bar:before { content: '\e8f7'; }
.icon-typicons-chart-pie-outline:before { content: '\e8f8'; }
.icon-typicons-chart-pie:before { content: '\e8f9'; }
.icon-typicons-ticket:before { content: '\e8fa'; }
.icon-typicons-credit-card:before { content: '\e8fb'; }
.icon-typicons-clipboard:before { content: '\e8fc'; }
.icon-typicons-database:before { content: '\e8fd'; }
.icon-typicons-key-outline:before { content: '\e8fe'; }
.icon-typicons-key:before { content: '\e8ff'; }
.icon-typicons-flow-split:before { content: '\e900'; }
.icon-typicons-flow-merge:before { content: '\e901'; }
.icon-typicons-flow-parallel:before { content: '\e902'; }
.icon-typicons-flow-cross:before { content: '\e903'; }
.icon-typicons-certificate-outline:before { content: '\e904'; }
.icon-typicons-certificate:before { content: '\e905'; }
.icon-typicons-scissors-outline:before { content: '\e906'; }
.icon-typicons-scissors:before { content: '\e907'; }
.icon-typicons-flask:before { content: '\e908'; }
.icon-typicons-wine:before { content: '\e909'; }
.icon-typicons-coffee:before { content: '\e90a'; }
.icon-typicons-beer:before { content: '\e90b'; }
.icon-typicons-anchor-outline:before { content: '\e90c'; }
.icon-typicons-anchor:before { content: '\e90d'; }
.icon-typicons-puzzle-outline:before { content: '\e90e'; }
.icon-typicons-puzzle:before { content: '\e90f'; }
.icon-typicons-tree:before { content: '\e910'; }
.icon-typicons-calculator:before { content: '\e911'; }
.icon-typicons-infinity-outline:before { content: '\e912'; }
.icon-typicons-infinity:before { content: '\e913'; }
.icon-typicons-pi-outline:before { content: '\e914'; }
.icon-typicons-pi:before { content: '\e915'; }
.icon-typicons-at:before { content: '\e916'; }
.icon-typicons-at-circled:before { content: '\e917'; }
.icon-typicons-looped-square-outline:before { content: '\e918'; }
.icon-typicons-looped-square-interest:before { content: '\e919'; }
.icon-typicons-sort-alphabet-outline:before { content: '\e91a'; }
.icon-typicons-sort-alphabet:before { content: '\e91b'; }
.icon-typicons-sort-numeric-outline:before { content: '\e91c'; }
.icon-typicons-sort-numeric:before { content: '\e91d'; }
.icon-typicons-dribbble-circled:before { content: '\e91e'; }
.icon-typicons-dribbble:before { content: '\e91f'; }
.icon-typicons-facebook-circled:before { content: '\e920'; }
.icon-typicons-facebook:before { content: '\e921'; }
.icon-typicons-flickr-circled:before { content: '\e922'; }
.icon-typicons-flickr:before { content: '\e923'; }
.icon-typicons-github-circled:before { content: '\e924'; }
.icon-typicons-github:before { content: '\e925'; }
.icon-typicons-lastfm-circled:before { content: '\e926'; }
.icon-typicons-lastfm:before { content: '\e927'; }
.icon-typicons-linkedin-circled:before { content: '\e928'; }
.icon-typicons-linkedin:before { content: '\e929'; }
.icon-typicons-pinterest-circled:before { content: '\e92a'; }
.icon-typicons-pinterest:before { content: '\e92b'; }
.icon-typicons-skype-outline:before { content: '\e92c'; }
.icon-typicons-skype:before { content: '\e92d'; }
.icon-typicons-tumbler-circled:before { content: '\e92e'; }
.icon-typicons-tumbler:before { content: '\e92f'; }
.icon-typicons-twitter-circled:before { content: '\e930'; }
.icon-typicons-twitter:before { content: '\e931'; }
.icon-typicons-vimeo-circled:before { content: '\e932'; }
.icon-typicons-vimeo:before { content: '\e933'; }