<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Inconsolata">

<style>
    .cupom-desconto{
        display: none;
    }
    .mochila-fechada {
        padding-right: 230px;
        padding-left: 230px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .fundo-carrinho {
        background: #ffffff;
        padding: 0 5px;
        height: 70px;
        margin-left: 0px;
    }
    

    @media all and (max-width: 1279px) {
        .mochila-fechada {
            padding-right: 70px;
            padding-left: 70px;
        }
    }
</style>

<script>
    $('body').addClass('smartnot');
</script>

<div class="container mochila-fechada">


TESTE TESTE TESTE TESTE

</div>