<!--MOCHILA-->
<div class="container">
    <div class="col-md-4">
        <h2 class="h2-carrinho">
            MOCHILA
            <?= $this->Html->image('carrinho.png')?>
        </h2>
    </div>
    <?php
    $subtotal = 0;
    if(empty($produtos)){
        ?>
        <div class="col-md-12 fundo-carrinho">
            <h3>Mochila vazia...</h3>
            <br class="clear">
            <br class="clear">
        </div>
        <?php
    }else {
    foreach ($produtos as $produto):
        $fotos = unserialize($produto->fotos);

        ?>
        <div class="col-md-12 fundo-carrinho">
            <div class="imagem-produto-carrinho">
                <?= $this->Html->link(
                    $this->Html->image('produtos/' . $fotos[0],
                        ['class' => 'dimensao-produto-carrinho', 'alt' => $produto->produto_base->name . ' ' . $produto->propriedade]
                    ),
                    '/produto/' . $produto->slug,
                    ['escape' => false]
                ) ?>
            </div>
            <div class="col-md-4 text-left">
                <?= $this->Html->link(
                    '<h1 class="font-14 h1-carrinho"><span>'
                    . $produto->produto_base->name . ' ' . $produto->produto_base->embalagem_conteudo . ' ' . $produto->propriedade .
                    '</span></h1>',
                    '/produto/' . $produto->slug,
                    ['escape' => false]
                ) ?>
                <p class="font-10"><span><?= strtoupper($produto->cod); ?></span></p>
                <p class="font-10"><span>Fabricante: <?= $produto->produto_base->marca->name; ?></span></p>
            </div>
            <div class="col-md-2 margin-20 text-left">
                <input type="button" value='-' class="produto-menos" data-id="<?= $produto->id ?>"/>
                <input class="text" id="produto-<?= $produto->id ?>" size="1" type="text"
                       value="<?= $session_produto[$produto->id]; ?>" maxlength="2"/>
                <input type="button" value='+' class="produto-mais" data-id="<?= $produto->id ?>"/>
            </div>
            <div class="col-md-2 margin-20 text-left">
                <?= $produto->preco_promo ?
                    '<p><span>De <s>R$ ' . number_format($produto->preco, 2, ',', '.') . '</s></span></p>' :
                    ''; ?>
                <p>
                    <span>Por <b>R$ <?= $produto->preco_promo ?
                                number_format($preco = $produto->preco_promo, 2, ',', '.') :
                                number_format($preco = $produto->preco, 2, ',', '.'); ?></b>
                    </span>
                </p>
            </div>
            <div class="col-md-3 margin-20 text-left"
            ">
            <p>
                <span><b>R$ <?= number_format($subtotal += ($preco * $session_produto[$produto->id]), 2, ',', '.') ?></b></span>
            </p>
        </div>
        <?php
    endforeach;
    ?>
</div>
<div>
    <div class="col-md-12 subtotal-carrinho">
        <p><span>SUBTOTAL: R$ <?= number_format($subtotal, 2, ',', '.')?></span></p>
    </div>
    <div class="col-md-12 total-carrinho">
        <p><span><b>TOTAL: R$ <?= number_format($subtotal, 2, ',', '.')?></b></span></p>
    </div>
</div>
<div>
    <?= $this->Html->link(
        '<button class="button-finalizar">FINALIZAR</button>',
        '/mochila/fechar-o-ziper',
        ['escape' => false]
    )?>
</div>
<?php
}
?>

