<?= $this->layout = null; ?>
<?php
if(count($academias) <= 0){

    echo '<option>Nenhuma academia encontrada...</option>';

}else{

    echo '<option>Selecione uma academia...</option>';

    foreach($academias as $key => $academia){
        echo '<option value="'.$key.'">'.$academia.'</option>';
    }
}

?>