<?= $this->layout = null; ?>
<?php
if(count($professores) <= 0){

    echo '<option>Nenhum professor encontrado...</option>';

}else{

    echo '<option>Selecione um professor...</option>';

    foreach($professores as $professor){
        echo '<option value="'.$professor->professor_id.'">'.$professor->professore->name.'</option>';
    }
}

?>