<?= $this->layout = null; ?>
<?php 
	$retorno = [
		'status' => 0,
		'html' => '<div class="nao-autorizado" style="text-align: center; width: 100%; margin-top: 15px;">
		<p style="color: red;font-size: 22px;text-align: center;font-family: nexa_boldregular;text-transform: uppercase;  margin-bottom: 2px">não autorizado!</p>
		<p style="color: black;font-size: 16px;text-align: center;font-family: nexa;">Verifique suas informações. Caso estejam corretas entre em contato com a operadora do cartão</p></div>'
	];

	echo json_encode($retorno);
?>
