<?= $this->layout = null; ?>
<?php 
	$retorno = [
		'status' => 1,
		'html' => '<div class="autorizado"><div class="autorizado-content">
		<p style="color: green;font-size: 22px;text-align: center;font-family: nexa_boldregular;text-transform: uppercase; margin-bottom: 2px">autorizado!</p>
		<p style="color: black;font-size: 16px;text-align: center;font-family: nexa;">O comprovante de pagamento foi enviado ao e-mail do aluno.</p></div></div>'
	];

	echo json_encode($retorno);
?>