@import "font-awesome.css";

@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/nexa_light-webfont.eot');
    src: url('../fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexa_light-webfont.woff2') format('woff2'),
    url('../fonts/nexa_light-webfont.woff') format('woff'),
    url('../fonts/nexa_light-webfont.ttf') format('truetype'),
    url('../fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/nexa_bold-webfont.eot');
    src: url('../fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexa_bold-webfont.woff2') format('woff2'),
    url('../fonts/nexa_bold-webfont.woff') format('woff'),
    url('../fonts/nexa_bold-webfont.ttf') format('truetype'),
    url('../fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'birdmanoblique';
    src: url('../fonts/birdo___-webfont.eot');
    src: url('../fonts/birdo___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/birdo___-webfont.woff2') format('woff2'),
    url('../fonts/birdo___-webfont.woff') format('woff'),
    url('../fonts/birdo___-webfont.ttf') format('truetype'),
    url('../fonts/birdo___-webfont.svg#birdmanoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'birdmanbold';
    src: url('../fonts/birdb___-webfont.eot');
    src: url('../fonts/birdb___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/birdb___-webfont.woff2') format('woff2'),
    url('../fonts/birdb___-webfont.woff') format('woff'),
    url('../fonts/birdb___-webfont.ttf') format('truetype'),
    url('../fonts/birdb___-webfont.svg#birdmanbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'birdmanlight';
    src: url('../fonts/birdl___-webfont.eot');
    src: url('../fonts/birdl___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/birdl___-webfont.woff2') format('woff2'),
    url('../fonts/birdl___-webfont.woff') format('woff'),
    url('../fonts/birdl___-webfont.ttf') format('truetype'),
    url('../fonts/birdl___-webfont.svg#birdmanlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'birdmanregular';
    src: url('../fonts/birdman_-webfont.eot');
    src: url('../fonts/birdman_-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/birdman_-webfont.woff2') format('woff2'),
    url('../fonts/birdman_-webfont.woff') format('woff'),
    url('../fonts/birdman_-webfont.ttf') format('truetype'),
    url('../fonts/birdman_-webfont.svg#birdmanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_sansregular';
    src: url('../fonts/droidsans-webfont.eot');
    src: url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidsans-webfont.woff2') format('woff2'),
    url('../fonts/droidsans-webfont.woff') format('woff'),
    url('../fonts/droidsans-webfont.ttf') format('truetype'),
    url('../fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alfa_slab_oneregular';
    src: url('../fonts/../fonts/alfaslabone-regular-webfont.eot');
    src: url('../fonts/../fonts/alfaslabone-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/alfaslabone-regular-webfont.woff2') format('woff2'),
    url('../fonts/alfaslabone-regular-webfont.woff') format('woff'),
    url('../fonts/alfaslabone-regular-webfont.ttf') format('truetype'),
    url('../fonts/alfaslabone-regular-webfont.svg#alfa_slab_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-italic-webfont.woff') format('woff'),
    url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/opensans-light-webfont.woff') format('woff'),
    url('../fonts/opensans-light-webfont.ttf') format('truetype'),
    url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic-webfont.eot');
    src: url('../fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibolditalic-webfont.woff') format('woff'),
    url('../fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff'),
    url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic-webfont.eot');
    src: url('../fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bolditalic-webfont.woff') format('woff'),
    url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../fonts/opensans-condbold-webfont.eot');
    src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-condbold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-condbold-webfont.woff') format('woff'),
    url('../fonts/opensans-condbold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('../fonts/opensans-condlight-webfont.eot');
    src: url('../fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-condlight-webfont.woff2') format('woff2'),
    url('../fonts/opensans-condlight-webfont.woff') format('woff'),
    url('../fonts/opensans-condlight-webfont.ttf') format('truetype'),
    url('../fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansCnLtIt';
    src: url('../fonts/opensans-condlightitalic-webfont.eot');
    src: url('../fonts/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-condlightitalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-condlightitalic-webfont.woff') format('woff'),
    url('../fonts/opensans-condlightitalic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-condlightitalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
    url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'nexa_lightregular', open_sansregular, sans-serif;
}

.first-div {
    width: 100%;
    height: 700px;
    background-image: url("../img/conceito-ideia-luz.jpg");
}

.first-div p {
    text-align: center;
    font-size: 128px;
    color: #444;
    margin-top: 40px;
}

.second-div {
    height: 400px;
}

.second-div p {
    font-size: 83px;
    color: #555;
    margin-top: 60px;
    margin-bottom: 40px;
}

.second-div h2 {
    margin-left: 40px;
    margin-right: 40px;
    color: #555;
}

.third-div {
    height: 500px;
    background-image: url("../img/liso-amarelo.jpg");
}

.third-div h1 {
    font-size: 100px;
    color: #555;
    margin-top: 100px;
}

.third-div h2 {
    color: #555;
    font-size: 35px;
}

.third-div a img {
    margin-top: 100px;
    width: 100%;
}

.fourth-div {
    height: 500px;
    background-image: url("../img/background-degrade-gray.png");
}

.fourth-div h1 {
    color: #555;
    font-size: 86px;
    margin-top: 120px;
    margin-bottom: 50px;
}

.fourth-div h2 {
    color: #555;

}

.fifth-div {
    height: 500px;
}

.fifth-div img {
    margin-top: 50px;
}

.fifth-div h2 {
    color: #555;
    font-size: 40px;
    margin-top: 190px;
}

.fifth-div h1 {
    color: #555;
    font-size: 80px;
}

.sixth-div {
    background: #333;
}

.div-footer {
    width: 100%;
    background: #333;
}

.div-footer-div {
    color: #777;
    margin: 20px auto;
}

.a-contato {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 0;
}

.footer-btn {
    display: none;
}

.btn-conheca {
    display: inline-block;
    color: #333;
    padding: 6px 12px;
    margin-bottom: 100px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FFd41c;
    border: 1px solid transparent;
    border-radius: 4px;
}