@media screen and (max-width: 1000px) {
    .fifth-div h1 {
        font-size: 72px;
    }
}

@media screen and (max-width: 991px) {
    .second-div p {
        font-size: 81px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .second-div h2 {
        margin-left: 0;
        margin-right: 0;
    }
    .fifth-div img {
        margin-top: 110px;
    }
    .fifth-div h1 {
        font-size: 53px;
    }
    .fifth-div h2 {
        margin-top: 190px;
        font-size: 31px;
    }
}

@media screen and (max-width: 743px) {
    .second-div p {
        font-size: 78px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .fifth-div h2 {
        margin-top: 150px;
    }
    .a-contato {
        margin-top: 90px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .second-div p {
        font-size: 73px;
    }
    .fourth-div h1 {
        margin-top: 80px;
    }
}

@media screen and (max-width: 692px) {
    .second-div p {
        font-size: 72px;
    }
}

@media screen and (max-width: 668px) {
    .second-div p {
        font-size: 69px;
    }
    .fourth-div h1 {
        font-size: 83px;
    }
    .fifth-div h2 {
        margin-top: 130px;
    }
}

@media screen and (max-width: 650px) {
    .fourth-div h1 {
        font-size: 75px;
    }
    .second-div p {
        font-size: 60px;
    }
    .first-div p {
        font-size: 120px;
    }
}

@media screen and (max-width: 550px) {
    .first-div p {
        font-size: 95px;
    }
    .second-div p {
        font-size: 55px;
    }
    .second-div h2 {
        font-size: 27px;
    }
    .third-div h1 {
        font-size: 75px;
    }
    .third-div h1 {
        margin-top: 50px;
    }
    .third-div a img {
        margin-top: 10px;
    }
    .fourth-div h1 {
        font-size: 65px;
    }
    .fifth-div h2 {
        margin-top: 30px;
    }
    .fifth-div img {
        margin-top: 0;
    }
    .a-contato {
        margin-left: -10px;
    }
}

@media screen and (max-width: 480px) {
    .footer-btn {
        display: block;
    }
    .first-div p {
        font-size: 70px;
    }
    .second-div p {
        font-size: 40px;
        margin-top: 30px;
    }
    .fourth-div h1 {
        margin-top: 50px;
        font-size: 50px;
    }
    .a-contato {
        margin-top: 20px;
    }
    .div-footer-div {
        width: 100%;
    }
}

@media screen and (max-width: 435px) {
    .fifth-div {
        height: 430px;
    }
}

@media screen and (max-width: 411px) {
    .second-div p {
        font-size: 35px;
    }
    .second-div h2 {
        font-size: 25px;
    }
    .third-div {
        height: 450px;
    }
    .fourth-div h1 {
        font-size: 43px;
    }
    .fourth-div h2 {
        font-size: 26px;
    }
    .fifth-div h2 {
        font-size: 28px;
    }
    .fifth-div h1 {
        font-size: 45px;
        margin-top: 0;
    }
    .fifth-div img {
        margin-top: 25px;
    }
}

@media screen and (max-width: 375px) {
    .first-div p {
        font-size: 60px;
    }
    .second-div h2 {
        font-size: 24px;
    }
    .fourth-div h2 {
        font-size: 25px;
        margin-top: 0;
    }
    .fourth-div h1 {
        font-size: 41px;
    }
}

@media screen and (max-width: 360px) {
    .second-div p {
        font-size: 31px;
    }
    .second-div h2 {
        font-size: 23px;
    }
    .fourth-div h1 {
        font-size: 39px;
    }
    .fifth-div h1 {
        font-size: 42px;
    }
}

@media screen and (max-width: 320px) {
    .first-div p {
        font-size: 55px;
    }
    .second-div p {
        font-size: 28px;
        margin-top: 40px;
    }
    .second-div h2 {
        font-size: 21px;
    }
}