 <!DOCTYPE html>
 <html lang="pt-br">
     <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Logfitness - A franquia da academia do futuro!" content="">
        <meta name="Logfitness" content="">
        <title>Logfitness - A franquia da academia do futuro!</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="57x57" href="<?= WEBROOT_URL?>img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="<?= WEBROOT_URL?>img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="<?= WEBROOT_URL?>img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<?= WEBROOT_URL?>img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="<?= WEBROOT_URL?>img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="<?= WEBROOT_URL?>img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="<?= WEBROOT_URL?>img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="<?= WEBROOT_URL?>img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="<?= WEBROOT_URL?>img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="<?= WEBROOT_URL?>img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<?= WEBROOT_URL?>img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="<?= WEBROOT_URL?>img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<?= WEBROOT_URL?>img/favicon/favicon-16x16.png">
        <link rel="manifest" href="<?= WEBROOT_URL?>img/favicon/manifest.json">
         <!-- Bootstrap Core CSS -->
         <!-- Custom Fonts -->
         <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
         <!-- Theme CSS -->
         <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
         <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
         <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
         <![endif]-->
         <?= $this->Html->css('bootstrap.min.css') ?>
         <?= $this->Html->css('grayscale.min.css') ?>
         <?= $this->Html->css('magnific-popup.css') ?>
         <?= $this->Html->css('font-awesome.min.css') ?>
         <script>
             var WEBROOT_URL  = "<?= WEBROOT_URL ?>";
         </script>
         <!-- Smart Look -->
          <script type="text/javascript">
             window.smartlook||(function(d) {
             var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
             var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
             c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
             })(document);
             smartlook('init', '65dd1b31ade411a0f1f09a9524c2adf7c3ca5eb5');
         </script>
         <!-- End Smart Look -->
         <!-- Facebook Pixel Code -->
         <script>
             !function(f,b,e,v,n,t,s)
             {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
             n.callMethod.apply(n,arguments):n.queue.push(arguments)};
             if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
             n.queue=[];t=b.createElement(e);t.async=!0;
             t.src=v;s=b.getElementsByTagName(e)[0];
             s.parentNode.insertBefore(t,s)}(window,document,'script',
             'https://connect.facebook.net/en_US/fbevents.js');
              fbq('init', '1675974925977278'); 
             fbq('track', 'PageView');
         </script>
         <noscript>
             <img height="1" width="1" 
                 src="https://www.facebook.com/tr?id=1675974925977278&ev=PageView
                 &noscript=1"/>
         </noscript>
     </head>
     <body id="page-top" data-target=".navbar-fixed-top">
         <header class="intro">
             <div class="intro-body">
                 <div class="container">
                     <div class="row">
                         <div class="col-md-8 col-md-offset-2">
                             <h1 class="brand-heading">Faça do Fitness o seu negócio!</h1>
                             <a href="#about" class="btn btn-circle page-scroll">
                             <i class="fa fa-angle-double-down animated"></i>
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
         </header>
         <section id="about" class="content-section text-center">
             <div class="container">
                <div class="row">
                   <div class="col-lg-12">
                      <h1 class="uppercase">Porque investir numa franquia Logfitness?</h1>
                      <div class="row">
                         <div class="col-lg-3 text-center">
                            <?= $this->Html->image('target.png', ['alt' => 'Alta rentabilidade com micro investimento'])?>
                            <p>Alta rentabilidade com micro investimento</p>
                         </div>
                         <div class="col-lg-3 text-center">
                            <?= $this->Html->image('rocket.png', ['alt' => 'Mercado em total ascensão pronto para ser explorado'])?>
                            <p>Mercado em total ascensão pronto para ser explorado</p>
                         </div>
                         <div class="col-lg-3 text-center">
                            <?= $this->Html->image('earn.png', ['alt' => 'Sistema web integrado, sem necessidade de estrutura física'])?>
                            <p>Sistema web integrado, sem necessidade de estrutura física</p>
                         </div>
                         <div class="col-lg-3 text-center">
                            <?= $this->Html->image('package.png', ['alt' => 'Sem investimento em estoque, sem preocupação com logística'])?>
                            <p>Sem investimento em estoque, sem preocupação com logística</p>
                         </div>
                      </div>
                      <div class="col-lg-6 text-left">
                         <h2>E como isso é possível?</h2>
                         <p>A Log, antes de ser lançada, realizou diversas pesquisas mercadológicas.</p>
                         <p>Desenvolvemos uma plataforma online super completa e inovadora! Que permite as academias terem uma loja de suplementos 100% online e com frete grátis para seus alunos. Tudo isso com custo 0, já que o estoque e transporte fica por nossa conta. Show, né? </p>
                      </div>
                      <div class="col-lg-6">
                            <?= $this->Html->image('mockup.jpg', ['class' => 'img-responsive'])?>
                      </div>
                   </div>
                </div>
             </div>
         </section>
         <section id="mercado" class="pd" style="background-image: url(img/bg-whey.jpg) !important; color: #fff; background-repeat: no-repeat; background-color: #396193;">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-6">
                         <h2 class="uppercase">Um mercado que só faz crescer!</h2>
                         <p>Hoje, a indústria de suplementos alimentares é uma das maiores e mais lucrativas do mundo. Em nosso país, o segmento cresce cerca de 23% ao ano. Atualmente, no Brasil, 2,5 milhões de pessoas consomem suplementos alimentares.</p>
                         <p>Consumir suplementos é um hábito que tem aumentado significativamente em nossa sociedade. O crescimento foi de R$150 milhões para R$ 1,3 bilhoes. 
                         <small>FONTE: ASSOCIAÇÃO BRASILEIRA DE FABRICANTES DE SUPLEMENTOS (BRASNUTRI)</small>
                         </p>
                     </div>
                     <div class="col-lg-6">
                     </div>
                 </div>
             </div>
         </section>
         <aside class="bg-dark">
             <div class="container text-center">
                <div class="call-to-action">
                   <h2 class="uppercase">Receba nosso plano de negócios</h2>
                   <p>Conheça mais sobre nossos diferenciais, veja as informações financeiras e torne-se um franqueado!</p>
                   <a href="#contact" class="page-scroll btn btn-default btn-lg">Baixar agora</a>
                </div>
             </div>
         </aside>
         
         <section class="midia" id="midia">
             <div class="container">
                 <div class="row">
                     <div class="col-xs-12 text-center aluno">
                         <p style="font-size: 80px; text-transform: uppercase;">O que falam de nós</p>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-lg-3 col-lg-offset-2 text-center alinhar-centro logos-falam">
                         <a target="_blank" href="http://exame.abril.com.br/estilo-de-vida/10-mitos-sobre-o-uso-de-suplementos-de-academia/">
                             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="195px" height="60px" viewBox="0 0 195 60" xml:space="preserve" class="exame-logo">
                                 <g id="primary">
                                     <path d="M122.107,16.082c-0.143-0.081-0.667,0.081-0.771,0.609c0,0.425,0.246,0.729,0.792,0.89
                                      c1.012,0.304,1.315,0.283,1.599,0.446c0.384,0.222,1.316,0.566,1.459,3.969c0.099,4.031-0.041,9.3-0.082,14.079
                                      c-0.021,4.539-0.567,4.561-1.437,5.167c-1.116,0.447-1.644,0.75-1.621,1.277c0,0.384,0.284,0.771,1.437,0.771
                                      c3.548-0.043,6.525-0.103,9.402-0.103c2.695,0,5.267,0.039,8.123,0.141c1.479,0.182,1.417-0.404,1.417-0.93
                                      c-0.019-0.487-0.2-2.817,0.104-4.924c0-1.662-0.427-1.521-0.729-1.541c-0.406-0.059-0.852,0.202-0.852,1.054
                                      c-0.02,0.812,0.182,2.917-3.425,3.263c-2.188,0.242-3.464,0.325-4.578,0.283c-1.541,0-1.824-0.02-1.845-0.952
                                      c0-2.775,0.081-6.542,0.122-8.205c0.062-1.275,1.196-1.195,2.271-1.257c1.214-0.04,3.686-0.06,4.395,2.513
                                      c0.325,1.339,0.588,1.316,1.014,1.257c0.467-0.081,0.668-0.345,0.607-1.337c-0.06-0.952-0.264-5.146,0.061-7.153
                                      c0.08-0.971-0.04-1.215-0.466-1.335c-0.445-0.083-0.911,0.184-1.173,1.093c-0.266,0.506-0.935,2.148-3.731,2.289
                                      c-2.835,0.121-3.018-0.039-2.977-1.721c-0.019-1.723,0.021-5.531,0.021-5.552c-0.04-0.304-0.04-1.519,1.294-1.419
                                      c1.704-0.019,4.701,0.083,5.451,0.244c0.771,0.182,2.815,0.386,3.062,3.485c0.117,0.85,0.564,0.831,0.809,0.85
                                      c0.324,0.022,0.708-0.162,0.607-0.992c-0.121-0.811-0.061-3.91,0.082-5.002c0.059-1.155-0.508-1.136-1.237-1.177
                                      c-0.466,0-5.957,0.204-9.985,0.306C128.974,16.569,122.107,16.082,122.107,16.082"></path>
                                     <path d="M84.568,16.204c-0.588-0.06-0.81,0.224-0.851,0.607c0.042,0.407,0.102,0.529,0.587,0.811
                                      c1.479,0.689,2.877,0.81,3.161,4.741v14.284c-0.202,2.066,0.163,3.383-2.593,4.861c-0.892,0.506-1.074,0.748-1.033,1.216
                                      c0.102,0.588,0.628,0.588,0.647,0.568c0.771,0.101,2.655-0.185,5.106-0.082c1.601-0.062,3.952,0.142,4.863,0.06
                                      c0.546-0.162,0.668-0.282,0.668-0.749c0.042-0.324-0.141-0.689-0.709-0.952c-0.851-0.407-3.403-1.013-3.626-4.902l-0.02-11.367
                                      l8.063,17.183c0.081,0.242,0.366,0.849,0.909,0.811c0.446-0.022,1.156-0.689,1.5-1.439l7.578-16.45v13.574
                                      c0,0.019,0.142,2.267-1.276,2.531c-0.647,0.202-0.952,0.668-0.912,1.013c0.042,0.405,0.364,0.689,0.791,0.71
                                      c0.405,0.019,2.836-0.062,5.327-0.062c2.635,0,5.327,0.101,5.733,0.021c0.628,0,0.829-0.426,0.789-0.729
                                      c0.062-0.59-0.484-0.791-0.81-0.933c-1.68-0.709-3.626-1.175-3.687-6.158l0.02-14.608c0.103-1.458,0.405-2.531,2.836-3.019
                                      c0.953-0.384,1.176-0.728,1.137-0.992c-0.041-0.405-0.144-0.669-0.609-0.588c-0.385-0.04-1.965,0.103-3.646,0.142
                                      c-1.54-0.02-2.96-0.059-3.951-0.142c-1.461,0-1.986,1.339-2.227,1.865l-7.032,15.5l-8.164-16.532c-0.304-0.81-0.75-0.771-1.5-0.833
                                      C90.93,16.163,87.566,16.507,84.568,16.204"></path>
                                     <path d="M0.797,16.082c-0.141-0.081-0.667,0.081-0.769,0.609c0,0.425,0.263,0.729,0.79,0.89
                                      c1.013,0.304,1.316,0.283,1.6,0.446c0.386,0.222,1.317,0.566,1.46,3.969c0.101,4.031-0.042,9.3-0.083,14.079
                                      c-0.019,4.539-0.566,4.561-1.417,5.167c-1.134,0.447-1.661,0.75-1.64,1.277c0,0.384,0.285,0.771,1.438,0.771
                                      c3.566-0.043,6.523-0.103,9.399-0.103c2.696,0,5.268,0.039,8.125,0.141c1.478,0.182,1.417-0.404,1.417-0.93
                                      c-0.019-0.487-0.202-2.817,0.102-4.924c0-1.662-0.426-1.521-0.729-1.541c-0.405-0.059-0.851,0.202-0.851,1.054
                                      c-0.021,0.812,0.184,2.917-3.403,3.263c-2.208,0.242-3.483,0.325-4.599,0.283c-1.539,0-1.822-0.02-1.843-0.952
                                      c0-2.775,0.082-6.542,0.141-8.205c0.041-1.275,1.175-1.195,2.25-1.257c1.215-0.04,3.688-0.06,4.396,2.513
                                      c0.324,1.339,0.587,1.316,1.012,1.257c0.466-0.081,0.669-0.345,0.607-1.337c-0.06-0.952-0.262-5.146,0.062-7.153
                                      c0.079-0.971-0.042-1.215-0.467-1.335c-0.446-0.083-0.913,0.184-1.155,1.093c-0.283,0.506-0.952,2.148-3.749,2.289
                                      c-2.835,0.121-3.018-0.039-2.958-1.721c-0.019-1.723,0-5.531,0-5.552c-0.04-0.304-0.019-1.519,1.298-1.419
                                      c1.702-0.019,4.7,0.083,5.448,0.244c0.77,0.182,2.818,0.386,3.06,3.485c0.122,0.85,0.568,0.831,0.812,0.85
                                      c0.323,0.022,0.708-0.162,0.607-0.992c-0.122-0.811-0.061-3.91,0.101-5.002c0.04-1.155-0.526-1.136-1.256-1.177
                                      c-0.467,0-5.957,0.204-9.987,0.306C7.665,16.569,0.797,16.082,0.797,16.082"></path>
                                     <path d="M81.955,41.811c-0.607-0.261-1.682,0.103-3.12-2.856L68.442,16.386c-0.244-0.527-0.791-0.587-1.013,0
                                      l-1.196,2.371L55.841,39.644c0,0-0.688,1.642-2.024,2.107c0,0.02-1.015,0.365-0.994,0.951c0,0.446,0.425,0.649,0.953,0.609
                                      c2.998-0.102,4.76-0.143,7.797,0.04c0.568,0.021,0.874-0.263,0.934-0.628c0.061-0.406-0.161-0.912-0.75-1.136
                                      c-1.114-0.485-2.167-0.282-1.944-1.579c0.203-1.277,1.013-3.525,1.56-4.397c0.426-0.729,0.708-0.649,1.195-0.649h3.667v0.002h3.545
                                      c0.587,0.062,0.77,0.123,1.093,0.688c0.285,0.485,1.136,1.804,1.581,3.424c0.425,1.583-0.385,2.432-1.257,2.757
                                      c-0.587,0.221-1.256,0.16-1.256,0.971c0.021,0.345,0.345,0.488,0.771,0.508c1.073-0.062,3.383-0.083,5.775-0.122
                                      c2.006,0.039,3.403,0.021,5.288,0.141c0.75-0.019,0.891-0.361,0.911-0.628C82.726,42.196,82.44,41.952,81.955,41.811z
                                      M68.685,32.045c-0.972,0.022-1.722,0.022-2.451,0.022v-0.001c-0.769,0-1.54-0.021-2.572-0.021
                                      c-0.386-0.06-0.872,0.083-0.587-0.809l3.141-6.321l0.019,0.102l2.977,5.977C69.435,31.602,69.678,32.026,68.685,32.045z"></path>
                                     <path d="M24.967,16.185c0,0-1.194-0.103-1.257,0.485c0,0.364,0.042,0.669,0.69,0.891
                                      c1.882,0.912,2.855,1.923,3.281,2.613c1.417,1.56,7.211,10.149,7.211,10.129c0,0.02-7.474,8.224-7.474,8.206
                                      c0,0.019-2.188,2.149-4.295,3.16c-0.669,0.364-0.75,0.709-0.669,1.032c0.062,0.426,0.446,0.649,1.215,0.628
                                      c1.602,0.021,5.228-0.386,10.251,0c0.709,0,1.032-0.303,1.054-0.688c0.042-0.425-0.284-0.89-0.911-1.032
                                      c-1.439-0.244-3.727-1.115-1.741-3.709c1.985-2.573,4.333-5.145,4.333-5.165c0,0.021,2.736,4.053,4.155,6.159
                                      c0.87,1.316,0.384,2.552-1.074,2.857c-0.527,0.223-0.647,0.506-0.647,0.932c0,0.403,0.364,0.668,1.174,0.608
                                      c1.277,0.06,5.591-0.245,10.959,0c0.872,0,1.156-0.245,1.216-0.548c0.062-0.527-0.283-0.871-0.648-1.054
                                      c-0.789-0.466-1.721-0.365-3.93-3.385c-2.532-3.463-7.192-9.986-7.192-10.007c0,0.021,7.76-8.449,7.76-8.449
                                      c0.283-0.404,1.62-1.68,3.525-2.065c0.667-0.263,0.81-0.769,0.728-1.054c0.041-0.323-0.364-0.567-0.83-0.546
                                      c-1.541,0.161-3.283,0.303-4.863,0.343c-1.62-0.04-4.091-0.202-5.57-0.343c-0.587-0.021-0.891,0.262-0.913,0.626
                                      c-0.082,0.387,0.142,0.911,0.73,0.953c1.478,0.244,3.403,0.69,1.883,2.876c-1.579,2.149-4.293,5.024-4.293,5.006
                                      c0,0.019-4.052-5.917-4.052-5.936c-0.203-0.364-0.812-1.539,0.81-1.925c0.851-0.223,1.095-0.467,1.013-0.953
                                      c0.06-0.525-0.426-0.628-1.054-0.647c-1.234-0.062-3.829,0.364-5.812,0.303C28.29,16.386,24.967,16.185,24.967,16.185"></path>
                                     <path d="M146.588,41.036"></path>
                                     <path d="M146.588,43.228"></path>
                                     <path d="M148.781,43.228"></path>
                                     <line x1="147.242" y1="44.031" x2="147.242" y2="41.84"></line>
                                     <rect x="146.878" y="41.429" width="2.191" height="2.191"></rect>
                                     <path d="M160.585,31.52c-0.714-0.5-1.567-0.75-2.553-0.75c-0.845,0-1.563,0.157-2.163,0.473
                                      c-0.598,0.317-1.094,0.741-1.481,1.273c-0.388,0.534-0.674,1.143-0.858,1.826s-0.277,1.395-0.277,2.132
                                      c0,0.804,0.093,1.562,0.277,2.279c0.185,0.716,0.471,1.343,0.858,1.876s0.885,0.958,1.491,1.272c0.606,0.315,1.33,0.475,2.17,0.475
                                      c0.621,0,1.17-0.104,1.648-0.308c0.481-0.202,0.896-0.485,1.244-0.848c0.35-0.362,0.621-0.793,0.819-1.292
                                      c0.198-0.5,0.316-1.041,0.355-1.62h1.875c-0.183,1.777-0.795,3.159-1.835,4.146c-1.039,0.987-2.462,1.48-4.264,1.48
                                      c-1.093,0-2.048-0.188-2.861-0.562c-0.817-0.376-1.495-0.892-2.034-1.55c-0.541-0.657-0.944-1.435-1.213-2.33
                                      c-0.271-0.896-0.405-1.854-0.405-2.881c0-1.027,0.144-1.99,0.432-2.895c0.291-0.899,0.716-1.686,1.275-2.357
                                      c0.559-0.671,1.257-1.2,2.092-1.588s1.793-0.582,2.871-0.582c0.737,0,1.435,0.098,2.094,0.295c0.657,0.198,1.243,0.488,1.757,0.869
                                      c0.513,0.381,0.939,0.857,1.284,1.431c0.342,0.572,0.563,1.234,0.67,1.983h-1.874C161.769,32.771,161.305,32.02,160.585,31.52"></path>
                                     <path d="M165.757,33.8c0.283-0.889,0.707-1.675,1.273-2.358c0.566-0.685,1.271-1.231,2.114-1.639
                                      c0.842-0.407,1.82-0.612,2.939-0.612c1.118,0,2.1,0.205,2.94,0.612c0.844,0.408,1.546,0.955,2.112,1.639
                                      c0.566,0.684,0.991,1.47,1.273,2.358c0.281,0.888,0.425,1.812,0.425,2.773c0,0.961-0.144,1.885-0.425,2.772
                                      c-0.282,0.889-0.707,1.675-1.273,2.359s-1.269,1.226-2.112,1.627c-0.841,0.403-1.822,0.604-2.94,0.604
                                      c-1.119,0-2.098-0.201-2.939-0.604c-0.844-0.401-1.548-0.942-2.114-1.627s-0.99-1.471-1.273-2.359
                                      c-0.283-0.888-0.423-1.812-0.423-2.772C165.334,35.611,165.474,34.688,165.757,33.8 M167.485,38.674
                                      c0.185,0.692,0.474,1.315,0.868,1.868c0.396,0.551,0.899,0.995,1.521,1.331c0.618,0.334,1.354,0.504,2.21,0.504
                                      s1.593-0.17,2.212-0.504c0.617-0.336,1.123-0.78,1.519-1.331c0.394-0.553,0.685-1.176,0.869-1.868
                                      c0.184-0.689,0.276-1.391,0.276-2.101s-0.093-1.413-0.276-2.103c-0.185-0.691-0.476-1.312-0.869-1.865
                                      c-0.396-0.553-0.901-0.996-1.519-1.334c-0.619-0.333-1.355-0.501-2.212-0.501s-1.592,0.168-2.21,0.501
                                      c-0.621,0.338-1.125,0.781-1.521,1.334c-0.395,0.553-0.684,1.174-0.868,1.865c-0.185,0.689-0.277,1.393-0.277,2.103
                                      S167.301,37.984,167.485,38.674"></path>
                                     <polygon points="183.532,29.526 187.974,41.37 192.435,29.526 195,29.526 195,43.62 193.223,43.62 193.223,31.895 
                                      193.186,31.895 188.782,43.62 187.185,43.62 182.782,31.895 182.744,31.895 182.744,43.62 180.966,43.62 180.966,29.526     "></polygon>
                                 </g>
                             </svg>
                         </a>
                     </div>
                     <div class="col-lg-2 text-center alinhar-centro">
                         <div class="ts-modal-trigger logos-falam" id="trustvox-selo-site-sincero">
                             <?= $this->Html->image('selo-trustvox.png', ['alt' => 'selo trustvox', 'style' => 'max-width: 200px; max-height: 120px;']); ?>
                         </div>
                         <script type="text/javascript">
                             var _trustvox_certificate = _trustvox_certificate || [];
                             _trustvox_certificate.push(['_certificateId', 'logfitness']);
                             (function() {
                               var tv = document.createElement('script'); tv.type = 'text/javascript'; tv.async = true;
                               tv.src = '//s3-sa-east-1.amazonaws.com/trustvox-certificate-modal-js/widget.js';
                               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tv, s);
                             })();
                         </script> 
                     </div>
                     <div class="col-lg-3 text-center alinhar-centro logos-falam">
                         <a target="_blank" href="http://revistasuplementacao.com.br/?page=interna&slug=logfitness_chega_ao_mercado_e_espera_faturar_r_1_5_milhao_em_2017">
                          <?= $this->Html->image('logo-suplementacao.png', ['alt' => 'revista suplementacao', 'style' => 'max-width: 200px; max-height: 120px;']); ?>
                         </a>
                     </div>
                 </div>
             </div>
         </section>
         <section id="investimento" class=" investimento bg-yellow">
             <div class="container text-center">
                 <div class="row">
                     <h3 class="uppercase">Investimento Inicial</h3>
                     <div class="col-lg-12">
                         <p style="font-size: 7em">R$12.500</p>
                     </div>
                 </div>
                 <div class="col-lg-12">
                     <p><small>*Inclusos uniformes, cartões de visita, coqueteleiras e R$ 500,00 em cartazes.</small></p>
                 </div>
             </div>
         </section>
         <div class="container mapspace">
             <div class="row">
              <div class="col-sm-7 col-lg-8">
                  <div id="map" style="margin-top: 0px; margin-bottom: 30px;"> </div>
              </div>
              <div class="col-sm-5 col-lg-4 form-wrap" style="padding-left: 0px; padding-right: 0px">
                 <h2 class="uppercase">Trabalhe em conjunto com as academias!</h2>
                 <p>O raio de atuação do franqueado Logfitness é de 250 mil habitantes. Sabe a melhor parte disto tudo? Quanto mais suplementos elas venderem, mais vocês ganham. Interessante para todas as partes. 
                 </p>
              </div>
             </div>
         </div>
         <section id="contact" class="bg-dark olar">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6 text-left">
                         <h2 class="section-heading uper">Seja um franqueado Logfitness!</h2>
                         <p>Agora que você já viu como é possível ter um negócio altamente lucrativo e com baixo investimento, ficou animado, né?</p>
                         <p>Para receber nosso material com maiores informações, você só precisa preencher este formulário. Vamos te enviar tudo por email.</p>
                         <div class="row">
                             <div class="col-md-6 text-center">
                                 <i class="fa fa-phone fa-3x sr-contact"></i>
                                 <p>+55 17 3364 3100</p>
                             </div>
                             <div class="col-md-6 text-center">
                                 <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                                 <p><a class="yellow" href="mailto:franquia@logfitness.com.br">franquia@logfitness.com.br</a></p>
                             </div>
                         </div>
                     </div>
                     <div class="col-md-5 pull-right">
                        <?= $this->Flash->render() ?>
                        <h5 class="uper">Preencha para receber maiores informações</h5>
                          <small>* Dados obrigatórios</small>
                          <?= $this->Form->create(null,['url' => ['action' => 'franquia_envio2']]) ?>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <?= $this->Form->input('name', [
                                    'div'           => false,
                                    'label'         => false,
                                    'class'         => 'form-control',
                                    'placeholder'   => 'Nome completo*',
                                    'required'      => true
                                ])?>
                            </div>
                            <div class="col-md-8 form-group">
                                <?= $this->Form->input('email', [
                                    'div'           => false,
                                    'label'         => false,
                                    'class'         => 'form-control',
                                    'placeholder'   => 'Seu melhor e-mail*',
                                    'type'          => 'email',
                                    'required'      => true
                                ])?>
                            </div>
                            <div class="col-md-4 form-group">
                                <?= $this->Form->input('phone', [
                                    'id'            => 'phone',
                                    'div'           => false,
                                    'label'         => false,
                                    'class'         => 'form-control',
                                    'placeholder'   => 'Telefone*',
                                    'type'          => 'tel',
                                    'required'      => true
                                ])?>
                             </div>
                             <div class="col-md-6 form-group">
                                <?= $this->Form->input('uf_id', [
                                    'label'         => false,
                                    'id'            => 'states-franquia',
                                    'div'           => false,
                                    'options'       => $states,
                                    'empty'         => 'Selecione um estado',
                                    'placeholder'   => 'Estado',
                                    'class'         => 'form-control',
                                    'required'      => false
                                ]) ?>
                             </div>
                             <div class="col-md-6 form-group">
                                <?= $this->Form->input('city_id', [
                                    'label'         => false,
                                    'id'            => 'city-franquia',
                                    'div'           => false,
                                    'empty'         => 'Selecione uma cidade',
                                    'placeholder'   => 'Cidade',
                                    'class'         => 'form-control',
                                    'disabled'       => true,
                                    'required'      =>  false
                                ]) ?>
                             </div>
                             
                             <div class="col-md-12 form-group">
                                 <select id="cidades" class="form-control" name="grau_interesse">
                                     <option>Qual o seu grau de interesse?</option>
                                     <option value="Pouco interessado">Pouco interessado</option>
                                     <option value="Interessado">Interessado</option>
                                     <option value="Muito interessado">Muito interessado</option>
                                 </select>
                                 <p class="help-block text-danger"></p>
                             </div>
                            <div class="col-md-6 text-center pull-right">
                                <?= $this->Form->button('Quero Saber mais', [
                                    'type'      => 'submit',
                                    'class'     => 'btn btn-default btn-xl sr-button bg-yellow',
                                    'escape'    => false
                                ]) ?>
                            </div>
                            <?= $this->Form->end()?>
                          <small>Verifique também sua caixa de spam, caso não receba o email.</small>
                     </div>
                 </div>
               </div>
             </div>
         </section>
         <footer class="footer">
             <div class="container">
                <div class="row">
                   <div class="col-md-9">
                      <p>Copyright © www.logfitness.com.br. TODOS OS DIREITOS RESERVADOS.</p>
                   </div>
                   <div class="col-md-3 pull-right">
                      <?= $this->Html->image('logfitnessfranquiasfooter.png', ['alt' => 'Logfitness']); ?>
                   </div>
                </div>
             </div>
         </footer>
          <?= $this->Html->script('jquery/jquery.min.js') ?>
          <?= $this->Html->script('jquery.mask.min.js')?>
          <?= $this->Html->js('bootstrap.min.js') ?>
          <?= $this->Html->js('grayscale.min.js') ?>
          <?php if($_GET['anchor'] == 1) { ?>
                <script type="text/javascript">
                    $(window).load(function() {
                        $('html, body').animate({
                            scrollTop: $('#contact').offset().top
                        }, 1000);
                    });
                </script>
            <?php } ?>
          <script>
            $("#phone").mask("(00) 00000-0009");
            $('#states-franquia').on('change', function(){
                var state_id = $(this).val();
                $.get(WEBROOT_URL + '/cidades/' + state_id,
                    function(data){
                        $('#city-franquia').html(data);
                    });
            });
          </script>
          <script>

            var map;
            function initMap() {
              map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: new google.maps.LatLng(-15.730632, -49.565203),
                mapTypeId: 'terrain',
                scrollwheel: false
              });

            <?php
            $academias_address = '';
            $academias_info = '';

            foreach($academias_map as $academia):
            $academias_address =
                "'"
                . $academia->address . ','
                . $academia->number . ','
                . $academia->area . ','
                . str_replace("'", '´', $academia->city->name) . ','
                . $academia->city->uf
                . "'";

            $academias_info =

                str_replace("'", '´', $academia->shortname) . ' :: ' . str_replace("'", '´', $academia->city->name) . '-' . $academia->city->uf;

            $pass = 0;

            if(!empty($academia->latitude) && !empty($academia->longitude)){
            ?>
            var latlng = new google.maps.LatLng(<?= $academia->latitude; ?>, <?= $academia->longitude; ?>);
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: "<?= $academias_info; ?>",
                icon: WEBROOT_URL + 'img/map-marker.png'
            });

            <?php if($academia->city_id == 5179) { ?>
                function attachSecretMessage(marker, secretMessage) {
                  var infowindow = new google.maps.InfoWindow({
                    content: secretMessage
                  });

                  marker.addListener('click', function() {
                    infowindow.open(marker.get('map'), marker);
                  });
                }

                attachSecretMessage(marker, '<center>Já chegamos até em Fernando de Noronha!<br>Pela sua curiosidade, utilize o cupom: "Noronha10" e ganhe 10% de desconto!</center>');
            <?php } ?>

            google.maps.event.addListener(marker, 'click', function () {
                select_academia("<?= $academia->city->uf ?>", "<?= $academia->city->name ?>", <?= $academia->id; ?>);
            });

            <?php
            }else{
            //$pass = $pass + 100;
            /*if($pass >= 10) {
                //sleep(1);
                $pass = 0;
            }*/
            ?>
            //setTimeout(function () {
            $.getJSON('https://maps.googleapis.com/maps/api/geocode/json?address=' + <?= $academias_address; ?> +'&sensor=false',
                null,
                function (data) {
                    //console.log(data);
                    var p = [];
                    if (data.results[0].geometry.location) {
                        p = data.results[0].geometry.location;
                    } else {
                        p = data.results[0]['geometry']['location'];
                    }

                    var latlng = new google.maps.LatLng(p.lat, p.lng);
                    var marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        title: "<?= $academias_info; ?>",
                        icon: WEBROOT_URL + 'img/map-marker.png'
                        //shadow:     WEBROOT_URL + 'img/map-marker.png'
                    });

                    google.maps.event.addListener(marker, 'click', function () {
                        select_academia("<?= $academia->city->uf ?>", "<?= $academia->city->name ?>", <?= $academia->id; ?>);
                    });

                    $.ajax({
                        type: "POST",
                        url: WEBROOT_URL + "academia-cordinates-add/" + <?= $academia->id; ?> +'/' + p.lat + '/' + p.lng,
                        data: {}
                    }).done(function (data_academia) {
                        //console.log(data_academia);
                    });
                });
            //}, <?= $pass; ?>);
            <?php
            }
            endforeach;
            ?>
          }
          </script>
          <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJCTAVhfiDaRSNBflCc-Mn2m6tsZo5oF4&callback=initMap">
          </script>
          <!-- Smartsupp Live Chat script -->
          <script type="text/javascript">
              var _smartsupp = _smartsupp || {};
              _smartsupp.key = '472d82fddbe4326ca5661de701a829a7553ce341';
              window.smartsupp||(function(d) {
                  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
                  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
                  c.type='text/javascript';c.charset='utf-8';c.async=true;
                  c.src='//www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
              })(document);
          </script>
          <!-- Google Analytics -->
          <script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                    function () {
                        (b[l].q = b[l].q || []).push(arguments)
                    });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-64522723-3', 'auto');
            ga('send', 'pageview');
          </script>
          <script>
            $('select[name="uf_id"]').on('change', function() {
                var estadoId = $(this).val();
                if(estadoId >= 1){
                  setTimeout(function() { 
                    $('#city-franquia').removeAttr('disabled');
                  }, 2000);
                }
                else{
                  console.log('não passou no if');
                }
            });
          </script>
     </body>
 </html>