<div class="overlay loading">
    <div class="loading-box text-center">
        <?= $this->Html->image('new-loading.gif', ['class' => 'image-loading']); ?>
        <span>Atualizando...</span>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center">
	<button class="btn btn-success btn-teste">TESTE</button>
</div>

<script>
	$(document).ready(function() {
		var loading = $('.loading')
		$('.btn-teste').click(function(){
			loading.show();
		});
		$('.loading').click(function(){
			loading.hide();
		});
	});
</script>