<style>
    body{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>

<h2>Atenção!</h2>
<br>
<p>
   A academia <?= $academia ?> de código <?= $academia_codigo ?> realizou alteração nos seus dados
</p>
<br>
<br>
<p>
    LogFitness - &copy; <?= date('Y') ?>
</p>