<p>Olá =)</p>
<br>
<p>Eu sou o Felipe, um dos criadores da Logfitness.</p>
<p>Nosso sonho é criar uma plataforma que tenha tudo de bom de uma loja virtual e de uma loja de tijolo.</p>
<p>Isso funciona com a sua academia tendo uma loja dentro da nossa plataforma. Já são + de 1700 academias em todo o Brasil com a gente!</p>
<p>Juntos trabalhamos pra você ter a melhor experiência de compras e resultados nos treinos!</p>
<br>
<p>Deixo este canal aberto para conversarmos. Críticas nos fazem crescer e elogios nos fazem sorrir.</p>
<br>
<p>Muito obrigado =)</p>
<br>
<br>
<p>Felipe Schumaher</p>
<p>www.logfitness.com.br</p>
<br>
<p><i>"Daqui um ano você vai desejar que tivesse começado hoje"</i></p>