<span style='color: #000' title='Frames'>    11</span><span style='color: #009' title='Memory'>  19200.00 KB</span><span style='color: #900' title='Time'>     76.00 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />