<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <title>LOGFITNESS - Ooops></title>
    </head>
    <body>

        <style>
            .conteudo{
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -170px;
                margin-top: -227px;
            }
        </style>
        <div class="col-xs-6 conteudo">
            <img src="" alt="">
        </div>
    </body>