@font-face {
    font-family: 'iconic';
    src: url('iconic.eot?99378382');
    src: url('iconic.eot?99378382#iefix') format('embedded-opentype'),
    url('iconic.woff?99378382') format('woff'),
    url('iconic.ttf?99378382') format('truetype'),
    url('iconic.svg?99378382#iconic') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-iconic-']:before,
[class*=' icon-iconic-']:before {
    font-family: 'iconic';
}

.icon-iconic-search:before { content: '\e800'; } /* 'î €' */
.icon-iconic-mail:before { content: '\e801'; } /* 'î ' */
.icon-iconic-heart:before { content: '\e802'; } /* 'î ‚' */
.icon-iconic-heart-empty:before { content: '\e803'; } /* 'î ƒ' */
.icon-iconic-star:before { content: '\e804'; } /* 'î „' */
.icon-iconic-user:before { content: '\e805'; } /* 'î …' */
.icon-iconic-video:before { content: '\e806'; } /* 'î †' */
.icon-iconic-picture:before { content: '\e807'; } /* 'î ‡' */
.icon-iconic-camera:before { content: '\e808'; } /* 'î ˆ' */
.icon-iconic-ok:before { content: '\e809'; } /* 'î ‰' */
.icon-iconic-ok-circle:before { content: '\e80a'; } /* 'î Š' */
.icon-iconic-cancel:before { content: '\e80b'; } /* 'î ‹' */
.icon-iconic-cancel-circle:before { content: '\e80c'; } /* 'î Œ' */
.icon-iconic-plus:before { content: '\e80d'; } /* 'î ' */
.icon-iconic-plus-circle:before { content: '\e80e'; } /* 'î Ž' */
.icon-iconic-minus:before { content: '\e80f'; } /* 'î ' */
.icon-iconic-minus-circle:before { content: '\e810'; } /* 'î ' */
.icon-iconic-help:before { content: '\e811'; } /* 'î ‘' */
.icon-iconic-info:before { content: '\e812'; } /* 'î ’' */
.icon-iconic-home:before { content: '\e813'; } /* 'î “' */
.icon-iconic-link:before { content: '\e814'; } /* 'î ”' */
.icon-iconic-attach:before { content: '\e815'; } /* 'î •' */
.icon-iconic-lock:before { content: '\e816'; } /* 'î –' */
.icon-iconic-lock-empty:before { content: '\e817'; } /* 'î —' */
.icon-iconic-lock-open:before { content: '\e818'; } /* 'î ˜' */
.icon-iconic-lock-open-empty:before { content: '\e819'; } /* 'î ™' */
.icon-iconic-pin:before { content: '\e81a'; } /* 'î š' */
.icon-iconic-eye:before { content: '\e81b'; } /* 'î ›' */
.icon-iconic-tag:before { content: '\e81c'; } /* 'î œ' */
.icon-iconic-tag-empty:before { content: '\e81d'; } /* 'î ' */
.icon-iconic-download:before { content: '\e81e'; } /* 'î ž' */
.icon-iconic-upload:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-iconic-download-cloud:before { content: '\e820'; } /* 'î  ' */
.icon-iconic-upload-cloud:before { content: '\e821'; } /* 'î ¡' */
.icon-iconic-quote-left:before { content: '\e822'; } /* 'î ¢' */
.icon-iconic-quote-right:before { content: '\e823'; } /* 'î £' */
.icon-iconic-quote-left-alt:before { content: '\e824'; } /* 'î ¤' */
.icon-iconic-quote-right-alt:before { content: '\e825'; } /* 'î ¥' */
.icon-iconic-pencil:before { content: '\e826'; } /* 'î ¦' */
.icon-iconic-pencil-neg:before { content: '\e827'; } /* 'î §' */
.icon-iconic-pencil-alt:before { content: '\e828'; } /* 'î ¨' */
.icon-iconic-undo:before { content: '\e829'; } /* 'î ©' */
.icon-iconic-comment:before { content: '\e82a'; } /* 'î ª' */
.icon-iconic-comment-inv:before { content: '\e82b'; } /* 'î «' */
.icon-iconic-comment-alt:before { content: '\e82c'; } /* 'î ¬' */
.icon-iconic-comment-inv-alt:before { content: '\e82d'; } /* 'î ­' */
.icon-iconic-comment-alt2:before { content: '\e82e'; } /* 'î ®' */
.icon-iconic-comment-inv-alt2:before { content: '\e82f'; } /* 'î ¯' */
.icon-iconic-chat:before { content: '\e830'; } /* 'î °' */
.icon-iconic-chat-inv:before { content: '\e831'; } /* 'î ±' */
.icon-iconic-location:before { content: '\e832'; } /* 'î ²' */
.icon-iconic-location-inv:before { content: '\e833'; } /* 'î ³' */
.icon-iconic-location-alt:before { content: '\e834'; } /* 'î ´' */
.icon-iconic-compass:before { content: '\e835'; } /* 'î µ' */
.icon-iconic-trash:before { content: '\e836'; } /* 'î ¶' */
.icon-iconic-trash-empty:before { content: '\e837'; } /* 'î ·' */
.icon-iconic-doc:before { content: '\e838'; } /* 'î ¸' */
.icon-iconic-doc-inv:before { content: '\e839'; } /* 'î ¹' */
.icon-iconic-doc-alt:before { content: '\e83a'; } /* 'î º' */
.icon-iconic-doc-inv-alt:before { content: '\e83b'; } /* 'î »' */
.icon-iconic-article:before { content: '\e83c'; } /* 'î ¼' */
.icon-iconic-article-alt:before { content: '\e83d'; } /* 'î ½' */
.icon-iconic-book-open:before { content: '\e83e'; } /* 'î ¾' */
.icon-iconic-folder:before { content: '\e83f'; } /* 'î ¿' */
.icon-iconic-folder-empty:before { content: '\e840'; } /* 'î¡€' */
.icon-iconic-box:before { content: '\e841'; } /* 'î¡' */
.icon-iconic-rss:before { content: '\e842'; } /* 'î¡‚' */
.icon-iconic-rss-alt:before { content: '\e843'; } /* 'î¡ƒ' */
.icon-iconic-cog:before { content: '\e844'; } /* 'î¡„' */
.icon-iconic-wrench:before { content: '\e845'; } /* 'î¡…' */
.icon-iconic-share:before { content: '\e846'; } /* 'î¡†' */
.icon-iconic-calendar:before { content: '\e847'; } /* 'î¡‡' */
.icon-iconic-calendar-inv:before { content: '\e848'; } /* 'î¡ˆ' */
.icon-iconic-calendar-alt:before { content: '\e849'; } /* 'î¡‰' */
.icon-iconic-mic:before { content: '\e84a'; } /* 'î¡Š' */
.icon-iconic-volume-off:before { content: '\e84b'; } /* 'î¡‹' */
.icon-iconic-volume-up:before { content: '\e84c'; } /* 'î¡Œ' */
.icon-iconic-headphones:before { content: '\e84d'; } /* 'î¡' */
.icon-iconic-clock:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-iconic-lamp:before { content: '\e84f'; } /* 'î¡' */
.icon-iconic-block:before { content: '\e850'; } /* 'î¡' */
.icon-iconic-resize-full:before { content: '\e851'; } /* 'î¡‘' */
.icon-iconic-resize-full-alt:before { content: '\e852'; } /* 'î¡’' */
.icon-iconic-resize-small:before { content: '\e853'; } /* 'î¡“' */
.icon-iconic-resize-small-alt:before { content: '\e854'; } /* 'î¡”' */
.icon-iconic-resize-vertical:before { content: '\e855'; } /* 'î¡•' */
.icon-iconic-resize-horizontal:before { content: '\e856'; } /* 'î¡–' */
.icon-iconic-move:before { content: '\e857'; } /* 'î¡—' */
.icon-iconic-popup:before { content: '\e858'; } /* 'î¡˜' */
.icon-iconic-down:before { content: '\e859'; } /* 'î¡™' */
.icon-iconic-left:before { content: '\e85a'; } /* 'î¡š' */
.icon-iconic-right:before { content: '\e85b'; } /* 'î¡›' */
.icon-iconic-up:before { content: '\e85c'; } /* 'î¡œ' */
.icon-iconic-down-circle:before { content: '\e85d'; } /* 'î¡' */
.icon-iconic-left-circle:before { content: '\e85e'; } /* 'î¡ž' */
.icon-iconic-right-circle:before { content: '\e85f'; } /* 'î¡Ÿ' */
.icon-iconic-up-circle:before { content: '\e860'; } /* 'î¡ ' */
.icon-iconic-cw:before { content: '\e861'; } /* 'î¡¡' */
.icon-iconic-loop:before { content: '\e862'; } /* 'î¡¢' */
.icon-iconic-loop-alt:before { content: '\e863'; } /* 'î¡£' */
.icon-iconic-exchange:before { content: '\e864'; } /* 'î¡¤' */
.icon-iconic-split:before { content: '\e865'; } /* 'î¡¥' */
.icon-iconic-arrow-curved:before { content: '\e866'; } /* 'î¡¦' */
.icon-iconic-play:before { content: '\e867'; } /* 'î¡§' */
.icon-iconic-play-circle2:before { content: '\e868'; } /* 'î¡¨' */
.icon-iconic-stop:before { content: '\e869'; } /* 'î¡©' */
.icon-iconic-pause:before { content: '\e86a'; } /* 'î¡ª' */
.icon-iconic-to-start:before { content: '\e86b'; } /* 'î¡«' */
.icon-iconic-to-end:before { content: '\e86c'; } /* 'î¡¬' */
.icon-iconic-eject:before { content: '\e86d'; } /* 'î¡­' */
.icon-iconic-target:before { content: '\e86e'; } /* 'î¡®' */
.icon-iconic-signal:before { content: '\e86f'; } /* 'î¡¯' */
.icon-iconic-award:before { content: '\e870'; } /* 'î¡°' */
.icon-iconic-award-empty:before { content: '\e871'; } /* 'î¡±' */
.icon-iconic-list:before { content: '\e872'; } /* 'î¡²' */
.icon-iconic-list-nested:before { content: '\e873'; } /* 'î¡³' */
.icon-iconic-bat-empty:before { content: '\e874'; } /* 'î¡´' */
.icon-iconic-bat-half:before { content: '\e875'; } /* 'î¡µ' */
.icon-iconic-bat-full:before { content: '\e876'; } /* 'î¡¶' */
.icon-iconic-bat-charge:before { content: '\e877'; } /* 'î¡·' */
.icon-iconic-mobile:before { content: '\e878'; } /* 'î¡¸' */
.icon-iconic-cd:before { content: '\e879'; } /* 'î¡¹' */
.icon-iconic-equalizer:before { content: '\e87a'; } /* 'î¡º' */
.icon-iconic-cursor:before { content: '\e87b'; } /* 'î¡»' */
.icon-iconic-aperture:before { content: '\e87c'; } /* 'î¡¼' */
.icon-iconic-aperture-alt:before { content: '\e87d'; } /* 'î¡½' */
.icon-iconic-steering-wheel:before { content: '\e87e'; } /* 'î¡¾' */
.icon-iconic-book:before { content: '\e87f'; } /* 'î¡¿' */
.icon-iconic-book-alt:before { content: '\e880'; } /* 'î¢€' */
.icon-iconic-brush:before { content: '\e881'; } /* 'î¢' */
.icon-iconic-brush-alt:before { content: '\e882'; } /* 'î¢‚' */
.icon-iconic-eyedropper:before { content: '\e883'; } /* 'î¢ƒ' */
.icon-iconic-layers:before { content: '\e884'; } /* 'î¢„' */
.icon-iconic-layers-alt:before { content: '\e885'; } /* 'î¢…' */
.icon-iconic-sun:before { content: '\e886'; } /* 'î¢†' */
.icon-iconic-sun-inv:before { content: '\e887'; } /* 'î¢‡' */
.icon-iconic-cloud:before { content: '\e888'; } /* 'î¢ˆ' */
.icon-iconic-rain:before { content: '\e889'; } /* 'î¢‰' */
.icon-iconic-flash:before { content: '\e88a'; } /* 'î¢Š' */
.icon-iconic-moon:before { content: '\e88b'; } /* 'î¢‹' */
.icon-iconic-moon-inv:before { content: '\e88c'; } /* 'î¢Œ' */
.icon-iconic-umbrella:before { content: '\e88d'; } /* 'î¢' */
.icon-iconic-chart-bar:before { content: '\e88e'; } /* 'î¢Ž' */
.icon-iconic-chart-pie:before { content: '\e88f'; } /* 'î¢' */
.icon-iconic-chart-pie-alt:before { content: '\e890'; } /* 'î¢' */
.icon-iconic-key:before { content: '\e891'; } /* 'î¢‘' */
.icon-iconic-key-inv:before { content: '\e892'; } /* 'î¢’' */
.icon-iconic-hash:before { content: '\e893'; } /* 'î¢“' */
.icon-iconic-at:before { content: '\e894'; } /* 'î¢”' */
.icon-iconic-pilcrow:before { content: '\e895'; } /* 'î¢•' */
.icon-iconic-dial:before { content: '\e896'; } /* 'î¢–' */